.qela-alert {
	&.alert {
		i {
			&.ic-large {
				&::before {
					font-size: rem(38);
				}
			}
		}
	}
	&.alert-secondary {
		--bs-alert-bg: var(--bs-ql-secondary-100);
		--bs-alert-border-color: var(--bs-secondary);
		--bs-alert-color: var(--bs-ql-secondary-700);
	}
	&.alert-danger {
		--bs-alert-bg: var(--bs-ql-danger-100);
		--bs-alert-border-color: var(--bs-danger);
		--bs-alert-color: var(--bs-danger);
	}

	&.alert-warning {
		--bs-alert-bg: var(--bs-ql-warning-100);
		--bs-alert-border-color: var(--bs-warning);
		--bs-alert-color: var(--bs-ql-warning-600);
	}

	&.alert-info {
		--bs-alert-bg: var(--bs-ql-info-100);
		--bs-alert-border-color: var(--bs-info);
		--bs-alert-color: var(--bs-ql-info-600);
	}
	&.alert-success {
		--bs-alert-bg: #{var(--bs-ql-success-100)};
		--bs-alert-border-color: var(--bs-success);
		--bs-alert-color: var(--bs-ql-success-700);
	}
}
