{% macro tabBar(props, isActive) %}
	<ul class="nav nav-pills nav-fill qela-nav">
		{% for item in props %}
			<li class="nav-item">
				<a class="nav-link {{ 'active' if item.text == isActive }}" href="#">
					{% if item.type == "icon" %}
						<i class="ic-{{item.icon}} icon"></i>
						<i class="ic-{{item.iconFilled}} icon-filled"></i>
					{% elif item.type == "img" %}
						<span href="#" class="qela-avatar qela-ibg" style="--img-size: 30px">
							<img src="img/type-logo.svg" alt="#">
						</span>
					{% endif %}
					{{item.text}}
				</a>
			</li>
		{% endfor %}
	</ul>
{% endmacro %}