<div class="qela-quantity">
	<div class="d-flex gap-3">
		<button type="button" class="ic-add btn-ic"></button>
		<input type="number" class="form-control text-center">
		<button type="button" class="ic-minus-circled btn-ic"></button>
	</div>
</div>