<button type="button" class="card qela-card-shop p-3 border">
	<div class="qela-ibg">
		<img  src="img/shop/{{img.imgSrc}}" alt="{{img.imgAlt}}">
	</div>
	<small class="card-text fw-semibold qela-clamp text-break mt-2" style="--clamp-line: 2">Колекційна футболка від гурту ТНМК з автографом</small>
	<div class="card-body p-0 mt-3 d-grid gap-2">
		<div class="d-flex gap-2 justify-content-between">
			<div>
				<div class='text-info-700 display-7'>Ціна Бали</div>
				<small class="mt-2 fw-semibold d-flex align-items-center">
					<img src="img/icons/orden-red.svg" width="18" height="18" alt="orden-red">
					75
				</small>
			</div>
			<div>
				<div class='text-info-700 display-7'>В наявності</div>
				<small class="mt-2 fw-semibold d-block">Немає</small>
			</div>
		</div>
		<span class="btn btn-outline-secondary btn-sm">Купити</span>
	</div>
</button>