<button type="button" class="card qela-card-shop qela-card-row p-3">
	<div class="d-flex gap-2">
		<div class="qela-ibg">
			<img src="img/shop/{{cardContent.imgSrc}}" alt="{{cardContent.imgAlt}}">
		</div>
		<small class="card-text">{{cardContent.cardText}}</small>
	</div>
	<div class="card-body p-0 mt-2 d-flex gap-3 justify-content-end display-7">
		<span>2 шт.</span>
		<span>150 балів</span>
	</div>
</button>