.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	&.ic-right {
		flex-direction: row-reverse;
	}
	&.success {
		--bs-btn-bg: var(--bs-ql-success-100) !important;
		--bs-btn-color: var(--bs-success) !important;
		--bs-btn-border-color: var(--bs-ql-success-100) !important;
		position: relative;
		padding-right: rem(48);
		padding-left: rem(48);

		&::after {
			content: "\e932";
			font-family: "icons";
			position: absolute;
			font-size: rem(24);
			right: 16px;
			top: 50%;
			transform: translateY(-50%);
		}

		&::before {
			display: none;
		}
		&:active {
			--bs-btn-active-bg: var(--bs-ql-success-300) !important;
			--bs-btn-active-color: var(--bs-success) !important;
			--bs-btn-active-border-color: var(--bs-ql-success-100) !important;
		}
		&:hover {
			--bs-btn-hover-color: var(--bs-success) !important;
			--bs-btn-hover-bg: var(--bs-ql-success-100) !important;
			--bs-btn-hover-border-color: var(--bs-ql-success-100) !important;
		}
		&:disabled {
			--bs-btn-disabled-color: var(--bs-success) !important;
			--bs-btn-disabled-bg: var(--bs-ql-success-100) !important;
			--bs-btn-disabled-border-color: var(--bs-ql-success-100) !important;
		}
	}
	&.active--filter {
		position: relative;
		&::after {
			content: "";
			position: absolute;
			width: 10px;
			height: 10px;
			background-color: var(--bs-secondary);
			border-radius: 50%;
			top: -4px;
			right: -3px;
		}
	}
	// &:disabled,
	// &.disabled {
	// 	color: var(--bs-white);
	// 	background-color: var(--bs-ql-info-300);;
	// 	border-color: var(--bs-ql-info-300);;
	// }
}

.btn-primary {
	--bs-btn-color: var(--bs-black);
	--bs-btn-bg: var(--bs-primary);
	--bs-btn-border-color: var(--bs-primary);
	&:active {
		--bs-btn-active-bg: var(--bs-ql-primary-600);
		--bs-btn-active-border-color: var(--bs-ql-primary-600);
	}
	&:disabled {
		--bs-btn-disabled-bg: var(--bs-ql-primary-300);
		--bs-btn-disabled-border-color: var(--bs-ql-primary-300);
	}
}
.btn-secondary {
	--bs-btn-color: var(--bs-white);
	--bs-btn-bg: var(--bs-secondary);
	--bs-btn-border-color: var(--bs-secondary);
	&:hover {
		--bs-btn-hover-color: var(--bs-white);
		--bs-btn-hover-bg: var(--bs-secondary);
		--bs-btn-hover-border-color: var(--bs-secondary);
	}

	&:active {
		--bs-btn-active-color: var(--bs-white);
		--bs-btn-active-bg: var(--bs-ql-secondary-600);
		--bs-btn-active-border-color: var(--bs-ql-secondary-600);
	}
	&:disabled {
		--bs-btn-disabled-color: var(--bs-white);
		--bs-btn-disabled-bg: var(--bs-ql-secondary-300);
		--bs-btn-disabled-border-color: var(--bs-ql-secondary-300);
	}
}

.btn-info {
	--bs-btn-bg: var(--bs-body-bg);
	--bs-btn-border-color: var(--bs-body-bg);
	&:hover {
		--bs-btn-hover-bg: var(--bs-body-bg);
		--bs-btn-hover-border-color: var(--bs-body-bg);
	}
	&:active {
		--bs-btn-active-bg: var(--bs-ql-info-200);
		--bs-btn-active-border-color: var(--bs-ql-info-200);
	}
	&:disabled,
	&.disabled {
		--bs-btn-disabled-color: var(--bs-ql-info-600);
		--bs-btn-disabled-bg: var(--bs-ql-info-200);
		--bs-btn-disabled-border-color: var(--bs-ql-info-200);
	}
}

.btn-light {
	&:hover {
		--bs-btn-hover-color: var(--bs-black);
		--bs-btn-hover-bg: var(--bs-white);
		--bs-btn-hover-border-color: var(--bs-white);
	}

	&:active {
		--bs-btn-active-color: var(--bs-black);
		--bs-btn-active-bg: var(--bs-ql-info-100);
		--bs-btn-active-border-color: var(--bs-ql-info-100);
	}

	&:disabled,
	&.disabled {
		--bs-btn-disabled-color: var(--bs-ql-info-600);
		--bs-btn-disabled-bg: var(--bs-white);
		--bs-btn-disabled-border-color: var(--bs-white);
	}
}

.btn-outline-secondary {
	--bs-btn-color: var(--bs-black);
	--bs-btn-border-color: var(--bs-black);
	--bs-btn-bg: var(--bs-white);
	&:hover {
		--bs-btn-hover-color: var(--bs-black);
		--bs-btn-hover-bg: var(--bs-white);
		--bs-btn-hover-border-color: var(--bs-black);
	}
	&:active {
		--bs-btn-active-color: var(--bs-black);
		--bs-btn-active-bg: var(--bs-ql-info-100);
		--bs-btn-active-border-color: var(--bs-black);
	}
	&:disabled,
	&.disabled {
		--bs-btn-disabled-color: var(--bs-ql-info-600);
		--bs-btn-disabled-bg: var(--bs-white);
		--bs-btn-disabled-border-color: var(--bs-ql-info-300);
	}
}

.btn-danger {
	--bs-btn-color: var(--bs-ql-danger-900);
	--bs-btn-border-color: var(--bs-ql-danger-200);
	--bs-btn-bg: var(--bs-ql-danger-200);
	&:hover {
		--bs-btn-hover-color: var(--bs-ql-danger-900);
		--bs-btn-hover-bg: var(--bs-ql-danger-200);
		--bs-btn-hover-border-color: var(--bs-ql-danger-200);
	}

	&:active {
		--bs-btn-active-color: var(--bs-ql-danger-900);
		--bs-btn-active-bg: var(--bs-ql-danger-300);
		--bs-btn-active-border-color: var(--bs-ql-danger-300);
	}
	&:disabled,
	&.disabled {
		--bs-btn-disabled-color: var(--bs-ql-danger-300);
		--bs-btn-disabled-bg: var(--bs-ql-danger-100);
		--bs-btn-disabled-border-color: var(--bs-ql-danger-100);
	}
}

.btn-warning {
	--bs-btn-color: var(--bs-ql-warning-900);
	--bs-btn-border-color: var(--bs-ql-warning-200);
	--bs-btn-bg: var(--bs-ql-warning-200);

	&:hover {
		--bs-btn-hover-color: var(--bs-ql-warning-900);
		--bs-btn-hover-bg: var(--bs-ql-warning-200);
		--bs-btn-hover-border-color: var(--bs-ql-warning-200);
	}

	&:active {
		--bs-btn-active-color: var(--bs-ql-warning-900);
		--bs-btn-active-bg: var(--bs-ql-warning-300);
		--bs-btn-active-border-color: var(--bs-ql-warning-300);
	}
	&:disabled,
	&.disabled {
		--bs-btn-disabled-color: var(--bs-ql-warning-300);
		--bs-btn-disabled-bg: var(--bs-ql-warning-100);
		--bs-btn-disabled-border-color: var(--bs-ql-warning-100);
	}
}

.btn-success {
	--bs-btn-color: var(--bs-ql-success-900);
	--bs-btn-border-color: #{var(--bs-ql-success-100)};
	--bs-btn-bg: #{var(--bs-ql-success-100)};
	&:hover {
		--bs-btn-hover-color: var(--bs-ql-success-900);
		--bs-btn-hover-bg: #{var(--bs-ql-success-100)};
		--bs-btn-hover-border-color: #{var(--bs-ql-success-100)};
	}

	&:active {
		--bs-btn-active-color: var(--bs-ql-success-900);
		--bs-btn-active-bg: var(--bs-ql-success-300);
		--bs-btn-active-border-color: var(--bs-ql-success-300);
	}
	&:disabled,
	&.disabled {
		--bs-btn-disabled-color: var(--bs-ql-success-400);
		--bs-btn-disabled-bg: #{var(--bs-ql-success-100)};
		--bs-btn-disabled-border-color: #{var(--bs-ql-success-100)};
	}
}

.btn-link {
	--bs-btn-color: var(--bs-secondary);
	--bs-btn-bg: transparent;
	--bs-btn-border-color: transparent;
	text-decoration: none;
	font-weight: 600;
	gap: 0.25rem;

	&:hover {
		--bs-btn-hover-color: var(--bs-secondary);
		--bs-btn-hover-border-color: transparent;
	}
	&:active {
		--bs-btn-active-color: var(--bs-ql-secondary-600);
	}
	&:disabled {
		background-color: transparent;
		--bs-btn-disabled-border-color: transparent;
		--bs-btn-disabled-color: var(--bs-ql-info-600) !important;
	}

	&.ic-right {
		padding: rem(12) rem(16);
	}

	&.btn-sm {
		padding: 0;

		&.ic-left {
			padding: 0;
		}
	}

	&.success {
		padding: 0;

		&::after {
			display: none;
		}
	}
}

.btn-sm {
	&::before {
		font-size: rem(16);
	}

	&.btn-link {
		font-size: rem(16);
		font-weight: 400;

		&.ic-right {
			&::before {
				font-size: rem(24);
			}
		}
	}

	&.success {
		padding-right: rem(32);
		padding-left: rem(32);

		&::after {
			font-size: rem(16);
			right: 8px;
		}
	}
}

// voting title button back

.qela-btn-top {
	display: flex;
	text-decoration: none;
	align-items: center;
	color: var(--bs-secondary);
	background-color: var(--bs-ql-secondary-200);
	border-radius: 20px;

	&:hover {
		color: var(--bs-secondary);
	}

	.left {
		padding: rem(9);
		border-right: 1px solid var(--bs-body-bg);

		&::before {
			font-size: rem(22);
		}
	}

	.right {
		font-weight: 500;
		font-size: rem(18);
		line-height: 21px;
		display: flex;
		align-items: center;
		gap: rem(4);
		padding: rem(6) rem(6) rem(6) rem(10);

		img {
			width: 24px;
			display: block;
		}
	}
}

.btn-round {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	color: var(--bs-black);
	background-color: var(--bs-white);
	border-radius: 50%;
	border: 1px solid var(--bs-ql-info-300);
	z-index: 2;
}

.btn-del {
	width: 24px;
	height: 24px;
	background: none;
	padding: 0;
	background-color: var(--bs-white);
	border-radius: 50%;
	border: none;

	&::before {
		font-size: rem(16);
	}
}
.btn-ic {
	background: none;
	padding: 0;
	background-color: transparent;
	border-radius: 50%;
	border: none;
	color: var(--bs-ql-info-700);
	transition: color 0.2s ease 0s;
	&:disabled {
		color: var(--bs-ql-info-400);
		pointer-events: none;
	}
	&:active {
		color: var(--bs-ql-info-900);
	}
}
.btn-custom {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--bs-white);
	padding: rem(6) rem(16) rem(6) rem(6);

	[class^="ic-"] {
		&:first-child {
			color: var(--bs-ql-secondary-600);

			&::before {
				font-size: rem(30);
			}
		}
	}

	> *:not(:last-child) {
		margin-right: rem(24);
	}

	&:hover {
		background-color: var(--bs-white);
	}
}

.btn-map {
	color: var(--bs-ql-info-600);
	padding: rem(12);

	&::before {
		font-size: rem(22);
	}

	&:not(:last-child) {
		margin-bottom: rem(1);
	}

	&:hover {
		color: var(--bs-ql-info-600);
		background-color: var(--bs-white);
	}
}

.btn-preset {
	padding: 0.75rem 1rem;
	border: 1px solid var(--bs-secondary);
	border-radius: 14px;
	background-color: var(--bs-ql-secondary-200);
	font-size: rem(18);
	font-weight: 400;
	display: inline-block;

	&:hover {
		background-color: var(--bs-ql-secondary-200);
		border-color: var(--bs-secondary);
	}
}

.btn-pay {
	padding: 0.625rem 1rem;
	border: none;
	width: 100%;

	&[class*="apple-"] {
		border-radius: 0.5rem;
		border: 1px solid var(--bs-black);
	}

	&[class*="google-"] {
		border-radius: 0.25rem;
	}

	&.pay-mark {
		width: auto;
	}

	&.apple-white,
	&.google-white {
		background-color: var(--bs-white);
	}

	&.apple-black,
	&.google-black {
		background-color: var(--bs-black);
	}

	&.google-white {
		box-shadow: 0px 0px 5px 0px color-mix(in srgb, var(--bs-black), transparent 80%);
	}
}

.btn-copyed {
	border: none;
	background-color: transparent;

	&[class="ic-"],
	[class*="ic-"] {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		gap: rem(10);
		color: var(--bs-ql-info-600);

		&.filled {
			color: var(--bs-success);
			display: none;

			&::before {
				color: var(--bs-success);
			}
		}
	}

	&.success {
		&[class="ic-"],
		[class*="ic-"] {
			display: none;

			&.filled {
				display: flex;
			}
		}
	}
}
.btns {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
	gap: 0.5rem;
	margin-bottom: 0.5rem;
}
.qela-close {
	flex: 0 0 72px;
	height: auto;
	background-color: var(--bs-body-bg);
	padding: 0;
}
