.form-check-label {
	a {
		text-decoration: none;
	}
}

.form-check-input {
	&:disabled {
		background-color: $gray-200;
		border-color: $gray-500;

		& ~ .form-check-label {
			color: $info-600;
		}
	}

	&:checked {
		&:disabled {
			background-color: $secondary-400;
			border-color: $secondary-400;
		}
	}

	&[type="radio"] {
		border-color: $black;
		background-color: $white;
		&:checked {
			border-width: 2px;
			border-color: $secondary-500;
			background-color: $secondary-200;
			background-size: 140%;
		}

		&:disabled {
			border-color: $gray-500;

			&:checked {
				border-color: $secondary-400;
				background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{rgba($secondary-400, 0.99)}'/></svg>");
			}
		}
	}

	&.invalid {
		border-color: $danger-500;

		&:checked {
			border-color: $secondary-500;
		}

		& ~ .form-error {
			display: block;
			margin-left: -$form-check-padding-start;
			padding-left: 0;
			width: 100%;
		}
	}
}
.form-switch {
	padding-left: 0;
	display: inline-flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	align-items: center;
	gap: 1.5rem;

	@media (max-width: ($md3+px)) {
		gap: 0.5rem;
	}

	.form-check-input {
		width: 3.2em;
		margin-left: 0;
		height: 1.75rem;
		background-color: $info-300;
		border: none;
		background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3.5' fill='#{rgba($white, 0.99)}'/></svg>");
		border-radius: 1em;
		float: none;
		transition:
			background-color 0.2s ease 0s,
			background-position 0.2s linear 0s;

		&:hover {
			background-color: $info-400;
		}

		&:disabled {
			background-color: $info-300;
			background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3.5' fill='#{rgba($info-100, 0.99)}'/></svg>");
		}

		&:checked {
			background-color: $secondary;
			background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3.5' fill='#{rgba($white, 0.99)}'/></svg>");

			&:hover {
				background-color: $secondary-700;
			}

			&:disabled {
				background-color: $info-300;
				background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3.5' fill='#{rgba($info-100, 0.99)}'/></svg>");
			}
		}

		&:focus {
			background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3.5' fill='#{rgba($white, 0.99)}'/></svg>");
		}
	}
}
