input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

.list-group {
	a {
		color: var(--bs-body-bg);
		text-decoration: none;
	}
}

.form-control {
	box-shadow: 0px 4px 10px color-mix(in srgb, var(--bs-black), transparent 95%);

	&:focus {
		box-shadow: 0px 4px 10px color-mix(in srgb, var(--bs-black), transparent 95%);
	}

	&:disabled {
		box-shadow: none;

		&::placeholder {
			color: var(--bs-ql-info-700);
		}
	}

	&.invalid {
		border-color: var(--bs-danger);

		& ~ .form-error {
			display: block;
		}

		& ~ .helper-text {
			display: none;
		}
	}
}

.form-label {
	margin-left: rem(4);
}

.qela-btn {
	padding: rem(5) rem(16);
	border-color: transparent;
	background: var(--bs-white);
	color: var(--bs-ql-info-400);

	&:active {
		color: var(--bs-ql-info-400) !important;
		border-color: transparent !important;
		background: var(--bs-white) !important;
	}

	&:hover {
		background: var(--bs-white);
		border-color: transparent;
		color: var(--bs-ql-info-400);
	}
}

.helper-text {
	display: block;
	width: 100%;
	color: var(--bs-ql-info-700);
	line-height: 120%;
	padding: rem(2) 0 0 rem(4);
}

.form-error {
	width: 100%;
	color: var(--bs-danger);
	font-size: rem(14);
	line-height: 13px;
	padding: rem(4) 0 0 rem(4);
	display: none;
}

.qela-input-group {
	box-shadow: 0px 4px 10px color-mix(in srgb, var(--bs-black), transparent 95%);
	background-color: var(--bs-white);
	border-radius: $input-border-radius;
	&.custom-large {
		box-shadow: none;

		.form-control {
			padding: 1.5rem 0;
			text-align: right;
			font-size: rem(48);
			font-weight: 500;
			border-radius: 0;
			caret-color: var(--bs-ql-secondary-700);
		}

		.input-group-text {
			font-size: rem(48);
			font-weight: 500;
			color: var(--bs-info);
			width: 50%;
			margin: 0;
			padding: 0 0 0 rem(10);
			border: 0;
			border-radius: 0;
		}
	}

	&.has-validation {
		border: 1px solid var(--bs-danger);
		border-radius: $input-border-radius;

		& ~ .helper-text {
			display: none;
		}

		& ~ .form-error {
			display: block;
		}
	}

	.form-control {
		border: none;
		box-shadow: none;
	}

	.qela-btn {
		border: none;
	}
}
