input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

.list-group {
	a {
		color: $body-color;
		text-decoration: none;
	}
}

.form-control {
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);

	&:focus {
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
	}

	&:disabled {
		box-shadow: none;

		&::placeholder {
			color: #7e7e7e;
		}
	}

	&.invalid {
		border-color: $danger-500;

		& ~ .form-error {
			display: block;
		}

		& ~ .helper-text {
			display: none;
		}
	}
}

.form-label {
	margin-left: 4px;
}

.qela-btn {
	padding: 5px 16px;
	border-color: transparent;
	background: $white;
	color: $info-400;

	&:active {
		color: $info-400 !important;
		border-color: transparent !important;
		background: $white !important;
	}

	&:hover {
		background: $white;
		border-color: transparent;
		color: $info-400;
	}
}

.helper-text {
	display: block;
	width: 100%;
	color: $gray-700;
	line-height: 120%;
	padding: 2px 0px 0px 4px;
}

.form-error {
	width: 100%;
	color: $red;
	font-size: 14px;
	line-height: 13px;
	padding: 4px 0px 0px 4px;
	display: none;
}

.qela-input-group {
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
	background-color: $white;
	border-radius: $input-border-radius;
	&.custom-large {
		box-shadow: none;

		.form-control {
			padding: 1.5rem 0;
			text-align: right;
			font-size: 48px;
			font-weight: 500;
			border-radius: 0;
			caret-color: $secondary-700;
		}

		.input-group-text {
			font-size: 48px;
			font-weight: 500;
			color: $gray-500;
			width: 50%;
			margin: 0;
			padding: 0px 0px 0px 10px;
			border: 0;
			border-radius: 0;
		}
	}

	&.has-validation {
		border: 1px solid $danger-500;
		border-radius: $input-border-radius;

		& ~ .helper-text {
			display: none;
		}

		& ~ .form-error {
			display: block;
		}
	}

	.form-control {
		border: none;
		box-shadow: none;
	}

	.qela-btn {
		border: none;
	}
}
