.btn {
	&:disabled {
		color: $white;
		background-color: $disabled-surf-2;
		border-color: $disabled-surf-2;
	}

	&.disabled {
		color: $white;
		background-color: $disabled-surf-2;
		border-color: $disabled-surf-2;
	}

	&.ic-right {
		position: relative;
		padding-right: 48px;
		padding-left: 48px;

		&::before {
			position: absolute;
			right: 16px;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&.ic-left {
		position: relative;
		padding-right: 48px;
		padding-left: 48px;

		&::before {
			position: absolute;
			left: 16px;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&.success {
		background-color: $green-lite  !important;
		color: $green  !important;
		border-color: $green-lite  !important;
		position: relative;
		padding-right: 48px;
		padding-left: 48px;

		&::after {
			content: "\e932";
			font-family: "icons";
			position: absolute;
			font-size: 24px;
			right: 16px;
			top: 50%;
			transform: translateY(-50%);
		}

		&::before {
			display: none;
		}
	}
}

.btn-secondary {
	color: $white;

	&:hover {
		color: $white;
		background-color: $violet;
	}

	&:active {
		color: $white  !important;
		background: $violet  !important;
	}
}

.btn-light {
	font-weight: 600;

	&:hover {
		color: $black;
		background-color: $lightgray;
		border-color: $lightgray;
	}

	&:active {
		color: $black  !important;
		border-color: $lightgray  !important;
		background-color: $lightgray  !important;
	}

	&:disabled {
		color: $text_disable;
		background-color: $lightgray-1;
		border-color: $lightgray-1;
	}

	&.disabled {
		color: $text_disable;
		background-color: $lightgray-1;
		border-color: $lightgray-1;
	}
}

.btn-outline-secondary {
	border-color: $black;
	font-weight: 600;
	color: $black;

	&:active {
		color: $black  !important;
		border-color: $black  !important;
		background-color: transparent !important;
	}

	&:hover {
		color: $black;
		border-color: $black;
		background-color: transparent
	}

	&:disabled {
		color: $text_disable;
		background-color: transparent;
		border-color: $lightgray-3;
	}

	&.disabled {
		color: $text_disable;
		background-color: transparent;
		border-color: $lightgray-3;
	}
}

.btn-link {
	padding: 0;
	text-decoration: none;

	&.text-info {
		color: $gray-700  !important;
	}

	&:disabled {
		background-color: transparent;
		border: none;
		color: $text_disable  !important;
	}

	&.disabled {
		background-color: transparent;
		border: none;
		color: $text_disable  !important;
	}

	&.ic-left {
		padding: 0px 0px 0px 24px;

		&::before {
			left: 0;
		}
	}

	&.ic-right {
		padding: 0px 24px 0px 0px;

		&::before {
			right: 0;
		}
	}

	&.success {
		padding: 0;

		&::after {
			display: none;
		}
	}
}

.btn-sm {
	&.ic-right {
		padding-right: 32px;
		padding-left: 32px;

		&::before {
			font-size: 16px;
			right: 8px;
		}
	}

	&.ic-left {
		padding-right: 32px;
		padding-left: 32px;

		&::before {
			font-size: 16px;
			left: 8px;
		}
	}

	&.success {
		padding-right: 32px;
		padding-left: 32px;

		&::after {
			font-size: 16px;
			right: 8px;
		}
	}
}

// voting title button back
.btn-back {
	display: block;
	position: absolute;
	padding: 0;
	border: none;
	background-color: transparent;
	left: 0;
	top: 50%;
	text-decoration: none;
	transform: translateY(-50%);

	&::before {
		transform: rotate(90deg);
		font-size: 24px;
		color: $black;
	}
}