.btn {
	&:disabled {
		color: $white;
		background-color: $disabled-surf-2;
		border-color: $disabled-surf-2;
	}

	&.disabled {
		color: $white;
		background-color: $disabled-surf-2;
		border-color: $disabled-surf-2;
	}

	&.ic-right {
		position: relative;
		padding-right: 48px;
		padding-left: 48px;

		&::before {
			position: absolute;
			right: 16px;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&.ic-left {
		position: relative;
		padding-right: 48px;
		padding-left: 48px;

		&::before {
			position: absolute;
			left: 16px;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&.success {
		background-color: $green-lite  !important;
		color: $green  !important;
		border-color: $green-lite  !important;
		position: relative;
		padding-right: 48px;
		padding-left: 48px;

		&::after {
			content: "\e932";
			font-family: "icons";
			position: absolute;
			font-size: 24px;
			right: 16px;
			top: 50%;
			transform: translateY(-50%);
		}

		&::before {
			display: none;
		}
	}
}

.btn-secondary {
	color: $white;

	&:hover {
		color: $white;
		background-color: $violet;
	}

	&:active {
		color: $white  !important;
		background: $violet  !important;
	}
}

.btn-warning {
	color: $white;

	&:hover {
		color: $white;
		background-color: $orange-dark;
	}

	&:active {
		color: $white  !important;
		background: $orange-dark  !important;
	}
}

.btn-danger {
	color: $white;

	&:hover {
		color: $white;
		background-color: $red;
	}

	&:active {
		color: $white  !important;
		background: $red  !important;
	}
}

.btn-light {
	font-weight: 600;

	&:hover {
		color: $black;
		background-color: $lightgray;
		border-color: $lightgray;
	}

	&:active {
		color: $black  !important;
		border-color: $lightgray  !important;
		background-color: $lightgray  !important;
	}

	&:disabled {
		color: $text_disable;
		background-color: $lightgray-1;
		border-color: $lightgray-1;
	}

	&.disabled {
		color: $text_disable;
		background-color: $lightgray-1;
		border-color: $lightgray-1;
	}
}

.btn-outline-secondary {
	border-color: $black;
	color: $black;

	&:active {
		color: $black  !important;
		border-color: $black  !important;
		background-color: transparent !important;
	}

	&:hover {
		color: $black;
		border-color: $black;
		background-color: transparent
	}

	&:disabled {
		color: $text_disable;
		background-color: transparent;
		border-color: $lightgray-3;
	}

	&.disabled {
		color: $text_disable;
		background-color: transparent;
		border-color: $lightgray-3;
	}
}

.btn-link {
	text-decoration: none;
	font-weight: 600;

	&:disabled {
		background-color: transparent;
		border: none;
		color: $text_disable  !important;
	}

	&.disabled {
		background-color: transparent;
		border: none;
		color: $text_disable  !important;
	}

	&.ic-left,
	&.ic-right {
		padding: 12px 16px;
		display: inline-flex;
		align-items: center;
		justify-content: center;

		&::before {
			position: static;
			transform: translateY(0);
		}
	}

	&.ic-right {
		flex-direction: row-reverse;
	}

	&.btn-sm {
		padding: 0;

		&.ic-left,
		&.ic-right {
			padding: 0;
		}
	}

	&.success {
		padding: 0;

		&::after {
			display: none;
		}
	}
}

.btn-sm {
	&.ic-right {

		&::before {
			right: 8px;
			font-size: 16px;
		}
	}

	&.ic-left {
		&::before {
			left: 8px;
			font-size: 16px;
		}
	}

	&.btn-link {
		font-size: 16px;
		font-weight: 400;

		&.ic-left,
		&.ic-right {
			&::before {
				font-size: 24px;
			}
		}
	}

	&.success {
		padding-right: 32px;
		padding-left: 32px;

		&::after {
			font-size: 16px;
			right: 8px;
		}
	}
}

// voting title button back

.qela-btnTop {
	display: flex;
	text-decoration: none;
	align-items: center;
	color: $violet;
	background-color: $violet-light-2;
	border-radius: 20px;

	&:hover {
		color: $violet;
	}

	.left {
		padding: 9px;
		border-right: 1px solid $body-bg;

		&::before {
			font-size: 22px;
		}
	}

	.right {
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;
		display: flex;
		align-items: center;
		gap: 4px;
		padding: 6px 6px 6px 10px;

		img {
			width: 24px;
			display: block;
		}
	}
}

.qela-btnInfo {
	color: $violet;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	background-color: $violet-light-2;
	border-radius: 50%;

	&::before {
		font-size: 22px;
	}
}

.btn-round {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	color: $gray-700;
	background-color: $white;
	border-radius: 50%;
	border: none;
	z-index: 2;
}

.btn-del {
	width: 24px;
	height: 24px;
	background: none;
	padding: 0;
	color: $black;
	background-color: white;
	border-radius: 50%;
	border: none;

	&::before {
		font-size: 16px;
	}
}

.btn-custom {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	background-color: $white;
	padding: 6px 16px 6px 6px;

	[class^="ic-"] {
		&:first-child {
			color: #3B5998;

			&::before {
				font-size: 30px;
			}
		}
	}

	>*:not(:last-child) {
		margin-right: 24px;
	}

	&:hover {
		background-color: $white;
	}
}