.btn-link {
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	letter-spacing: -0.15px;
	text-decoration: none;
}

.btn-outline-secondary {
	background: #F2F2F2;
	border-color: $black;
	font-weight: 600;
	font-size: 16px;
	color: $black;

	&:active {
		color: $black  !important;
		border-color: $black  !important;
		background: #F2F2F2 !important;
	}

	&:hover {
		color: $black;
		border-color: $black;
		background: #F2F2F2;
	}
}

.btn-back {
	display: block;
	position: absolute;
	padding: 0;
	border: none;
	background-color: transparent;
	left: 0;
	top: 50%;
	text-decoration: none;
	transform: translateY(-50%);

	&::before {
		transform: rotate(90deg);
		font-size: 24px;
		color: $black;
	}
}