.form-check-label {
	a {
		text-decoration: none;
	}
}

.form-check-input {
	&:disabled {
		background-color: $disabled-surf-1;

		&~.form-check-label {
			color: $text_disable;
		}
	}

	&:checked {
		&:disabled {
			background-color: $violet-light-4;
			border-color: $violet-light-4;
		}
	}

	&[type="radio"] {
		border-color: $black;

		&:checked {
			border-width: 2px;
			border-color: $violet;
			background-color: $violet-light;
			background-size: 140%;
		}

		&:disabled {
			border-color: $disabled-surf-2;

			&:checked {
				border-color: $violet-light-3;
				background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{rgba($violet-light-3, 0.99)}'/></svg>");
			}
		}
	}

	&.invalid {
		border-color: $red-light-2;

		&:checked {
			border-color: $violet;
		}

		&~.form-error {
			display: block;
			margin-left: -$form-check-padding-start;
			padding-left: 0;
			width: 100%;
		}
	}
}