.qela-checkbox-label {
	font-size: $form-label-font-size;
	color: $form-label-color;
	margin-bottom: -5px;
}

.form-check-label {
	a {
		text-decoration: none;
	}
}

.form-check-input {
	&:disabled {
		background-color: $disabled-surf-1;

		&~.form-check-label {
			color: $text_disable;
		}
	}

	&:checked {
		&:disabled {
			background-color: $violet-light-4;
			border-color: $violet-light-4;
		}
	}

	&.invalid {
		border-color: $red-light-2;

		&:checked {
			border-color: $violet;
		}

		&~.form-error {
			display: block;
			margin-left: -$form-check-padding-start;
			padding-left: 0;
		}
	}
}