// ===================================================
.dp__main {
	font-family: $font-family-base;
}

.dp__input_readonly {}

.dp__input {
	height: 50px;
	border-radius: $border-radius;
	color: $gray-01;
	border-color: $input-border-color;

	@media (any-hover:hover) {
		&:hover {
			border-color: $violet;
		}
	}

	&:focus {
		@media (any-hover:hover) {
			&:hover {
				border-color: $violet;
			}
		}
	}

	&:disabled {
		&::placeholder {
			color: #7E7E7E;
		}

		@media (any-hover:hover) {
			&:hover {
				border-color: #D1D1D2;
			}
		}
	}

}

.dp__icon {
	fill: #BBBDC0;
	width: 20px;
	height: 20px;
}

.dp__input_icon_pad {
	padding: 0 16px;
}

.dp__input_reg {}

.dp__input_icon {
	left: auto;
	right: 16px;
}

.dp__input_icons {
	padding: 0;
}

.dp__clear_icon {
	display: none;
}

.dp__menu {
	border-radius: 17px;
	min-width: 300px;
	font-family: $font-family-base;
	font-size: 12px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
	// border: none;
}

.dp__month_year_row {
	padding: 9px 4px;
}

.dp__month_year_select {
	font-weight: 600;
	font-size: 18px;
	line-height: 120%;
	color: $black;

	@media (any-hover:hover) {
		&:hover {
			background-color: $white;
		}
	}
}

.dp__inner_nav {
	background: $white;
	border-radius: 6px;
	padding: 7px;

	&:hover {
		background-color: $white;
	}
}

.dp__icon {
	fill: $lightgray-3;
	width: 20px;
	height: 20px;
}

.dp__calendar_header_separator {
	display: none;
}

.dp__calendar_header_item {
	font-size: 12px;
	line-height: 16px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.4px;
	color: $gray-700;
	font-weight: 400;
}

.dp__cell_offset {
	color: $lightgray-3;
}




.invalid {
	.dp__input {
		color: $gray-01;
		border-color: $red-light-2;

		@media (any-hover:hover) {
			&:hover {
				border-color: $red-light-2;
			}
		}

		&:focus {
			@media (any-hover:hover) {
				&:hover {
					border-color: $red-light-2;
				}
			}
		}

		&:disabled {
			&::placeholder {
				color: #7E7E7E;
			}

			@media (any-hover:hover) {
				&:hover {
					border-color: #D1D1D2;
				}
			}
		}

	}
}