.list-group {
	a {
		color: $body-color;
		text-decoration: none;
	}
}

.form-control {
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);

	&:focus {
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
	}

	&:disabled {
		box-shadow: none;

		&::placeholder {
			color: #7E7E7E;
		}
	}

	&.invalid {
		border-color: $red-light-2;

		&~.form-error {
			display: block;
		}

		&~.helper-text {
			display: none;
		}
	}
}

.form-label {
	margin-left: 4px;
}

.qela-btn {
	padding: 5px 16px;
	border-color: transparent;
	background: $white;
	color: $lightgray-3;

	&:active {
		color: $lightgray-3  !important;
		border-color: transparent !important;
		background: $white  !important;
	}

	&:hover {
		background: $white;
		border-color: transparent;
		color: $lightgray-3;
	}
}

.helper-text {
	display: block;
	width: 100%;
	color: $gray-700;
	line-height: 120%;
	padding: 2px 0px 0px 4px;
}

.form-error {
	width: 100%;
	color: $red;
	font-size: 14px;
	line-height: 13px;
	padding: 4px 0px 0px 4px;
	display: none;
}

.qela-input-group {
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);

	&.has-validation {
		border: 1px solid $red-light-2;
		border-radius: $input-border-radius;

		&~.helper-text {
			display: none;
		}

		&~.form-error {
			display: block;
		}
	}

	.form-control {
		border: none;
		box-shadow: none;
	}

	.qela-btn {
		border: none;
	}

}

.qela-range {
	position: relative;

	.color {
		display: flex;
		position: absolute;
		width: 100%;
		height: calc(100% - 6px);
		top: 0;
		left: 0;
		z-index: 1;
		border-radius: 8px;
		overflow: hidden;

		span {
			flex: 0 1 25%;
			background-color: $primary;
		}
	}

	.form-label {
		position: absolute;
		width: 100%;
		height: calc(100% - 6px);
		background-color: transparent;
		color: $white;
		z-index: 2;
		padding: 8px 8px 8px 16px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 16px;
		font-weight: 400;
		font-size: 14px;
	}

	input[type=range] {
		position: relative;
		z-index: 2;
		height: 50px;
		-webkit-appearance: none;
		width: 100%;
		background-color: transparent;
		border-radius: 8px;

		&:focus {
			outline: none;
			box-shadow: none;
		}

		&::-webkit-slider-runnable-track {
			width: 100%;
			height: 50px;
			cursor: pointer;
			animate: 0.2s;
			background: transparent;
			border-radius: 8px;
		}

		&::-webkit-slider-thumb {
			background: #FFFFFF;
			border: 1px solid $black;
			border-radius: 5px;
			height: 56px;
			width: 6px;
			cursor: pointer;
			-webkit-appearance: none;
			margin-top: -3px;
			box-shadow: none;
		}

		&:focus::-webkit-slider-runnable-track {
			background: none;
		}

		// moz-
		&::-moz-range-track {
			width: 100%;
			height: 50px;
			cursor: pointer;
			animate: 0.2s;
			background: transparent;
			border-radius: 8px;
		}

		&::-moz-range-thumb {
			background: #FFFFFF;
			border: 1px solid;
			border-radius: 5px;
			height: 56px;
			width: 6px;
			cursor: pointer;
			-webkit-appearance: none;
			margin-top: -3px;
			box-shadow: none;

		}

		// ms-
		input[type=range]::-ms-track {
			width: 100%;
			height: 50px;
			cursor: pointer;
			animate: 0.2s;
			border-radius: 8px;
			background: transparent;
			border-color: transparent;
			color: transparent;
		}

		input[type=range]::-ms-fill-lower {
			background: transparent;
			border: none;
			border-radius: 5px;
			box-shadow: none;
		}

		input[type=range]::-ms-fill-upper {
			background: transparent;
			border: none;
			border-radius: 5px;
			box-shadow: none;
		}

		input[type=range]::-ms-thumb {
			background: #FFFFFF;
			border: 1px solid;
			border-radius: 5px;
			height: 56px;
			width: 6px;
			cursor: pointer;
			-webkit-appearance: none;
			margin-top: -3px;
			box-shadow: none;

		}

		input[type=range]:focus::-ms-fill-lower {
			background: none;
		}

		input[type=range]:focus::-ms-fill-upper {
			background: none;
		}

	}

	&.red {
		.color {
			span {
				&:nth-child(1) {
					background: #FFB0B0;
				}

				&:nth-child(2) {
					background: #FF9797;
				}

				&:nth-child(3) {
					background: #FF8484;
				}

				&:nth-child(4) {
					background: #EE6666;
				}
			}
		}

		input[type=range] {
			&::-webkit-slider-thumb {
				border-color: #E20000;
			}

			&::-moz-range-thumb {
				border-color: #E20000;
			}

			&::-ms-thumb {
				border-color: #E20000;
			}
		}

	}

	&.violet {
		.color {
			span {
				&:nth-child(1) {
					background: #BDA9FC;
				}

				&:nth-child(2) {
					background: #B99EFD;
				}

				&:nth-child(3) {
					background: #B191FF;
				}

				&:nth-child(4) {
					background: #988AC6;
				}
			}
		}

		input[type=range] {
			&::-webkit-slider-thumb {
				border-color: #543CA0;
			}

			&::-moz-range-thumb {
				border-color: #543CA0;
			}

			&::-ms-thumb {
				border-color: #543CA0;
			}
		}

	}

	&.green {
		.color {
			span {
				&:nth-child(1) {
					background: #81EAD6;
				}

				&:nth-child(2) {
					background: #7AE0CD;
				}

				&:nth-child(3) {
					background: #66D9C3;
				}

				&:nth-child(4) {
					background: #6FBDAE;
				}
			}
		}

		input[type=range] {
			&::-webkit-slider-thumb {
				border-color: #0F9178;
			}

			&::-moz-range-thumb {
				border-color: #0F9178;
			}

			&::-ms-thumb {
				border-color: #0F9178;
			}
		}

	}

	&.orange {
		.color {
			span {
				&:nth-child(1) {
					background: #FFC892;
				}

				&:nth-child(2) {
					background: #FFB966;
				}

				&:nth-child(3) {
					background: #F1B267;
				}

				&:nth-child(4) {
					background: #DDA466;
				}
			}
		}

		input[type=range] {
			&::-webkit-slider-thumb {
				border-color: #E20000;
			}

			&::-moz-range-thumb {
				border-color: #E20000;
			}

			&::-ms-thumb {
				border-color: #E20000;
			}
		}

	}

	&.lite-green {
		.color {
			span {
				&:nth-child(1) {
					background: #A0EFAF;
				}

				&:nth-child(2) {
					background: #80F49B;
				}

				&:nth-child(3) {
					background: #70EB8D;
				}

				&:nth-child(4) {
					background: #75D182;
				}
			}
		}

		input[type=range] {
			&::-webkit-slider-thumb {
				border-color: #19B22F;
			}

			&::-moz-range-thumb {
				border-color: #19B22F;
			}

			&::-ms-thumb {
				border-color: #19B22F;
			}
		}

	}

	&.lite-blue {
		.color {
			span {
				&:nth-child(1) {
					background: #B0E2F7;
				}

				&:nth-child(2) {
					background: #9FD6FB;
				}

				&:nth-child(3) {
					background: #8CCAF4;
				}

				&:nth-child(4) {
					background: #74B9DF;
				}
			}
		}

		input[type=range] {
			&::-webkit-slider-thumb {
				border-color: #188AC9;
			}

			&::-moz-range-thumb {
				border-color: #188AC9;
			}

			&::-ms-thumb {
				border-color: #188AC9;
			}
		}

	}

	&.blue {
		.color {
			span {
				&:nth-child(1) {
					background: #B5D2F4;
				}

				&:nth-child(2) {
					background: #87B2F8;
				}

				&:nth-child(3) {
					background: #7EABF3;
				}

				&:nth-child(4) {
					background: #6E9ADA;
				}
			}
		}

		input[type=range] {
			&::-webkit-slider-thumb {
				border-color: #0E57C1;
			}

			&::-moz-range-thumb {
				border-color: #0E57C1;
			}

			&::-ms-thumb {
				border-color: #0E57C1;
			}
		}

	}

	&.pink {
		.color {
			span {
				&:nth-child(1) {
					background: #F4B5EE;
				}

				&:nth-child(2) {
					background: #F887ED;
				}

				&:nth-child(3) {
					background: #F37EE7;
				}

				&:nth-child(4) {
					background: #DA6ECF;
				}
			}
		}

		input[type=range] {
			&::-webkit-slider-thumb {
				border-color: #C10EAF;
			}

			&::-moz-range-thumb {
				border-color: #C10EAF;
			}

			&::-ms-thumb {
				border-color: #C10EAF;
			}
		}
	}
}