<nav class="navbar bg-transparent qela-topbar">
	<a class="navbar-brand p-0 me-0" href="#">
		<img src="img/logo-strichka.svg">
	</a>
	<span class="fw-bold">{{title}}</span>
	<a href="#" class="btn ic-task"></a>
</nav>