<nav class="navbar bg-white qela-navbar">
	{% if type == 'logoLeft' %}
		<a class="navbar-brand start-0 p-0 ms-3" href="#">
			<img src="img/logo-strichka.svg">
		</a>
	{% elif type == 'btnLeft' %}
		<button class="btn ic-chevron-left start-0 ms-3"></button>
	{% endif %}
	<span class="fw-bold text-center qela-clamp" style="--clamp-line: 2">
		{{ title | default('Заголовок') }}
	</span>
	<button href="#" class="btn ic-order-list me-3 end-0"></button>
</nav>