$white: #fff;
$gray-100: #f5f5f5;
$gray-200: #e9e9e8;
$gray-300: #dfdfdf;
$gray-400: #cacaca;
$gray-500: #ababab;
$gray-600: #858585;
$gray-700: #676767;
$gray-800: #4b4b4b;
$gray-900: #2c2c2c;
$black: #000;
// scss-docs-end gray-color-variables
// scss-docs-start color-variables
$yellow: #ffe000;
$purple: #9188ff;
$orange: #ff7c02;
$red: #ff4136;
$green: #25dd29;

$primary: $yellow;
$secondary: $purple;
$danger: $red;
$success: $green;
$warning: $orange;
$info: $gray-500;
$light: $white;

$primary-100: #fffce6;
$primary-200: #fff8c1;
$primary-300: #fff399;
$primary-400: #ffeb75;
$primary-500: $primary;
$primary-600: #dec402;
$primary-700: #b49e01;
$primary-800: #857500;
$primary-900: #635700;

$secondary-100: #f9f9ff;
$secondary-200: #ecebff;
$secondary-300: #d5d3ff;
$secondary-400: #ada6ff;
$secondary-500: $secondary;
$secondary-600: #8169eb;
$secondary-700: #6550c4;
$secondary-800: #473690;
$secondary-900: #352676;

$warning-100: #ffeee0;
$warning-200: #ffd8b5;
$warning-300: #ffb775;
$warning-400: #ff9839;
$warning-500: $warning;
$warning-600: #dc6a00;
$warning-700: #c96102;
$warning-800: #a65001;
$warning-900: #713600;

$success-100: #e7ffe8;
$success-200: #ceffcf;
$success-300: #9aff9d;
$success-400: #4ff053;
$success-500: $success;
$success-600: #05c609;
$success-700: #06a20a;
$success-800: #037f07;
$success-900: #006002;

$danger-100: #fff2f1;
$danger-200: #ffe0de;
$danger-300: #ffbeba;
$danger-400: #ff8881;
$danger-500: $danger;
$danger-600: #e13d33;
$danger-700: #c4352c;
$danger-800: #a52b24;
$danger-900: #7b1c16;

$info-100: $gray-100;
$info-200: $gray-200;
$info-300: $gray-300;
$info-400: $gray-400;
$info-500: $info;
$info-600: $gray-600;
$info-700: $gray-700;
$info-800: $gray-800;
$info-900: $gray-900;
