body {}

main {
	max-width: 576px;
	margin: 0 auto;
	position: relative;
	padding: 0 16px;
}

.qela-fullscreen {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.qela-pad1 {
	padding-top: 134px;
	padding-bottom: 55px;
}

.qela-pad2 {
	padding-top: 134px;
	padding-bottom: 165px;
}

.qela-pad3 {
	padding-top: 72px;
	padding-bottom: 165px;
}

.qela-pad_top {
	padding-top: 72px;
}

.qela-pad_bottom {
	padding-bottom: 165px;
}

.qela-success {
	padding-top: 120px;
	padding-bottom: 48px;
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
	padding: $spacer * 0.5 0 $spacer 0;
}

.display-1 {
	padding-top: 0;
}

a {
	color: $violet-dark-2;

	&:hover {
		color: $violet-dark-2;
	}
}

.qela-mt-7 {
	margin-top: 80px;
}

.qela-top {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 576px;
	z-index: 10;
}

.qela-bottom {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 576px;
	z-index: 10;
}

.qela-logo {
	margin: 120px 0px 90px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.qela-decision {
	padding: 24px 16px 16px 16px;
	background-color: $white;
	border: 3px solid $violet;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
	border-radius: 8px;

	img {
		display: block;
		margin: 0 auto;
		width: 50px;
	}
}

.text-secondary {
	color: $violet-dark-2  !important;
}

.text-info {
	color: $gray-700  !important;
}

.qela-ibg {
	position: relative;

	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.qela-img_1x1 {
	padding-bottom: 100%;
}

.qela-img_16x9 {
	padding-bottom: 56.25%;
}

.qela-img {
	padding-bottom: 100vh;

	&::before {
		content: '';
		left: 0;
		top: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: $black;
		z-index: 2;
		opacity: 0.5
	}
}

.qela-username {
	display: flex;
	align-items: center;
	gap: 4px;

	span {
		color: $violet-dark;

		&::before {
			font-size: 20px;
		}
	}
}

.qela-id {
	display: flex;
	align-items: center;
	justify-content: center;

	.btn-copyed {
		min-width: 165px;
	}

	.success {
		background-color: $green-lite;
	}
}