body {}

main {
	max-width: 576px;
	margin: 0 auto;
	position: relative;
	padding: 0 16px;
}

.qela-fullscreen {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.qela-pad1 {
	padding-top: 134px;
	padding-bottom: 55px;
}

.qela-pad2 {
	padding-top: 134px;
	padding-bottom: 165px;
}

.qela-pad3 {
	padding-top: 72px;
	padding-bottom: 165px;
}

.qela-pad_top {
	padding-top: 72px;
}

.qela-pad_bottom {
	padding-bottom: 165px;
}

.qela-pad_100 {
	padding: 100px 0;
}

.qela-success {
	padding-top: 120px;
	padding-bottom: 48px;
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
	padding: $spacer * 0.5 0 $spacer 0;
}

.display-1 {
	padding-top: 0;
}

a {
	color: $violet-dark-2;

	&:hover {
		color: $violet-dark-2;
	}
}

.qela-mt-7 {
	margin-top: 80px;
}

.qela-top {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 576px;
	z-index: 10;
}

.qela-bottom {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 576px;
	z-index: 10;
}

.qela-logo {
	margin: 120px 0px 90px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.qela-avatar_min {
	overflow: hidden;
	border-radius: 50%;
	border: 1px solid $white;

	&:not(:first-child) {
		margin-left: -6px;
	}

	img {
		display: block;
	}
}

.qela-decision {
	padding: 24px 16px 16px 16px;
	background-color: $white;
	border: 3px solid $violet;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
	border-radius: 8px;

	img {
		display: block;
		margin: 0 auto;
		width: 50px;
	}
}

.text-secondary {
	color: $violet-dark-2  !important;
}

.bg-secondary_dark {
	background: $violet-dark-2  !important;
}

.text-info {
	color: $gray-700  !important;
}

.bg-orange {
	background: $orange  !important;
}

.text-orange {
	color: $orange  !important;
}

.qela-ibg {
	position: relative;

	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.qela-img_1x1 {
	padding-bottom: 100%;
}

.qela-img_16x9 {
	padding-bottom: 56.25%;
}

.qela-img {
	padding-bottom: 100vh;

	&::before {
		content: '';
		left: 0;
		top: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: $black;
		z-index: 2;
		opacity: 0.5
	}
}

.qela-username {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;

	&>div {
		display: block;
	}

	&[class="ic-"],
	[class*="ic-"] {
		color: $violet-dark;
		display: block;

		&::before {
			font-size: 20px;
			padding: 4px;
		}
	}
}

.qela-id {
	display: flex;
	align-items: center;
	justify-content: center;

	.btn-copyed {
		min-width: 165px;
	}

	.success {
		background-color: $green-lite;
	}
}

.qela-clamp {
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	max-height: 62px;

	&.clamp-7 {
		-webkit-line-clamp: 6;
		height: 115px;
	}

	&.clamp-name1 {
		-webkit-line-clamp: 1;
		height: auto;
		white-space: nowrap;
	}
}

.qela-awards {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	max-width: 75px;
	min-width: 75px;
}

.qela-disabled {
	background: rgba(255, 255, 255, 0.7);
	backdrop-filter: blur(5px);
	width: 100%;

	&>div {
		max-width: 220px;
		margin: 0 auto;
	}
}

.qela-blur_block {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $white;
		filter: blur(10px);
		border-radius: 2px;
		z-index: -1;
		will-change: transform;
	}
}

.qela-fs7 {
	font-size: 12px !important;
}

.fs-6 {
	&::before {
		font-size: 16px !important;
	}
}

.qela-upload {
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
	border-radius: 6px;
	display: flex;
	border-radius: 6px;
	overflow: hidden;
}

.qela-upload_ic {
	background-color: $violet-light-4;
	color: $white;
	padding: 10px;
	width: 70px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.qela-add {
	position: relative;
	padding-bottom: 50%;
	border: 1px dashed $violet;
	// background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='1' stroke-dasharray='25' stroke-dashoffset='11' stroke-linecap='square'/%3e%3c/svg%3e");

	button {
		width: calc(100% - 16px);
		bottom: 8px;
		left: 50%;
		transform: translateX(-50%);
	}

	.icon {
		color: $violet;

		&::before {
			font-size: 48px;

			@media (max-width: 360px) {
				font-size: 36px;
			}
		}
	}
}

.qela-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.qela-qr {
	width: 66.66%;

	&::before,
	&::after,
	span {
		content: "";
		position: absolute;
		width: 15.5%;
		height: 15.5%;
		border: 4px solid $violet;
		pointer-events: none;
	}

	&::before {
		content: '';
		bottom: -2px;
		left: -2px;
		border-right: none;
		border-top: none;
	}

	&::after {
		content: '';
		bottom: -2px;
		right: -2px;
		border-left: none;
		border-top: none;
	}

	span {
		&:first-child {
			top: -2px;
			left: -2px;
			border-right: none;
			border-bottom: none;
		}

		&:last-child {
			right: -2px;
			top: -2px;
			border-left: none;
			border-bottom: none;
		}
	}
}

.qela-triangl {
	width: 0;
	height: 0;
	border-left: 9.5px solid transparent;
	border-right: 9.5px solid transparent;
	border-top: 32px solid;

	&.secondary {
		border-top-color: $violet-dark-2;
	}

	&.success {
		border-top-color: $green-dark;
	}
}

.qela-dot {
	border: 1px solid $white;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	margin-top: 2px;
	position: relative;
	z-index: 2;

	&.large {
		width: 32px;
		height: 32px;
		border-width: 2px;
	}

	&.active {
		border-width: 2px;
	}
}

.qela-area {
	width: 182px;
	height: 182px;
	flex: 0 0 182px;
	border-radius: 50%;

	&.secondary {
		border: 1px dashed #6257F3;
		background: rgba(98, 87, 243, 0.25);
	}

	&.success {
		background: rgba(15, 145, 120, 0.25);
		border: 1px solid #0F9178;
	}

	.qela-badge {
		transform: translateY(50%);
	}
}

.qela-coordinats {
	width: 27px;
	height: 27px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	&.active {
		&::before {
			border-width: 4px;
		}
	}

	&::after {
		content: '';
		position: absolute;
		border-radius: 50%;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.5;
		background-color: $violet-dark-2;

	}

	&::before {
		content: '';
		border-radius: 50%;
		position: relative;
		width: 17px;
		height: 17px;
		border: 2px solid $white;
		background-color: $violet-dark-2;
		z-index: 2;
	}

	span {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: -2px;
		width: 0;
		height: 0;
		border-top: 8px solid transparent;
		border-left: 15px solid $violet-dark-2;
		border-bottom: 8px solid transparent;
	}
}

.qela-line {
	position: relative;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	height: 6px;
	margin-right: -2px;
	margin-left: -2px;
	margin-top: 2px;
}

.qela-initials {
	color: $white;
	font-weight: 600;
	font-size: 75px;
	line-height: 90px;
	letter-spacing: -6px;
}

.qela-step {
	background-color: $gray-300;
	font-size: 14px;
	border-radius: 8px;
	border: 1px solid $gray-500;

	.qela-badge {
		display: none;
		position: absolute;
		left: 50%;
		top: 0;
		transform: translate(-50%, -50%);
	}

	&.current {
		background-color: $white;
		border-width: 2px;
		border-color: $secondary;

		.qela-badge {
			display: block;
		}
	}

	&.disabled {
		color: $gray-600;
		border-color: $gray-300;
	}
}