body {}

main {
	max-width: 576px;
	margin: 0 auto;
	position: relative;
	// display: flex;
	// flex-direction: column;
	// min-height: 100vh;
	padding: 0 16px;

	&.qela-padding {
		padding-top: 114px;
		padding-bottom: 60px;
	}
}

.qela-mt-7 {
	margin-top: 80px;
}

.qela-top {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 576px;
	z-index: 10;
}

.qela-bottom {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 576px;
	z-index: 10;
}

.qela-logo {
	margin: 120px 0px 90px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.qela-decision {
	padding: 24px 16px 16px 16px;
	background-color: $white;
	border: 3px solid $violet;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
	border-radius: 8px;

	img {
		display: block;
		margin: 0 auto;
		width: 50px;
	}
}

.text-secondary {
	color: $violet-dark-2  !important;
}

.text-info {
	color: $gray-700  !important;
}