//Подключение шрифта
@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff2") format("woff2"),
		url("../fonts/#{$file_name}.woff") format("woff");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

//</ШРИФТЫ>==========================================================

//<ПЕРЕМЕННЫЕ>========================================================
$minWidth: 320px;
$maxWidth: 1440;
$md1: 1200;
$md2: 990.98;
$md3: 767.98;
$md4: 567.98;