@use "sass:math";

/* Bootstrap style imports*/
@import "bootstrap/functions";

//Reassigning variables
@import "vars";

@import "bootstrap/variables";
@import "bootstrap/maps";
@import "bootstrap/mixins";
@import "bootstrap/utilities";

$all-colors: map-merge-multiple($primarys, $secondarys, $warnings, $succeses, $dangers, $infos);

$all-colors-vars: ();
@each $name, $value in $all-colors {
	$all-colors-vars: map-merge(
		$all-colors-vars,
		(
			$name: var(--bs-ql-#{$name})
		)
	);
}

$utilities: map-merge(
	$utilities,
	(
		"color":
			map-merge(
				map-get($utilities, "color"),
				(
					values: map-merge(map-get(map-get($utilities, "color"), "values"), $all-colors-vars)
				)
			),
		"background-color":
			map-merge(
				map-get($utilities, "background-color"),
				(
					values: map-merge(map-get(map-get($utilities, "background-color"), "values"), $all-colors-vars)
				)
			)
	)
);
// Generation and add custom colors css vars
@import "my-root";

@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/type";

@import "bootstrap/images";
@import "bootstrap/containers";
@import "bootstrap/grid";

@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/button-group";
@import "bootstrap/dropdown";

@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
@import "bootstrap/accordion";
@import "bootstrap/breadcrumb";
@import "bootstrap/badge";
@import "bootstrap/alert";

@import "bootstrap/close";
@import "bootstrap/modal";
@import "bootstrap/progress";
@import "bootstrap/list-group";
@import "bootstrap/offcanvas";
@import "bootstrap/carousel";

// Helpers
@import "bootstrap/helpers";
// /* Bootstrap style imports*/
// Utilities
@import "bootstrap/utilities/api";

// Qela custom scss styles
@import "resources";

// Fonts
@import "fonts";

// Icons font
@import "icons";

// Custom globall styles (qela-)
@import "globall";

//<Include files UI styles and forms>
@import "forms";
@import "ui";

//<Include files styles components>
@import "./components/first";
@import "./components/reg";

//<Themes>
@import "themes/theme-strichka";
