{% macro listItemsShop(props) %}
	<div class="list-group qela-description">
		<div class="list-group-item">
			<div class="d-flex justify-content-between gap-3">
				<div class="d-flex align-items-center gap-2 lh-0">
					<span class="{{props.ic}} text-info-600"></span>
					<span>{{props.title}}</span>
				</div>
				<button type="button" class="btn btn-link text-info-600 btn-sm ic-right ic-chevron-right">Змінити</button>
			</div>
		</div>
		<div class="list-group-item pt-0 pb-2">
			<ul class='ps-0 mb-0'>
				{% for idx in props.itemContent %}
					<li class="d-flex gap-2 py-2">
						{% if idx.invalid %}
							<span class="display-7 flex-grow-1 text-danger-600">{{idx.invalid}}</span>
						{% else %}
							{% if idx.label %}
								<span class="display-7 flex-grow-1">{{ idx.label }}</span>
							{% endif %}
							{% if idx.text %}
								<span class="display-7">{{idx.text}}</span>
							{% endif %}
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
{% endmacro %}

{# {% set listItems = [
		{ic: "ic-user1", title:"Одержувач", itemContent: [
		{ label: "Імʼя:", text: "Ostap Kovalchuk" },
		{ label: "Номер телефону:", text: "+4915210923822" },
		{ label: "Електронна пошта:", text: "ostap@mail.com" }
	] },
		{ic: "ic-mark", title:"Адреса", itemContent: [
		{ label: "Країна:", text: "Німеччина" },
		{ label: "Індекс:", text: "-" },
		{ label: "Вулиця або пункт видачі:", text: "-" },
		{ label: "Додаткові дані адреси:", text: "-" },
		{ label: "Коментар для курʼєра:", text: "-" }
	]},
	{ic: "ic-message-circle", title:"Коментар", itemContent: [
		{ label: "-", text: "-" }
	] }
	]%}
	{% from "html/includes/lists/_list-item.njk" import listItemsShop %}
	{% for item in listItems %}
		{{listItemsShop(item)}}
	{% endfor %} 
#}