<section class="d-grid gap-3">
	<!-- Accordion -->
	<h2 class="h1 mt-4">Accordion</h2>
	<ul class="list-group qela-list qela-list-leaderboard">
		<li class="list-group-item">
			<div class="accordion" id="accordionExample">
				<div class="accordion-item">
					<div class="accordion-header" id="headingOne">
						<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							<div class="d-flex align-items-center gap-2">
								<span class="qela-list-num">5</span>
								<div class="qela-avatar-inner">
									<span class="qela-avatar qela-ibg" style="--img-size:34px"><img src="img/avatar-2.jpg" alt="#"></span>
									<span class="qela-avatar qela-ibg" style="--img-size:34px"><img src="img/avatar.jpg" alt="#"></span>
									<span class="qela-avatar qela-ibg" style="--img-size:34px"><img src="img/profile-img.jpg" alt="#"></span>
								</div>
								<div class="flex-grow-1">
									<div class="position-relative">
										<small class="text-break qela-clamp pe-3">User Name NameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameName</small>
										<small class="position-absolute end-0 bottom-0">+4</small>
									</div>
								</div>
								<div class="qela-voice">
									<div class="body-voice">
										<img src="img/icons/orden-red.svg" width="18" height="18" alt="coin">
										<small>105</small>
									</div>
								</div>
							</div>
						</button>
					</div>
					<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<ul class="list-group qela-list qela-list-leaderboard">
								<li class="list-group-item">
									<div class="d-flex align-items-center gap-2">
										<span class="qela-list-num">5</span>
										<a href="#" class="qela-avatar qela-ibg" style="--img-size:34px"><img src="img/avatar.jpg" alt="#"></a>
										<small class="flex-grow-1 text-break qela-clamp">User Name</small>
										<div class="qela-voice">
											<div class="body-voice">
												<img src="img/icons/orden-red.svg" width="18" height="18" alt="coin">
												<small>105</small>
											</div>
										</div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="d-flex align-items-center gap-2">
										<span class="qela-list-num">5</span>
										<a href="#" class="qela-avatar qela-ibg" style="--img-size:34px"><img src="img/avatar.jpg" alt="#"></a>
										<small class="flex-grow-1 text-break qela-clamp">User Name</small>
										<div class="qela-voice">
											<div class="body-voice">
												<img src="img/icons/orden-red.svg" width="18" height="18" alt="coin">
												<small>105</small>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</li>
	</ul>

</section>