{% from "html/includes/form/btn/_btn.njk" import btns %}
{% from "html/includes/form/btn/_btn-pay.njk" import btnPay %}
{% from "html/includes/form/btn/_btn-round.njk" import btnRound %}
{% import "html/data/form/_btnData.njk" as data %}
<!-- Buttons  -->
<section class="d-grid gap-3">
	<h2 class="h1 mt-4">Buttons</h2>
	<!-- buttons large standart -->
	<h3>Buttons types, large </h3>
	{% for item in data.btnsComponents %}
		{{ btns(item) }}
	{% endfor %}
	<!-- buttons large standart end -->
	<!-- bButtons large icon -->
	<h3 class="mt-4">Buttons large icon</h3>
	{% for item in data.btnsIconComponents %}
		{{ btns(item) }}
	{% endfor %}
	<!-- buttons icon -->
	<h3 class="mt-4">Buttons only icon</h3>
	<div class="d-flex align-items-start gap-2">
		{% for item in data.btnsOnlyIconComponents %}
			{{ btns(item) }}
		{% endfor %}
	</div>
	<!-- buttons link normal start -->
	<h3 class="mt-4">Buttons large links</h3>
	{% for item in data.btnsLinksComponents %}
		{{ btns(item) }}
	{% endfor %}
	<!-- buttons size -->
	<h3 class="mt-4">Buttons size</h3>
	{% for item in data.btnsSizeComponents %}
		{{ btns(item) }}
	{% endfor %}
	<!-- button round -->
	<h3 class="mt-4">Button round</h3>
	{{ btnRound(data.btnsRoundComponents) }}
	<!-- button custom -->
	<h3 class="mt-4">Button custon</h3>
	<button type="button" class="btn btn-custom">
		<span class="ic-fb"></span>
		<span>Share link on facebook</span>
		<span class="ic-share-2"></span>
	</button>
	<div>
		<button class="btn btn-preset">5$</button>
	</div>
	<button type="button" class="btn text-info-900 bg-secondary-200 w-100">
		<i class="ic-file-copy text-secondary"></i>qela.tech.ua/r/F384MK</button>
	<!-- buttons map -->
	<h3 class="mt-4">Buttons map</h3>
	<div>
		<div class="btn-group-vertical">
			<button type="button" class="btn btn-light btn-map ic-mark"></button>
			<button type="button" class="btn btn-light btn-map ic-location"></button>
		</div>
	</div>

	<!-- buttons Pay -->
	<h3 class="mt-4 ">Buttons Pay</h3>
	{% for item in data.btnsPayComponents %}
		{{ btnPay(item) }}
	{% endfor %}
</section>