<section class="d-grid gap-3">
	<h2 class="h1 mt-4">Coming soon</h2>
	<div class="px-3 py-5">
		<div class="text-center p-3">
			<h2 class="fs-1 fw-bold text-uppercase text-secondary pb-3">
				Coming soon
			</h2>
			<p class="pb-2">We are working on adding Quests and Campaigns.</p>
			<p class="pb-2">🔥 There is going to be a lot of interesting</p>
		</div>
	</div>
</section>