{% import "html/data/_listsData.njk" as data %}
{% from "html/includes/lists/_list-description.njk" import listTitle %}
<section class="d-grid gap-3">
	<h2 class="mt-4 h1">Lists</h2>
	<h3>List-items descriptions</h3>

	{% for item in data.listDescriptionComponentData %}
		{{listTitle(item)}}
	{% endfor %}

	{# <div class="bg-danger-500 p-5"></div> #}
	<!-- List-item progress -->
	<h3>List-item progress</h3>
	<ul class="list-group qela-condenced qela-list d-flex flex-column gap-2">
		<li class="list-group-item active">
			<div class="mb-2">Yes, I fully support</div>
			<div class="progress qela-progress" style="--percent: 55%">
				<div class="left">55%</div>
				<div class="right">55%</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="mb-2">No, I don’t agree</div>
			<div class="progress qela-progress" style="--percent: 16%">
				<div class="left">16%</div>
				<div class="right">16%</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="mb-2">I will refrain from answering</div>
			<div class="progress qela-progress" style="--percent: 9%">
				<div class="left">9%</div>
				<div class="right">9%</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="mb-2">I don’t like this poll</div>
			<div class="progress qela-progress" style="--percent: 9%">
				<div class="left">9%</div>
				<div class="right">9%</div>
			</div>
		</li>
	</ul>
	<!-- list-item radiobutton condenced -->
	<h3>List-item radiobutton condenced</h3>
	<ul class="list-group qela-condenced qela-description">
		<li class="list-group-item radiobutton-container active">
			Yes, I fully support
			<span></span>
		</li>
		<li class="list-group-item radiobutton-container">
			No, I don’t agree
			<span></span>
		</li>
		<li class="list-group-item radiobutton-container">
			I will refrain from answering
			<span></span>
		</li>
		<li class="list-group-item radiobutton-container">
			I don’t like this poll
			<span></span>
		</li>
	</ul>
	<!-- List-item checkbox condenced -->
	<h3>List-item checkbox condenced</h3>
	<ul class="list-group qela-condenced qela-description">
		<li class="list-group-item checkbox-container active">
			Yes, I fully support
			<span class="ic-check"></span>
		</li>
		<li class="list-group-item checkbox-container">
			No, I don’t agree
			<span class="ic-check"></span>
		</li>
		<li class="list-group-item checkbox-container">
			I will refrain from answering
			<span class="ic-check"></span>
		</li>
		<li class="list-group-item checkbox-container">
			I don’t like this poll
			<span class="ic-check"></span>
		</li>
	</ul>
	<!-- List-item checkbox -->
	<h3>List-item checkbox</h3>
	<ul class="list-group qela-condenced qela-list d-flex flex-column gap-2">
		<li class="list-group-item checkbox-container">
			I don’t like this poll
			<span class="ic-check"></span>
		</li>
		<li class="list-group-item checkbox-container active">
			Yes, I fully support
			<span class="ic-check"></span>
		</li>
		<li class="list-group-item checkbox-container success">
			No, I don’t agree
			<span class="ic-check"></span>
		</li>
		<li class="list-group-item checkbox-container active success">
			No, I don’t agree
			<span class="ic-check"></span>
		</li>
		<li class="list-group-item checkbox-container error">
			No, I don’t agree
			<span class="ic-check"></span>
		</li>
		<li class="list-group-item checkbox-container active error">
			No, I don’t agree
			<span class="ic-check"></span>
		</li>
	</ul>
	<!-- List-item radiobutton -->
	<h3>List-item radiobutton</h3>
	<ul class="list-group qela-condenced qela-list d-flex flex-column gap-2">
		<li class="list-group-item radiobutton-container">
			I don’t like this poll
			<span></span>
		</li>
		<li class="list-group-item radiobutton-container active">
			Yes, I fully support
			<span></span>
		</li>
		<li class="list-group-item radiobutton-container success">
			No, I don’t agree
			<span></span>
		</li>
		<li class="list-group-item radiobutton-container active success">
			No, I don’t agree
			<span></span>
		</li>
		<li class="list-group-item radiobutton-container error">
			I will refrain from answering
			<span></span>
		</li>
		<li class="list-group-item radiobutton-container active error">
			I will refrain from answering
			<span></span>
		</li>
	</ul>
	<!-- List-item radiobutton whith img -->
	<h3>List-item radiobutton whith img</h3>
	<ul class="list-group qela-condenced qela-list d-flex flex-column gap-2">
		<li class="list-group-item radiobutton-container img-pad active">
			<img src="img/rating/rating3.svg" width="41" height="41" alt=""/>
			Yes, I fully support
			<span></span>
		</li>
		<li class="list-group-item radiobutton-container img-pad">
			<img src="img/rating/rating3.svg" width="41" height="41" alt=""/>
			No, I don’t agree
			<span></span>
		</li>
	</ul>
	<!-- list-item title-only -->
	<h3>List-item title-only</h3>
	<ul class="list-group qela-description">
		<li class="list-group-item">
			<a href="#" class="d-flex justify-content-between align-items-center gap-3">
				<h6>Голосування</h6>
				<span class="ic-chevron-right text-info"></span>
			</a>
		</li>
		<li class="list-group-item">
			<a href="#" class="d-flex justify-content-between align-items-center gap-3">
				<h6>Квести</h6>
				<span class="ic-chevron-right text-info"></span>
			</a>
		</li>
		<li class="list-group-item">
			<a href="#" class="d-flex justify-content-between align-items-center gap-3">
				<h6>Квести</h6>
				<span class="ic-chevron-right text-info"></span>
			</a>
		</li>
	</ul>
	<!-- list-item custom -->
	<h3>List-item custom</h3>
	<ul class="list-group qela-custom">
		<li class="list-group-item p-0 d-flex">
			<a href="#" class="d-flex gap-2 w-50 p-2 align-items-center">
				<img src="img/icons/orden-red.svg" width="48" height="48" alt=""/>
				<div>
					<span class="h2 text-black">105</span>
					<p class="m-0 text-info">
						<small>Vote weight</small>
					</p>
				</div>
				<div class="m-3 ic-right text-info ic-chevron-right"></div>
			</a>
			<button type="button" class="btn btn-secondary text-white w-50 ic-add">Increase</button>
		</li>
	</ul>
	<!--  List-item notification -->
	<h3>List-item notification</h3>
	<ul class="list-group qela-notification">
		<li class="list-group-item new">
			<div class="qela-preview orden">
				<img src="img/icons/orden-red.svg" alt="orden image"/>
			</div>
			<div class="flex-grow-1 position-relative">
				<h2 class="h6">Vote weight added</h2>
				<span class="qela-badge small">
					<span class="badge text-white bg-success">new</span>
				</span>
				<small>Manual</small>
			</div>
			<div class="text-end">
				<div>11:09</div>
				<div class="h5">+ 3</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="qela-preview orden">
				<img src="img/icons/orden-red.svg" alt="orden image"/>
			</div>
			<div class="flex-grow-1 position-relative">
				<h2 class="h6">Vote weight added</h2>
				<small>Manual</small>
			</div>
			<div class="text-end">
				<div>11:09</div>
				<div class="h5">+ 3</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="qela-preview orden">
				<img src="img/icons/orden-red.svg" alt="orden image"/>
			</div>
			<div class="flex-grow-1 position-relative">
				<h2 class="h6">Vote weight added</h2>
				<small>Manual</small>
			</div>
			<div class="text-end">
				<div>11:09</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="qela-preview orden">
				<img src="img/icons/orden-red.svg" alt="orden image"/>
			</div>
			<div class="flex-grow-1 position-relative">
				<h2 class="h6 text-danger">Vote weight added</h2>
				<small>Manual</small>
			</div>
			<div class="text-end">
				<div>11:09</div>
				<div class="h5 text-danger">+ 3</div>
			</div>
		</li>
	</ul>
	<div class="d-inline-flex gap-2">
		<div class="qela-preview orden">
			<img src="img/icons/orden-red.svg" alt="orden image"/>
		</div>
		<div class="qela-preview">
			<img src="img/img.jpg" alt=""/>
		</div>
		<div class="qela-preview " style="--ql-talent-color: #d92525; --ql-talent-bg: #ffcccc;">
			<i class="ic-achievement-filled"></i>
		</div>
		<div class="qela-preview " style="--ql-talent-color: #d92525; --ql-talent-bg: #ffcccc;">
			<i class="ic-achievement-filled"></i>
		</div>
		<div class="qela-preview " style="--ql-talent-color: #d92525; --ql-talent-bg: #ffcccc;">
			<i class="ic-achievement-filled"></i>
		</div>
		<div class="qela-preview " style="--ql-talent-color: #d92525; --ql-talent-bg: #ffcccc;">
			<i class="ic-achievement-filled"></i>
		</div>
	</div>
	<!-- List-item whith switch -->
	<h3>List-item whith switch</h3>
	<ul class="list-group qela-description">
		<li class="list-group-item">
			<a href="#" class="d-flex justify-content-between align-items-center gap-3">
				Change password
				<div class="form-check form-switch">
					<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck5"/>
				</div>
			</a>
		</li>
		<li class="list-group-item">
			<a href="#" class="d-flex justify-content-between text-danger align-items-center gap-3">
				Contact info
				<div class="form-check form-switch">
					<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck5"/>
				</div>
			</a>
		</li>
		<li class="list-group-item">
			<a href="#" class="d-flex justify-content-between align-items-center gap-3">
				Rules
				<div class="form-check form-switch">
					<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck5"/>
				</div>
			</a>
		</li>
		<li class="list-group-item">
			<a href="#" class="d-flex justify-content-between align-items-center gap-3">
				Customer support
				<div class="form-check form-switch">
					<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck5"/>
				</div>
			</a>
		</li>
	</ul>
	<!-- User List Leaderboard -->
	<h3>User List Leaderboard</h3>
	<ul class="list-group qela-list-leaderboard">
		<li class="list-group-item">
			<div class="d-flex align-items-center gap-2">
				<span class="qela-list-num">4</span>
				<a href="#" class="qela-avatar qela-ibg" style="--img-size: 34px;">
					<img src="img/avatar.jpg" alt="#"></a>
				<small class="flex-grow-1">User Name</small>
				<div class="qela-voice">
					<div class="body-voice">
						<img src="img/icons/orden-red.svg" width="18" height="18" alt="coin">
						<small>105</small>
					</div>
				</div>
			</div>
		</li>
		<li class="list-group-item ">
			<div class="d-flex align-items-center gap-2">
				<span class="qela-list-num">4</span>
				<a href="#" class="qela-avatar qela-ibg" style="--img-size: 34px;"><img src="img/avatar.jpg"
						alt="#"></a>
				<small class="flex-grow-1">User Name</small>
				<div class="qela-voice">
					<div class="body-voice">
						<img src="img/icons/orden-red.svg" width="18" height="18" alt="coin">
						<small>105</small>
					</div>
				</div>
			</div>
		</li>
	</ul>
	<!-- User List Leaderboard  loaut-->
	<h3>User List Leaderboard layouts</h3>
	<div>
		<div class="d-flex align-items-center gap-3 mb-3">
			<h6 class="flex-grow-1">Leaderboard</h6>
			<a href="#" class="text-decoration-none">View all</a>
		</div>
		<ul class="list-group qela-list-leaderboard bg-white p-2 shadow-sm">
			<li class="list-group-item active">
				<div class="d-flex align-items-center gap-2">
					<span class="qela-list-num">4</span>
					<a href="#" class="qela-avatar qela-ibg" style="--img-size: 34px;">
						<img src="img/avatar.jpg" alt="#">
					</a>
					<small class="flex-grow-1">User Name</small>
					<div class="qela-voice">
						<div class="body-voice">
							<img src="img/icons/orden-red.svg" width="18" height="18" alt="coin">
							<small>105</small>
						</div>
					</div>
				</div>
			</li>
			<li class="list-group-item ">
				<div class="d-flex align-items-center gap-2">
					<span class="qela-list-num">4</span>
					<a href="#" class="qela-avatar qela-ibg" style="--img-size: 34px;"><img src="img/avatar.jpg"
							alt="#"></a>
					<small class="flex-grow-1">User Name</small>
					<div class="qela-voice">
						<div class="body-voice">
							<img src="img/icons/orden-red.svg" width="18" height="18" alt="coin">
							<small>105</small>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<!-- =============================== -->
	<div class="bg-white shadow-sm rounded-2">
		<div class="d-flex align-items-center p-3 border-bottom border-info">
			<i class="ic-trophy-1 text-info-400 me-2"></i>
			<h6 class="flex-grow-1 me-3">Leaderboard</h6>
			<a href="#" class="ic-chevron-right text-decoration-none text-info"></a>
		</div>
		<ul class="list-group qela-list-leaderboard p-2">
			<li class="list-group-item active">
				<div class="d-flex align-items-center gap-2">
					<span class="qela-list-num">4</span>
					<a href="#" class="qela-avatar qela-ibg" style="--img-size: 34px;"><img src="img/avatar.jpg"
							alt="#"></a>
					<small class="flex-grow-1">User Name</small>
					<div class="qela-voice">
						<div class="body-voice">
							<img src="img/icons/orden-red.svg" width="18" height="18" alt="coin">
							<small>105</small>
						</div>
					</div>
				</div>
			</li>
			<li class="list-group-item ">
				<div class="d-flex align-items-center gap-2">
					<span class="qela-list-num">4</span>
					<a href="#" class="qela-avatar qela-ibg" style="--img-size: 34px;"><img src="img/avatar.jpg"
							alt="#"></a>
					<small class="flex-grow-1">User Name</small>
					<div class="qela-voice">
						<div class="body-voice">
							<img src="img/icons/orden-red.svg" width="18" height="18" alt="coin">
							<small>105</small>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<!--  List discussions -->
	<h3>List discussions</h3>
	<ul class="list-group list-group-flush qela-description">
		<li class="list-group-item">
			<a href="#" class="d-flex align-items-center gap-2">
				<div class="qela-avatar qela-ibg" style="--img-size: 40px;">
					<img src="img/type-logo.svg" alt="#">
				</div>
				<div class="flex-grow-1">
					<div class="display-7 text-info-600 qela-clamp text-break" style="--clamp-line: 1;">Current Branch
					</div>
					<div class="qela-clamp text-break" style="--clamp-line: 1;">
						BranchBranchBranchBranchBranchBranchBranchBranchBranchBranchBranchBranchBranchBranchBranchBranch
						name</div>
				</div>
				<span class="qela-list-num bg-info-400 fs-6 fw-normal">5</span>
			</a>
		</li>
		<li class="list-group-item">
			<a href="#" class="d-flex align-items-center gap-2">
				<div class="qela-avatar info-400 qela-ibg" style="--img-size: 40px;">
					<i class="text-info-600 ic-diamond"></i>
				</div>
				<div class="flex-grow-1">
					<div class="qela-clamp qela-clamp text-break" style="--clamp-line: 1;">Quests</div>
				</div>
				<span class="qela-list-num bg-primary-400 fs-6 fw-normal">40</span>
			</a>
		</li>
		<li class="list-group-item">
			<a href="#" class="d-flex align-items-center gap-2">
				<div class="qela-avatar qela-ibg" style="--img-size: 40px;">
					<img src="img/type-logo.svg" alt="#">
				</div>
				<div class="flex-grow-1">
					<div class="qela-clamp qela-clamp text-break" style="--clamp-line: 1;">Branch name</div>
					<div class="display-7 text-info-600 qela-clamp qela-clamp text-break" style="--clamp-line: 1;">Hello
						could you help me to take this quest successfully I just Hello could you help me to take this
						quest successfully</div>
				</div>
			</a>
		</li>
	</ul>
	<!-- List referral -->
	<h3>List referral</h3>
	<ul class="list-group qela-list-ref">
		<li class="list-group-item">
			<div class="qela-ic-ref">
				<i class="ic-link"></i>
				<span class="qela-counter">1</span>
			</div>
			<small>Invite a friend using your link</small>
		</li>
		<li class="list-group-item">
			<div class="qela-ic-ref">
				<i class="ic-qela"></i>
				<span class="qela-counter">2</span>
			</div>
			<small>Your friend register in the Qela app</small>
		</li>
		<li class="list-group-item">
			<div class="qela-ic-ref">
				<i class="ic-qela"></i>
				<span class="qela-counter">3</span>
			</div>
			<small>You receive as a gift, Vote weight
				and Recruiting talent points</small>
		</li>
	</ul>
</section>