{% from "html/includes/nav/_header.njk" import topBar %}
{% from "html/includes/nav/_navbar.njk" import navbar %}
<section class="d-grid gap-3">
	<h2 class="h1 mt-4">Nav</h2>
	<!-- Nav-bar -->
	<h3>Nav-bar</h3>
	{{navbar({title:'Campaigns'})}}
	{{navbar({title:'Campaigns', type:"logo"})}}
	{{navbar({title:'Campaigns', type:"btns"})}}
	{{navbar({title:'Campaigns', type:"btnLeft"})}}
	{{navbar({title:'Campaigns', type:"btnRight"})}}
	{{navbar({title:'Campaigns', type:"btns", btnLink:true})}}
	{{navbar({title:'Campaigns', type:"btnRight", btnLink:true})}}
	<!-- Nav-bar + dropdown-->
	{{navbar({title:'Campaigns', type:"dropdown"})}}
	<!-- Top bar-->
	<h3 class="mt-5">Top bar</h3>
	{{topBar()}}

</section>