<section class="d-grid gap-3">
	<h2 class="h1 mt-4">Cards-news</h2>
	<!-- Cards news vertical full -->
	<h3>Cards news vertical full</h3>
	<div class="card">
		<div class="card-body">
			<div class="qela-ibg qela-img_16x9 mb-3">
				<img src="img/card.jpg" class="rounded-2" alt="" />
			</div>
			<h5 class="h6 mb-2">Card of the Democratic Ax member</h5>
			<p class="card-text text-info"><small>30 September 2021</small></p>
		</div>
	</div>
	<div class="card">
		<div class="card-body bg-body p-0">
			<div class="qela-ibg qela-img_16x9 mb-3">
				<img src="img/card.jpg" class="rounded-2" alt="" />
			</div>
			<h5 class="h6 mb-2">Card of the Democratic Ax member</h5>
			<p class="card-text text-info"><small>30 September 2021</small></p>
		</div>
	</div>
</section>