<section class="d-grid gap-3">
	<h2 class="h1 mt-4">Subtitles</h2>
	<div class="d-flex justify-content-between align-content-center">
		<p class="h6 me-2 fw-bold">🔥 <span class="opacity-75">Current Quests</span></p>
		<button type="button" class="btn btn-link btn-sm text-secondary">View all</button>
	</div>
	<div class="d-flex justify-content-between align-content-center">
		<p class="h6 me-2 fw-bold">🔥 <span class="opacity-75">Current Quests</span></p>
		<button type="button" class="btn btn-link btn-sm text-secondary ic-right ic-chevron-right">View all</button>
	</div>
	<div class="d-flex justify-content-between align-content-center">
		<p class="h6 me-2 fw-bold">🔥 <span class="opacity-75">Current Quests</span></p>
		<button type="button" class="btn btn-link btn-sm text-info">View all</button>
	</div>
	<div class="d-flex justify-content-between align-content-center">
		<p class="h6 me-2 fw-bold">🔥 <span class="opacity-75">Current Quests</span></p>
	</div>
	<h3 class="mt-5">Descriptor</h3>
	<p class="text-info"><small>We’ve sent you a magic link to example@gmail.com</small></p>
</section>