{% import "html/data/nav-tab/_tabData.njk" as data %}
{% from "html/includes/tab/_tab-bar.njk" import tabBar %}
{% from "html/includes/tab/_tabs.njk" import tabs %}
<section class="d-grid gap-3">
	<h2 class="h1 mt-4">Tabs</h2>
	<h3>Tab-bar</h3>
	{{tabBar(data.tabBarComponetData, "Головна")}}
	<!-- ====== -->
	<h3>Tabs</h3>
	{{tabs(data.tabComponetData)}}
</section>