{# Components #}
{% set listDescriptionComponentData = [
	{
		ul: 'qela-description',
		li: [
			{  
				tag:'a',
				text: 'Name of the branch',
				label: 'West Wing',
				icLeft: 'ic-check-filled text-success',
				icRight: 'ic-chevron-right ms-auto'
			},{  
				tag:'a',
				text: 'Name of the branch',
				label: 'West Wing',
				icLeft: 'ic-success text-info-600',
				icRight: 'ic-chevron-right ms-auto'
			},{  
				tag:'button',
				text: 'Name of the branch',
				label: 'West Wing',
				icLeft: '',
				icRight: 'ic-chevron-right ms-auto'
			},{  
				tag:'button',
				class:'',
				text: '',
				label: 'Verification of identity',
				icLeft: 'ic-success text-info-600',
				icRight: 'ic-chevron-right ms-auto'
			},{  
				tag:'button',
				class:'text-danger',
				text: '',
				label: 'Verification of identity',
				icLeft: 'ic-no-success',
				icRight: ''
			},{  
				tag:'a',
				class:'justify-content-center',
				text: '',
				label: 'Remove current photo',
				icLeft: '',
				icRight: ''
			},{  
				tag:'a',
				class:'justify-content-center text-secondary',
				text: '',
				label: 'Remove current photo',
				icLeft: '',
				icRight: ''
			},{  
				tag:'div',
				class:'justify-content-between',
				text: '',
				label: 'Your ID ',
				icLeft: '',
				icRight: '',
				button:'btn-copyed'
			},{  
				tag:'div',
				class:'justify-content-between',
				text: '',
				label: 'Your ID ',
				icLeft: '',
				icRight: '',
				button:'btn-copyed success'
			},{  
				tag:'a',
				class:'justify-content-between',
				text: 'Received in the quest "Medcanabis" 15.09.21 ',
				label: '',
				title:'+0.15',
				icLeft: '',
				icRight: 'ic-chevron-right'
			},{  
				tag:'a',
				class:'justify-content-between',
				text: '',
				label: '',
				title:'Голосування',
				icLeft: 'ic-diamond-filled qela-icon',
				icRight: 'ic-chevron-right'
			}
		]
	}
] %}
{# Components#}