{# Alerts data components #}
{% set alertComponentsData = [
	{
		type: 'danger',
		ic: 'ic-alert-triangle',
		link:{text: 'Підтвердити', class: 'text-danger-900'},
		message: 'Увага! Підписка тільки на місяць'
	},
	{
		type: 'warning',
		ic: 'ic-alert-triangle',
		link:{text: 'Підтвердити', class: 'text-warning-800'},
		message: 'Увага! Підписка тільки на місяць'
	},
	{
		type: 'info',
		ic: 'ic-error-warning-fill',
		link:{text: 'Підтвердити', class: 'text-info-700'},
		message: 'Увага! Підписка тільки на місяць'
	},
	{
		type: 'success',
		ic: 'ic-check-filled',
		link:{text: 'Підтвердити', class: 'text-success-800'},
		message: 'Увага! Підписка тільки на місяць'
	},
	{
		type: 'secondary',
		ic: 'ic-check-filled',
		link:{text: 'Підтвердити', class: 'text-secondary-800'},
		message: 'Увага! Підписка тільки на місяць'
	}
] %}
{# Alerts data components #}