{% set avatarsXlComponent = [
	{
		tag: 'a',
		online: 'online',
		size: 100,
		fs: '',
		name: '',
		src: 'img/avatar.jpg',
		alt: 'User Avatar',
		class: ''
	}, {
		tag: 'a',
		online: '',
		size: 100,
		fs: 'lg',
		name: 'j',
		class: ''
	}, {
		tag: 'a',
		online: '',
		size: 100,
		fs: '',
		name: '',
		src: 'img/type-logo.svg',
		alt: 'type-logo',
		class: ''
	}, {
		tag: 'a',
		online: '',
		size: 100,
		fs: 'lg',
		name: '',
		class: ''
	}
] %}
{% set avatarsLgComponent = [
	{
		tag: 'a',
		online: 'online',
		size: 70,
		fs: '',
		name: '',
		src: 'img/avatar.jpg',
		alt: 'User Avatar',
		class: ''
	}, {
		tag: 'a',
		online: '',
		size: 70,
		fs: 'lg',
		name: 'j',
		class: ''
	}, {
		tag: 'a',
		online: '',
		size: 70,
		fs: '',
		name: '',
		src: 'img/type-logo.svg',
		alt: 'type-logo',
		class: ''
	}, {
		tag: 'a',
		online: '',
		size: 70,
		fs: 'lg',
		name: '',
		class: ''
	}
] %}
{% set avatarsMdComponent = [
	{
		tag: 'a',
		online: 'online-sm',
		size: 40,
		fs: '',
		name: '',
		src: 'img/avatar.jpg',
		alt: 'User Avatar',
		class: ''
	}, {
		tag: 'a',
		online: '',
		size: 40,
		fs: 'md',
		name: 'j',
		class: 'fs-6'
	}, {
		tag: 'a',
		online: '',
		size: 40,
		fs: '',
		name: '',
		src: 'img/type-logo.svg',
		alt: 'type-logo',
		class: ''
	}
] %}
{% set avatarsSmComponent = [
	{
		tag: 'span',
		online: '',
		size: 30,
		fs: '',
		name: '',
		src: 'img/avatar.jpg',
		alt: 'User Avatar',
		class: ''
	}, {
		tag: 'span',
		online: '',
		size: 30,
		fs: 'sm',
		name: 'j',
		class: 'fs-6'
	}, {
		tag: 'span',
		online: '',
		size: 30,
		fs: '',
		name: '',
		src: 'img/type-logo.svg',
		alt: 'type-logo',
		class: ''
	}
] %}