{% import "html/data/ui/_alertData.njk" as data %}
{% from "html/includes/ui/_alert.njk" import alert %}
<!-- Alert -->
<section class="d-grid gap-3">
	<h2 class="h1 mt-4">Alert</h2>
	{% for item in data.alertComponentsData %}
		{{ alert(item) }}
	{% endfor %}
</section>