<section class="d-grid gap-3">
  <!-- Cards сampaig vertical -->
  <h2 class="h1 mt-4">Campaign</h2>
  <h3>Cards campaig vertical</h3>
  <div class="card">
    <div class="card-body">
      <div class="qela-ibg qela-img_16x9 mb-3">
        <img src="img/card-2.jpg" class="rounded-2" alt="" />
      </div>
      <h5 class="h6">Medical cannabis must be legal!</h5>
    </div>
  </div>
  <div class="card">
    <div class="card-body bg-body p-0">
      <div class="qela-ibg qela-img_16x9 mb-3">
        <img src="img/card-2.jpg" class="rounded-2" alt="" />
      </div>
      <h5 class="h6">Medical cannabis must be legal!</h5>
    </div>
  </div>
</section>
