<section class="d-grid gap-3">
	<h2 class="h1 mt-4">Activity-stat</h2>
	<div class="qela-activity-stat">
		<div>
			<div class="d-flex align-items-center gap-2"><i class="ic-diamond text-secondary-600"></i><span class="fw-bold text-info-800">12</span></div>
			<div class="mt-2 display-7">Quests completed</div>
		</div>
		<div>
			<div class="d-flex align-items-center gap-2"><i class="ic-voting text-secondary-600"></i><span class="fw-bold text-info-800">7</span></div>
			<div class="mt-2 display-7">Votings taken</div>
		</div>
		<div>
			<div class="d-flex align-items-center gap-2"><i class="ic-gift text-secondary-600"></i><span class="fw-bold text-info-800">27</span></div>
			<div class="mt-2 display-7">Invited friends</div>
		</div>
	</div>
</section>