<section class="d-grid gap-3">
	<h2 class="h1 mt-4">Organisation</h2>
	<!-- Organisation-logo -->
	<h3>Organisation-logo</h3>
	<a href="#" class="qela-avatar qela-ibg" style="--img-size: 34px">
		<img src="img/icons/F-icon.svg" alt="#">
	</a>
	<a href="#" class="qela-avatar bg-secondary" style="--img-size: 34px">
		<img src="img/icons/qela-w.svg" alt="qela">
	</a>
	<!-- Organization-logo-name -->
	<h3>Organization-logo-name</h3>
	<div class="d-flex gap-3">
		<a href="#" class="qela-avatar qela-ibg" style="--img-size: 34px">
			<img src="img/icons/F-icon.svg" alt="#">
		</a>
		<div>
			<div class="fs-3">West Wing</div>
			<div><small>Founded in 1973</small></div>
		</div>
	</div>
</section>