<section class="d-grid gap-3">
	<!-- Alert -->
	<h2 class="h1 mt-4">Alert</h2>
	<div class="alert alert-danger qela-alert fade show" role="alert">
		<i class="ic-error-warning-fill text-danger"></i>
		<div class="text-end">
			<div class="mb-2 text-start">Увага! Підписка тільки на місяц</div>
			<a href="#" class="text-danger-900">Підтвердити</a>
		</div>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	<div class="alert alert-warning qela-alert fade show" role="alert">
		<i class="ic-alert-triangle text-warning-700"></i>
		<div class="text-end">
			<div class="mb-2 text-start">Увага! Підписка тільки на місяць</div>
			<a href="#" class="text-warning-900">Підтвердити</a>
		</div>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	<div class="alert alert-info qela-alert fade show" role="alert">
		<i class="ic-error-warning-fill text-info-600"></i>
		<div class="text-end">
			<div class="mb-2 text-start">Увага! Підписка тільки на місяць</div>
			<a href="#" class="text-info-800 ms-auto">Підтвердити</a>
		</div>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	<div class="alert alert-success qela-alert fade show" role="alert">
		<i class="ic-check-filled text-success-700"></i>
		<div class="text-end">
			<div class="mb-2 text-start">Увага! Підписка тільки на місяць</div>
			<a href="#" class="text-success-900">Підтвердити</a>
		</div>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	<div class="alert alert-secondary qela-alert p-3" role="alert">
		<div class="d-flex flex-column align-items-center gap-2">
			<i class="ic-success ic-large text-secondary"></i>
			<div class="mb-2">Увага! Підписка тільки на місяць</div>
			<a href="#">Підтвердити</a>
		</div>
	</div>
</section>