<section class="d-grid gap-3">
  <!-- Alert -->
  <h2 class="h1 mt-4">Alert</h2>
  <div class="alert alert-secondary qela-alert fade show" role="alert">
    <span class="ic-alert-triangle text-secondary"></span>
    <div class="mb-2">Увага! Підписка тільки на місяць</div>
    <a href="#">Підтвердити</a>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  <div class="alert alert-danger qela-alert fade show" role="alert">
    <span class="ic-error-warning-fill text-danger"></span>
    <div class="mb-2">Увага! Підписка тільки на місяц</div>
    <a href="#" class="text-danger">Підтвердити</a>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  <div class="alert alert-warning qela-alert fade show" role="alert">
    <span class="ic-error-warning-fill text-warning"></span>
    <div class="mb-2">Увага! Підписка тільки на місяць</div>
    <a href="#" class="text-warning">Підтвердити</a>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  <div class="alert alert-info qela-alert fade show" role="alert">
    <span class="ic-error-warning-fill text-secondary"></span>
    <div class="mb-2">Увага! Підписка тільки на місяць</div>
    <a href="#">Підтвердити</a>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  <div class="alert alert-secondary qela-alert p-3" role="alert">
    <div class="d-flex flex-column align-items-center gap-2">
      <span class="ic-success ic-large text-secondary"></span>
      <div class="mb-2">Увага! Підписка тільки на місяць</div>
      <a href="#">Підтвердити</a>
    </div>
  </div>
</section>
