<aside class="fixed-top pt-2 d-lg-block d-none overflow-auto" style="width: 280px; height: 100vh;">
	<div class="m-3">
		<a href="https://frilanser-of-ua.github.io/Qela-mob/Qela-mob/" class="btn btn-secondary ic-chevron-left">Components</a>
	</div>
	<nav>
		<ol class="d-flex flex-column gap-2">
			<li><a class="text-black" href="https://frilanser-of-ua.github.io/Qela-mob/Qela-mob/discussions">discussions</a></li>
			<li><a class="text-black" href="https://frilanser-of-ua.github.io/Qela-mob/Qela-mob/img">img</a></li>
			<li><a class="text-black" href="https://frilanser-of-ua.github.io/Qela-mob/Qela-mob/layout-top">header-fix</a></li>
			<li><a class="text-black" href="https://frilanser-of-ua.github.io/Qela-mob/Qela-mob/layout">layout-default</a></li>
			<li><a class="text-black" href="https://frilanser-of-ua.github.io/Qela-mob/Qela-mob/layout1">header-footer-fix</a></li>
			<li><a class="text-black" href="https://frilanser-of-ua.github.io/Qela-mob/Qela-mob/layout2">header-footer-fix(tabs)</a></li>
			<li><a class="text-black" href="https://frilanser-of-ua.github.io/Qela-mob/Qela-mob/layout3">header-footer-fix(user)</a></li>
			<li><a class="text-black" href="https://frilanser-of-ua.github.io/Qela-mob/Qela-mob/layout4">header-footer-fix(back)</a></li>
			<li><a class="text-black" href="https://frilanser-of-ua.github.io/Qela-mob/Qela-mob/symple">layout-simple</a></li>
			<li><a class="text-black" href="https://frilanser-of-ua.github.io/Qela-mob/Qela-mob/leaderboard">leaderboard</a></li>
			<li><a class="text-black" href="https://frilanser-of-ua.github.io/Qela-mob/Qela-mob/leaderboard-filters">leaderboard-filters</a></li>
			<li><a class="text-black" href="https://frilanser-of-ua.github.io/Qela-mob/Qela-mob/leaderboard">leaderboard</a></li>
			<li><a class="text-black" href="https://frilanser-of-ua.github.io/Qela-mob/Qela-mob/success1">success</a></li>
			<li><a class="text-black" href="https://frilanser-of-ua.github.io/Qela-mob/Qela-mob/success2">success-btn bottom</a></li>
			<li><a class="text-black" href="https://frilanser-of-ua.github.io/Qela-mob/Qela-mob/success3">success-vote</a></li>
			<li><a class="text-black" href="https://frilanser-of-ua.github.io/Qela-mob/Qela-mob/success4">success-list bottom</a></li>
			<li><a class="text-black" href="https://frilanser-of-ua.github.io/Qela-mob/Qela-mob/success5">success-telent</a></li>
			<li><a class="text-black" href="https://frilanser-of-ua.github.io/Qela-mob/Qela-mob/chat">chat</a></li>
			<li><a class="text-black" href="https://frilanser-of-ua.github.io/Qela-mob/Qela-mob/chat-reply-mess">chat-reply-mess</a></li>
			<li><a class="text-black" href="https://frilanser-of-ua.github.io/Qela-mob/Qela-mob/referral">referral</a></li>
			<li><a class="text-black" href="https://frilanser-of-ua.github.io/Qela-mob/Qela-mob/referral-info">referral-info</a></li>
		</ol>
	</nav>
</aside>