<!-- Checkbox square -->
<section class="d-grid gap-3">
	<h2 class="h1 mt-4">Checkbox-radiobutton</h2>
	<h3>Checkbox</h3>
	<div class="d-flex">
		<div class="form-check">
			<input type="checkbox" class="form-check-input">
		</div>
		<div class="form-check">
			<input type="checkbox" class="form-check-input" disabled>
		</div>
		<div class="form-check">
			<input type="checkbox" class="form-check-input" checked>
		</div>
		<div class="form-check">
			<input type="checkbox" class="form-check-input" disabled checked>
		</div>
		<div class="form-check">
			<input type="checkbox" class="form-check-input invalid">
		</div>
	</div>
	<!-- Checkbox square -->
	<!-- Checkbox label -->
	<h3 class="mt-4">Checkbox label</h3>
	<div class="form-check">
		<input type="checkbox" class="form-check-input" id="Check1">
		<label class="form-check-label" for="Check1">Checkbox-label</label>
		<span class="form-error">Error text1 Error text1 Error text1</span>
	</div>
	<div class="form-check">
		<input type="checkbox" class="form-check-input" disabled id="Check2">
		<label class="form-check-label" for="Check2">Checkbox-label</label>
		<span class="form-error">Error text1 Error text1 Error text1</span>
	</div>
	<div class="form-check">
		<input type="checkbox" class="form-check-input" checked id="Check3">
		<label class="form-check-label" for="Check3">Checkbox-label</label>
		<span class="form-error">Error text1 Error text1 Error text1</span>
	</div>
	<div class="form-check">
		<input type="checkbox" class="form-check-input" disabled checked id="Check4">
		<label class="form-check-label" for="Check4">Checkbox-label</label>
		<span class="form-error">Error text1 Error text1 Error text1</span>
	</div>
	<div class="form-check">
		<input type="checkbox" class="form-check-input invalid" id="Check5">
		<label class="form-check-label" for="Check5">Checkbox-label Checkbox-label Checkbox-label Checkbox-label
			Checkbox-label</label>
		<span class="form-error">Error text1 Error text1 Error text1</span>
	</div>
	<!-- Checkbox label -->
	<!-- Checkbox label + link -->
	<div class="form-check">
		<input type="checkbox" class="form-check-input" id="Check1">
		<span class="form-error">Error text1 Error text1 Error text1</span>
		<label class="form-check-label" for="Check1">I agree with <a href="#">Terms &amp; Conditions</a></label>
	</div>
	<!-- Checkbox label + link -->
	<!-- Radiobutton square -->
	<h3 class="mt-4">Radiobutton</h3>
	<div class="d-flex">
		<div class="form-check">
			<input class="form-check-input" type="radio">
		</div>
		<div class="form-check">
			<input class="form-check-input" disabled type="radio">
		</div>
		<div class="form-check">
			<input class="form-check-input" checked type="radio">
		</div>
		<div class="form-check">
			<input class="form-check-input" checked disabled type="radio">
		</div>
		<div class="form-check">
			<input class="form-check-input invalid" type="radio">
		</div>
	</div>
	<!-- Radiobutton square -->
	<!-- Radiobutton label -->
	<h3 class="mt-4">Radiobutton label</h3>
	<div class="form-check">
		<input type="radio" class="form-check-input" id="Radio1">
		<label class="form-check-label" for="Radio1">Checkbox-label</label>
		<span class="form-error">Error text1 Error text1 Error text1</span>
	</div>
	<div class="form-check">
		<input type="radio" class="form-check-input" id="Radio2" disabled>
		<label class="form-check-label" for="Radio2">Checkbox-label</label>
		<span class="form-error">Error text1 Error text1 Error text1</span>
	</div>
	<div class="form-check">
		<input type="radio" class="form-check-input" id="Radio3" checked>
		<label class="form-check-label" for="Radio3">Checkbox-label</label>
		<span class="form-error">Error text1 Error text1 Error text1</span>
	</div>
	<div class="form-check">
		<input type="radio" class="form-check-input" id="Radio4" disabled checked>
		<label class="form-check-label" for="Radio4">Checkbox-label</label>
		<span class="form-error">Error text1 Error text1 Error text1</span>
	</div>
	<div class="form-check">
		<input type="radio" class="form-check-input invalid" id="Radio5">
		<label class="form-check-label" for="Radio5">Checkbox-label Checkbox-label Checkbox-label Checkbox-label
			Checkbox-label</label>
		<span class="form-error">Error text1 Error text1 Error text1</span>
	</div>
	<!-- Radiobutton label -->
</section>