<section class="d-grid gap-3">
	<!-- Icons -->
	<h2 class="h1 mt-4">Icons</h2>
	<div class="d-flex gap-3 py-3 flex-wrap">
		<span class="ic-bell"></span>
		<span class="ic-box-arrow"></span>
		<span class="ic-calendar"></span>
		<span class="ic-city"></span>
		<span class="ic-clock"></span>
		<span class="ic-cloze"></span>
		<span class="ic-commit"></span>
		<span class="ic-delete"></span>
		<span class="ic-dollar"></span>
		<span class="ic-dots"></span>
		<span class="ic-dots-2"></span>
		<span class="ic-grip-horizontal"></span>
		<span class="ic-dots-row"></span>
		<span class="ic-download"></span>
		<span class="ic-edit"></span>
		<span class="ic-files"></span>
		<span class="ic-jostik"></span>
		<span class="ic-latter"></span>
		<span class="ic-lattice"></span>
		<span class="ic-map"></span>
		<span class="ic-mark"></span>
		<span class="ic-no-success"></span>
		<span class="ic-notes"></span>
		<span class="ic-people"></span>
		<span class="ic-phone"></span>
		<span class="ic-plus"></span>
		<span class="ic-print"></span>
		<span class="ic-search"></span>
		<span class="ic-settings"></span>
		<span class="ic-speaker"></span>
		<span class="ic-stop"></span>
		<span class="ic-stop-2"></span>
		<span class="ic-success"></span>
		<span class="ic-success-2"></span>
		<span class="ic-tent"></span>
		<span class="ic-arrow-down"></span>
		<span class="ic-arrow-left"></span>
		<span class="ic-send"></span>
		<span class="ic-arrow"></span>
		<span class="ic-eye-close"></span>
		<span class="ic-donats"></span>
		<span class="ic-error-warning-fill"></span>
		<span class="ic-alert-triangle"></span>
		<span class="ic-eye"></span>
		<span class="ic-chevron-right"></span>
		<span class="ic-chevron-left"></span>
		<span class="ic-chevron-up"></span>
		<span class="ic-chevron"></span>
		<span class="ic-check"></span>
		<span class="ic-check-big"></span>
		<span class="ic-check-filled"></span>
		<span class="ic-add"></span>
		<span class="ic-info"></span>
		<span class="ic-file-copy"></span>
		<span class="ic-circle"></span>
		<span class="ic-writing"></span>
		<span class="ic-flame"></span>
		<span class="ic-exclamation-mark"></span>
		<span class="ic-chart-pie"></span>
		<span class="ic-bulb"></span>
		<span class="ic-camera-plus"></span>
		<span class="ic-checkmark-starburst-filled"></span>
		<span class="ic-donation"></span>
		<span class="ic-img"></span>
		<span class="ic-img-plus"></span>
		<span class="ic-log-out"></span>
		<span class="ic-upload"></span>
		<span class="ic-text-doc"></span>
		<span class="ic-share-2"></span>
		<span class="ic-mobile-message"></span>
		<span class="ic-message-square"></span>
		<span class="ic-lock"></span>
		<span class="ic-loader"></span>
		<span class="ic-info-filled"></span>
		<span class="ic-alert-filled"></span>
		<span class="ic-help-circle-filled"></span>
		<span class="ic-help-circle"></span>
		<span class="ic-alert-triangle-2"></span>
		<span class="ic-alert-starburst-filled"></span>
		<span class="ic-article"></span>
		<span class="ic-award"></span>
		<span class="ic-layout-grid"></span>
		<span class="ic-layout-kanban"></span>
		<span class="ic-list-check"></span>
		<span class="ic-notebook"></span>
		<span class="ic-swipe"></span>
		<span class="ic-trophy"></span>
		<span class="ic-wallpaper"></span>
		<span class="ic-equal"></span>
		<span class="ic-hand-click"></span>
		<span class="ic-letter-c"></span>
		<span class="ic-link"></span>
		<span class="ic-link-2"></span>
		<span class="ic-refresh"></span>
		<span class="ic-triangle-default"></span>
		<span class="ic-triangle-filled"></span>
		<span class="ic-triangle-inverted-default"></span>
		<span class="ic-triangle-inverted-filled"></span>
		<span class="ic-triangle-inverted-small"></span>
		<span class="ic-triangle-small"></span>
		<span class="ic-arrows-minimize"></span>
		<span class="ic-arrows-maximize"></span>
		<span class="ic-arrow-move"></span>
		<span class="ic-arrow-autofit-content"></span>
		<span class="ic-branch"></span>
		<span class="ic-edit-2"></span>
		<span class="ic-key"></span>
		<span class="ic-minus"></span>
		<span class="ic-redo"></span>
		<span class="ic-undo"></span>
		<span class="ic-triangle-left-small"></span>
		<span class="ic-triangle-right-small"></span>
		<span class="ic-un-link"></span>
		<span class="ic-location"></span>
		<span class="ic-google-map"></span>
		<span class="ic-img-32"></span>
		<span class="ic-play"></span>
		<span class="ic-img-plus-40"></span>
		<span class="ic-fb"></span>
		<span class="ic-inst"></span>
		<span class="ic-teleg"></span>
		<span class="ic-twit"></span>
		<span class="ic-youtube"></span>
		<span class="ic-twit-new"></span>
		<span class="ic-adjustments-h-24"></span>
		<span class="ic-arrow-big-down"></span>
		<span class="ic-arrow-big-up"></span>
		<span class="ic-arrows-down-up"></span>
		<span class="ic-video-40"></span>
		<span class="ic-hexagon-plus-24"></span>
		<span class="ic-bill"></span>
		<span class="ic-chevron-down-right"></span>
		<span class="ic-inkedin"></span>
		<span class="ic-triangle-2-down"></span>
		<span class="ic-triangle-2-down-right"></span>
		<span class="ic-triangle-2-up"></span>
		<span class="ic-web-site"></span>
		<span class="ic-world"></span>
		<span class="ic-credit-card"></span>
		<span class="ic-tag"></span>
		<span class="ic-hand"></span>
		<span class="ic-maps-global-28"></span>
		<span class="ic-message-circle"></span>
		<span class="ic-message-circle-filled-28"></span>
		<span class="ic-player-play"></span>
		<span class="ic-radiobutton"></span>
		<span class="ic-scroll"></span>
		<span class="ic-square-check"></span>
		<span class="ic-star"></span>
		<span class="ic-trophy-1"></span>
		<span class="ic-trophy-2"></span>
		<span class="ic-trophy-3"></span>
		<span class="ic-calendar-time"></span>
		<span class="ic-hour-glass"></span>
		<span class="ic-chevrons-right"></span>
		<span class="ic-chevrons-left"></span>
		<span class="ic-donation-outlined"></span>
		<span class="ic-diamond"></span>
		<span class="ic-diamond-filled"></span>
		<span class="ic-voting"></span>
		<span class="ic-voting-filled"></span>
		<span class="ic-user"></span>
		<span class="ic-user-filled"></span>
		<span class="ic-bell-filled"></span>
		<span class="ic-qela"></span>
		<span class="ic-qela-filled"></span>
		<span class="ic-dislike-filled"></span>
		<span class="ic-dislike"></span>
		<span class="ic-like-filled"></span>
		<span class="ic-like"></span>
		<span class="ic-archive"></span>
		<span class="ic-mute"></span>
		<span class="ic-report"></span>
		<span class="ic-task"></span>
		<span class="ic-reply"></span>
	</div>
</section>