<section class="d-grid gap-3">
  <h2 class="h1 mt-4">Logos</h2>
  <a class="navbar-brand d-inline-flex" href="#">
    <img src="img/logo-2.svg" alt="Logo" width="40" height="40" />
  </a>
  <a class="navbar-brand d-inline-flex" href="#">
    <img src="img/logo.svg" alt="Logo" width="86" height="40" />
  </a>
  <a class="navbar-brand d-inline-flex" href="#">
    <img src="img/logo-3.svg" alt="Logo" width="57" height="40" />
  </a>
  <a class="navbar-brand d-inline-flex" href="#">
    <img src="img/logo.svg" alt="Logo" width="125" height="50" />
  </a>
  <a class="navbar-brand d-inline-flex" href="#">
    <img src="img/logo.svg" alt="Logo" width="200" height="82" />
  </a>
  <h3 class="mt-5" id="h3Btn2">Logo block</h3>
  <div class="text-center">
    <a class="navbar-brand d-inline-flex" href="#">
      <img src="img/logo.svg" alt="Logo" width="86" height="40" />
    </a>
  </div>
  <h3>Rating img</h3>
  <div class="d-flex flex-wrap gap-2">
    <img src="img/rating/rating1.svg" width="40" height="40" alt="" />
    <img src="img/rating/rating2.svg" width="40" height="40" alt="" />
    <img src="img/rating/rating3.svg" width="40" height="40" alt="" />
    <img src="img/rating/rating4.svg" width="40" height="40" alt="" />
    <img src="img/rating/rating5.svg" width="40" height="40" alt="" />
  </div>
</section>
