<section class="d-grid gap-3">
	<h2 class="h1 mt-4">Nav</h2>
	<!-- Nav-bar -->
	<h3>Nav-bar</h3>
	<nav class="navbar bg-white qela-navbar">
		<span class="h6 text-center"> Campaigns </span>
	</nav>
	<!-- Nav-bar icon left-->
	<nav class="navbar bg-white qela-navbar">
		<a href="#" class="btn ic-chevron-left start-0 ms-3"></a>
		<span class="h6 text-center"> Campaigns </span>
	</nav>
	<!-- Nav-bar icon left, button right-->
	<nav class="navbar bg-white qela-navbar">
		<a href="#" class="btn ic-chevron-left start-0 ms-3"></a>
		<span class="h6 text-center"> Campaigns </span>
		<a href="#" class="btn btn-link btn-sm text-secondary end-0 me-3">Cancel</a>
	</nav>
	<!-- Nav-bar button right-->
	<nav class="navbar bg-white qela-navbar">
		<span class="h6 text-center"> Campaigns </span>
		<a href="#" class="btn btn-link btn-sm text-secondary end-0 me-3">Cancel</a>
	</nav>
	<!-- Nav-bar icon left, button icon right-->
	<nav class="navbar bg-white qela-navbar">
		<a href="#" class="btn ic-chevron-left start-0 ms-3"></a>
		<span class="h6 text-center"> Campaigns </span>
		<!-- <button type="button" class="btn ic-dots end-0 me-3"></a> -->
		<div class="dropdown  qela-dropdown end-0 me-3">
			<button class="btn ic-dots" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
			<ul class="dropdown-menu dropdown-menu-end mt-3">
				<li><button type="button" class="dropdown-item ic-mute" href="#">Unmute</button></li>
				<li><button type="button" class="dropdown-item ic-archive" href="#">Unarchive</button></li>
			</ul>
		</div>
	</nav>
	<!-- Top bar-->
	<h3 class="mt-5">Top bar</h3>
	<nav class="navbar bg-white qela-topbar">
		<a class="navbar-brand p-0" href="#">
			<img src="img/logo-sm.svg" />
		</a>
		<a href="#" class="qela-btn-top">
			<div class="ic-add left"></div>
			<div class="text-black right">
				<span>150</span>
				<img src="img/icons/orden-red.svg" alt="#" />
			</div>
		</a>
		<div class="d-flex gap-3 ms-auto">
			<button type="button" class="btn ic-message-circle">
				<span class="qela-counter">1</span>
			</button>
			<button type="button" class="btn ic-bell">
				<span class="qela-counter">2565</span>
			</button>
		</div>
	</nav>
</section>