<section class="d-flex flex-column gap-3">
	<h2 class="h1 mt-4">Profile</h2>
	<!-- mg profile 1x1 -->
	<h3>Img profile 1x1</h3>
	<div class="position-relative">
		<button class="btn-round ic-camera-plus position-absolute end-0 mt-5 me-3"></button>
		<div class="qela-ibg qela-img_1x1">
			<img src="img/profile-img.jpg" width="100%" alt="" />
		</div>
	</div>
	<div class="position-relative">
		<button class="btn-round ic-camera-plus position-absolute end-0 mt-5 me-3"></button>
		<div class="qela-ibg qela-img_1x1 bg-info">
			<span class="position-absolute start-50 top-50 translate-middle qela-initials">J M</span>
		</div>
	</div>
	<!-- User-name -->
	<h3>User-name</h3>
	<div class="h2 fw-bolder qela-username">
		<div class="qela-clamp clamp-name1"><span>John McBoris</span></div>
	</div>
	<div class="h2 fw-bolder qela-username">
		<div class="qela-clamp clamp-name1">
			<span>@Kyrilo gmail</span>
			<span>McBorisMcBorisMcBorisMcBorisMcBorisMcBoris</span>
		</div>
	</div>
	<div class="h2 fw-bolder qela-username">
		<div class="qela-clamp clamp-name1"><span>John McBoris</span></div>
		<span class="ic-checkmark-starburst-filled"></span>
	</div>
	<div class="h1 fw-bolder qela-username">
		<div class="qela-clamp clamp-name1">
			<span>@Kyrilo gmail</span>
			<span>@Wadsasdasdasdasdsadasad</span>
		</div>
		<div class="ic-checkmark-starburst-filled"></div>
	</div>
	<!-- My-id -->
	<h3>My-id</h3>
	<div class="gap-1 px-3 qela-id">
		<span class="h6 fw-bold">My ID</span>
		<button type="button" class="btn-copyed bg-white p-2 rounded-1">
			<span class="ic-file-copy">C12****** D7F6</span>
			<span class="ic-check-filled filled justify-content-center">Copied</span>
		</button>
	</div>
	<div class="gap-1 px-3 qela-id">
		<span class="h6 fw-bold">My ID</span>
		<button type="button" class="btn-copyed success p-2 rounded-1">
			<span class="ic-file-copy">C12****** D7F6</span>
			<span class="ic-check-filled filled justify-content-center">Copied</span>
		</button>
	</div>
</section>