<section class="d-grid gap-3">
  <h2 class="h1 mt-4">Progress</h2>
  <h3 class="mt-2">Progress value-inside</h3>
  <div class="progress qela-progress" style="--percent: 50%">
    <div class="left">50%</div>
    <div class="right">50%</div>
  </div>
  <div class="progress qela-progress" style="--percent: 0%">
    <div class="left">0%</div>
    <div class="right">0%</div>
  </div>
  <div class="progress qela-progress" style="--percent: 100%">
    <div class="left">100%</div>
    <div class="right">100%</div>
  </div>
  <h3>Progress value-top</h3>
  <div>
    <div class="d-flex mb-3 gap-3 justify-content-between">
      <div class="d-flex gap-3">
        <div class="h6">Completed</div>
        <div class="text-info"><small>3/12</small></div>
      </div>
      <div class=""><small>39% to completion </small></div>
    </div>
    <div class="progress" style="height: 10px">
      <div
        class="progress-bar bg-secondary"
        role="progressbar"
        aria-label="Success example"
        style="width: 25%"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
  </div>
  <h3>Progress circle</h3>
  <div class="qela-preload" style="--num: 50">
    <svg>
      <circle cx="60" cy="60" r="52"></circle>
      <circle cx="60" cy="60" r="52"></circle>
    </svg>
  </div>
</section>
