<section class="d-grid gap-3">
	<!-- Contacts -->
	<h2 class="h1 mt-4">Quest-conditions-page</h2>
	<h3>Contacts</h3>
	<div class="d-flex flex-column gap-2">
		<div class="d-flex gap-1 fs-5">
			<span>Supervisor:</span><span class="fw-semibold">Gary Simon</span>
		</div>
		<div class="d-flex gap-1 fs-5">
			<span>Tel:</span><a href="tel:+14844731620" class="text-decoration-none text-black fw-semibold">+14844731620</a>
		</div>
		<div class="d-flex gap-1 fs-5">
			<span>Email:</span><a href="mailto:contact@design.com" class="text-decoration-none text-black fw-semibold">contact@design.com</a>
		</div>
	</div>
	<!-- Person contacts -->
	<h3>Person contacts</h3>
	<div class="d-flex flex-column gap-2">
		<p class="h6 m-0 fw-bold"><span class="opacity-75">Contact person</span></p>
		<div class="d-flex gap-1 fs-5">
			<span>Supervisor:</span><span class="fw-semibold">Gary Simon</span>
		</div>
		<div class="d-flex gap-1 fs-5">
			<span>Tel:</span><a href="tel:+14844731620" class="text-decoration-none text-black fw-semibold">+14844731620</a>
		</div>
		<div class="d-flex gap-1 fs-5">
			<span>Email:</span><a href="mailto:contact@design.com" class="text-decoration-none text-black fw-semibold">contact@design.com</a>
		</div>
	</div>
	<!-- Upload-doc-item -->
	<h3>Upload-doc-item</h3>
	<span class="ic-files qela-upload_ic"></span>
	<div class="qela-upload bg-white">
		<span class="ic-files qela-upload_ic"></span>
		<div class="p-2 flex-grow-1">
			<div class="h6">File name</div>
			<div class="opacity-50"><small>Pdf</small></div>
		</div>
		<button class="ic-cloze px-4 bg-white border-0"></button>
	</div>
	<!-- Upload-doc-block -->
	<h3>Upload-doc-block</h3>
	<div class="qela-pad_100 d-flex flex-column gap-4">
		<h4 class="text-center">Upload text document</h4>
		<button type="button" class="btn btn-secondary ic-left ic-download">
			Upload from files
		</button>
	</div>
	<div class="qela-pad_100 d-flex flex-column gap-4">
		<h4 class="text-center">Upload text document</h4>
		<div class="d-flex flex-column gap-3">
			<div class="qela-upload bg-white">
				<span class="ic-files qela-upload_ic"></span>
				<div class="p-2 flex-grow-1">
					<div class="h6">File name</div>
					<div class="opacity-50"><small>Pdf</small></div>
				</div>
				<button class="ic-cloze px-4 bg-white border-0"></button>
			</div>
			<div class="qela-upload bg-white">
				<span class="ic-files qela-upload_ic"></span>
				<div class="p-2 flex-grow-1">
					<div class="h6">File name</div>
					<div class="opacity-50"><small>Pdf</small></div>
				</div>
				<button class="ic-cloze px-4 bg-white border-0"></button>
			</div>
		</div>
		<button type="button" class="btn btn-secondary ic-left ic-download w-100">
			Upload from files
		</button>
	</div>
	<!-- Upload-img 02 -->
	<h3>Upload-img 02</h3>
	<button type="button" class="qela-add w-50">
		<span class="ic-img-plus icon"></span>
		add an image
	</button>
	<div class="card w-50">
		<img src="img/input.jpg" class="card-img" alt="card-img" />
		<button class="btn-del ic-cloze"></button>
	</div>
	<!-- Upload-img-block -->
	<h3>Upload-img block</h3>
	<div class="py-5">
		<button type="button" class="qela-add mx-auto">
			<span class="ic-img-plus icon"></span>
			add an image
		</button>
	</div>
	<div class="py-5">
		<div class="card w-50 mx-auto">
			<img src="img/input.jpg" class="card-img" alt="card-img" />
			<button class="btn-del ic-cloze"></button>
		</div>
	</div>
	<!-- === -->
	<div class="py-5">
		<div class="qela-grid">
			<button type="button" class="qela-add">
				<span class="ic-img-plus icon"></span>
				add an image
			</button>
			<div class="card">
				<img src="img/input.jpg" class="card-img" alt="card-img" />
				<button class="btn-del ic-cloze"></button>
			</div>
		</div>
	</div>
	<!-- Qr -->
	<h3>Qr</h3>
	<div class="qela-pad_100">
		<h4 class="text-center mb-4">Scan to share</h4>
		<div class="m-auto p-4 position-relative qela-qr">
			<span></span>
			<img src="img/qr.svg" width="100%" alt="qr code" />
			<span></span>
		</div>
	</div>
	<!-- Map-pin -->
	<h3 class="mb-5">Map-pin</h3>
	<!-- С помощью класса актив пины анимировано появляються и кнему же привязан ховер-->
	<div class="d-flex flex-column align-items-start gap-5 ps-5">
		<div class="qela-pin secondary active">
			<div class="qela-pin__num">
				<small>1</small>
			</div>
			<div class="qela-pin__dot">
				<div class="qela-pin__area" style="--diameter: 85px"></div>
			</div>
		</div>
		<div class="qela-pin danger active">
			<div class="qela-pin__num">
				<small>1</small>
			</div>
			<div class="qela-pin__dot">
				<div class="qela-pin__area" style="--diameter: 85px"></div>
			</div>
		</div>
		<div class="qela-pin success active">
			<div class="qela-pin__num">
				<small>1</small>
			</div>
			<div class="qela-pin__dot">
				<div class="qela-pin__area" style="--diameter: 85px"></div>
			</div>
		</div>
	</div>
	<!-- Person-coordinats -->
	<h3>Person-coordinats</h3>
	<div class="qela-line bg-secondary"></div>
	<div class="qela-line bg-success"></div>
	<div class="qela-line bg-danger"></div>
	<!-- Distance -->
	<h3>Distance</h3>
	<div class="qela-distance"><span>Distance:</span><span>500m</span></div>
	<!-- Person coordinats -->
	<h3>Person coordinats</h3>
	<div class="qela-coordinats"></div>
	<div class="qela-coordinats active"></div>
</section>