<section class="d-grid gap-3">
	<!-- Card-img -->
	<h2 class="h1 mt-4">Quest-card</h2>
	<h3>Card-img</h3>
	<div>
		<img class="rounded-1" src="img/card-3.jpg" width="70" height="70" alt="" />
	</div>
	<div class="qela-ibg qela-img_16x9">
		<img class="rounded-1" src="img/card-3.jpg" alt="" />
	</div>
	<!-- Img name type -->
	<h3>Img name type</h3>
	<div>
		<div class="d-flex gap-3 mb-3">
			<div>
				<img class="rounded-1" src="img/card-3.jpg" width="70" height="70" alt="" />
			</div>
			<p class="fw-semibold card-text qela-clamp">
				Share info on the benefits of medical cannabis benefits of benefits of
				cannabis benefits cannabis benefitsShare info on the benefits of medical
				cannabis benefits of benefits of cannabis benefits cannabis
				benefitsShare info on the benefits of medical cannabis benefits of
				benefits of cannabis benefits cannabis benefitsShare info on the
				benefits of medical cannabis benefits of benefits of cannabis benefits
				cannabis benefits
			</p>
		</div>
		<hr />
	</div>
	<div>
		<div class="mb-3">
			<div class="qela-ibg mb-2 qela-img_16x9">
				<img class="rounded-1" src="img/card-3.jpg" alt="" />
			</div>
			<p class="fw-semibold card-text qela-clamp">
				Share info on the benefits of medical cannabis benefits of benefits of
				cannabis benefits cannabis benefitsShare info on the benefits of medical
				cannabis benefits of benefits of cannabis benefits cannabis
				benefitsShare info on the benefits of medical cannabis benefits of
				benefits of cannabis benefits cannabis benefitsShare info on the
				benefits of medical cannabis benefits of benefits of cannabis benefits
				cannabis benefits
			</p>
		</div>
		<hr />
	</div>
	<div>
		<div class="mb-3">
			<p class="fw-semibold card-text qela-clamp">
				Share info on the benefits of medical cannabis benefits of benefits of
				cannabis benefits cannabis benefitsShare info on the benefits of medical
				cannabis benefits of benefits of cannabis benefits cannabis
				benefitsShare info on the benefits of medical cannabis benefits of
				benefits of cannabis benefits cannabis benefitsShare info on the
				benefits of medical cannabis benefits of benefits of cannabis benefits
				cannabis benefits
			</p>
		</div>
		<hr />
	</div>
	<!-- Сategory preview -->
	<h3>Сategory preview</h3>
	<p class="mb-2 qela-fs7 opacity-75">Online</p>
	<p class="mb-2 d-flex align-items-center gap-1 qela-fs7 opacity-75">
		<span class="ic-mark fs-6"></span> 213 Derrick Street, Boston, MA 02130 USA
	</p>
	<p class="mb-2 qela-fs7 opacity-75">In App</p>
	<!-- Donation preview -->
	<h3>Donation</h3>
	<div>
		<span class="qela-badge small"><span class="badge text-bg-secondary d-flex align-items-center gap-2">Donation<span class="ic-donation text-primary"></span></span></span>
	</div>
	<!-- Awards card -->
	<h3>Awards card</h3>
	<div>
		<div class="qela-awards orange">
			<span class="number">+0.15</span>
			<span class="qela-badge small">
				<span class="badge bg-orange">Endurance</span>
			</span>
		</div>
	</div>
	<div class="d-flex align-items-center">
		<img src="img/icons/orden-red.svg" width="32" height="32" alt="orden-red" />
		<span class="fs-5">+3</span>
	</div>
	<div>
		<img src="img/icons/medal.svg" width="40" height="48" alt="medal" />
	</div>
	<!-- Awards list card -->
	<h3>Awards list card</h3>
	<div>
		<div class="d-flex gap-2 py-2 overflow-auto">
			<div class="qela-awards orange">
				<span class="number">+0.15</span>
				<span class="qela-badge small">
					<span class="badge bg-orange">Endurance</span>
				</span>
			</div>
			<div class="d-flex align-items-center">
				<img src="img/icons/orden-red.svg" width="32" height="32" alt="orden-red" />
				<span class="fs-5">+3</span>
			</div>
			<img src="img/icons/medal.svg" width="40" height="48" alt="medal" />
			<img src="img/icons/medal.svg" width="40" height="48" alt="medal" />
		</div>
		<hr />
	</div>
	<!-- =============== -->
	<!-- Quest status -->
	<h3>Quest status</h3>
	<div class="qela-action">
		<span>Well done!</span>
		<img src="img/icons/success-ic.svg" width="32" height="32" alt="success" />
	</div>
	<div class="qela-action">
		<span>Failed</span>
		<img src="img/icons/danger-secondary.svg" width="32" height="32" alt="danger" />
	</div>
	<div class="qela-action">
		<span>Getting verified</span>
		<img src="img/icons/loading-secondary.svg" width="32" height="32" alt="loading" />
	</div>
	<div class="qela-action">
		<span>Something went wrong</span>
		<img src="img/icons/warning-secondary.svg" width="32" height="32" alt="warning" />
	</div>
	<div class="qela-action">
		<span>Continue</span>
		<img src="img/icons/continue-secondary.svg" width="32" height="32" alt="continue" />
	</div>
	<div class="qela-action flex-column-reverse pt-0 pb-2">
		<span>Well done!</span>
		<img src="img/icons/success-ic.svg" width="24" height="24" alt="success" />
	</div>
	<div class="qela-action flex-column-reverse pt-0 pb-2">
		<span>Failed</span>
		<img src="img/icons/danger-secondary.svg" width="24" height="24" alt="danger" />
	</div>
	<div class="qela-action flex-column-reverse pt-0 pb-2">
		<span>Getting verified</span>
		<img src="img/icons/loading-secondary.svg" width="24" height="24" alt="loading" />
	</div>
	<div class="qela-action flex-column-reverse pt-0 pb-2">
		<span>Something went wrong</span>
		<img src="img/icons/warning-secondary.svg" width="24" height="24" alt="warning" />
	</div>
	<div class="qela-action flex-column-reverse pt-0 pb-2">
		<span>Continue</span>
		<img src="img/icons/continue-secondary.svg" width="24" height="24" alt="continue" />
	</div>

	<!-- Quest timer -->
	<h3>Quest timer</h3>
	<div>
		<div class="qela-time">
			<div class="ic-clock"><span>Time left</span></div>
			<span class="qela-badge small">
				<span class="badge text-bg-light">3 d. 22 h. 33 min.</span>
			</span>
		</div>
		<hr />
	</div>
	<div>
		<div class="qela-time">
			<div class="ic-calendar"><span>28 August 2021</span><span>14:00</span></div>
			<div class="ic-">-</div>
			<div class="ic-calendar"><span>28 August 2021</span><span>14:00</span></div>
		</div>
		<hr />
	</div>
	<div>
		<div class="qela-time">
			<div class="ic-calendar"><span>Date</span></div>
			<div class="ic-"><span>28 August 2021</span><span>14:00 - 16:00</span></div>
		</div>
		<hr />
	</div>
	<div>
		<div class="qela-time justify-content-center">
			<span class="qela-badge small">
				<span class="badge text-bg-info">Finished</span>
			</span>
		</div>
		<hr />
	</div>
	<div>
		<div class="qela-time">
			<div class="ic-people"><span>User limit:</span></div>
			<div class="ic-">
				<span>102 / 200</span>
			</div>
		</div>
		<hr />
	</div>
	<div>
		<div class="qela-time">
			<div class="ic-people"><span>User limit:</span></div>
			<div class="ic-"><button type="button" class="btn ic-refresh"></button><span>1 / 10</span></div>
		</div>
		<hr>
	</div>
	<div>
		<div class="qela-time text-danger">
			<div class="ic-people"><span>User limit:</span></div>
			<div class="ic-">
				<span>102 / 200</span>
			</div>
		</div>
		<hr />
	</div>
	<div>
		<span class="qela-badge">
			<span class="badge text-bg-primary">3 d. 22 h. 33 min.</span>
		</span>
		<span class="qela-badge">
			<span class="badge text-bg-light">3 d. 22 h. 33 min.</span>
		</span>
		<span class="qela-badge">
			<span class="badge text-bg-info">Finished</span>
		</span>
		<span class="qela-badge small">
			<span class="badge text-bg-primary">3 d. 22 h. 33 min.</span>
		</span>
		<span class="qela-badge small">
			<span class="badge text-bg-light">3 d. 22 h. 33 min.</span>
		</span>
		<span class="qela-badge small">
			<span class="badge text-bg-info">Finished</span>
		</span>
	</div>
	<!-- Involvement -->
	<h3>Involvement</h3>
	<div class="d-flex align-items-center gap-2 py-2">
		<div class="d-flex">
			<div class="qela-avatar_min">
				<img src="img/icons/avatars_01.jpg" width="16" height="16" alt="avatars" />
			</div>
			<div class="qela-avatar_min">
				<img src="img/icons/avatars_01.jpg" width="16" height="16" alt="avatars" />
			</div>
			<div class="qela-avatar_min">
				<img src="img/icons/avatars_01.jpg" width="16" height="16" alt="avatars" />
			</div>
		</div>
		<div class="qela-fs7 opacity-75">Donated: 835</div>
	</div>
	<div class="d-flex align-items-center gap-2 py-2">
		<div class="d-flex">
			<div class="qela-avatar_min">
				<img src="img/icons/avatars_01.jpg" width="16" height="16" alt="avatars" />
			</div>
			<div class="qela-avatar_min">
				<img src="img/icons/avatars_01.jpg" width="16" height="16" alt="avatars" />
			</div>
			<div class="qela-avatar_min">
				<img src="img/icons/avatars_01.jpg" width="16" height="16" alt="avatars" />
			</div>
		</div>
		<div class="qela-fs7 opacity-75">Shared: 171</div>
	</div>
	<div class="d-flex align-items-center gap-2 py-2">
		<div class="d-flex">
			<div class="qela-avatar_min">
				<img src="img/icons/avatars_01.jpg" width="16" height="16" alt="avatars" />
			</div>
			<div class="qela-avatar_min">
				<img src="img/icons/avatars_01.jpg" width="16" height="16" alt="avatars" />
			</div>
			<div class="qela-avatar_min">
				<img src="img/icons/avatars_01.jpg" width="16" height="16" alt="avatars" />
			</div>
		</div>
		<div class="qela-fs7 opacity-75">Going: 175</div>
	</div>
	<!-- Disable overlay -->
	<h3>Disable overlay</h3>
	<div class="qela-disabled py-2">
		<div class="text-center">
			<img src="img/icons/lock.svg" width="32" alt="lock" />
			<div class="fs-5 fw-bolder p-1 qela-blur_block">
				Quest unavailable yet
			</div>
		</div>
	</div>
	<!-- ================================== cards ============================================ -->
	<!-- Cards quest Default -->
	<h3 class="mt-4">Cards quest Default</h3>
	<a href="#" class="card qela-card">
		<div class="card-body">
			<div class="qela-ibg mb-2 qela-img_16x9">
				<img class="rounded-1" src="img/card-3.jpg" alt="">
			</div>
			<div>
				<div class="d-flex gap-3 mb-3">
					<p class="h6 qela-clamp">
						Share info on the benefits of medical cannabis benefits of benefits
						of cannabis benefits cannabis benefitsShare info on the benefits of
						medical cannabis benefits of benefits of cannabis benefits cannabis
						benefitsShare info on the benefits of medical cannabis benefits of
						benefits of cannabis benefits cannabis benefitsShare info on the
						benefits of medical cannabis benefits of benefits of cannabis
						benefits cannabis benefits
					</p>
				</div>
			</div>
			<div>
				<div class="qela-time">
					<div class="ic-clock"><span>Time left</span></div>
					<span class="qela-badge small">
						<span class="badge text-bg-primary">3 d. 22 h. 33 min.</span>
					</span>
				</div>
				<hr />
			</div>
			<div>
				<div class="qela-time">
					<div class="ic-people"><span>User limit</span></div>
					<div class="ic-"><button type="button" class="btn ic-refresh"></button>
						<span>102 / 200</span>
					</div>
				</div>
				<hr>
			</div>
			<div>
				<div class="qela-time">
					<div class="ic-success-2"><span>Completed times</span></div>
					<div class="ic-">
						<button type="button" class="btn ic-refresh"></button>
						<span>1 / 10</span>
					</div>
				</div>
				<hr>
			</div>
			<div>
				<div class="qela-time">
					<div class="ic-clock"><span>Next try</span></div><span class="qela-badge small"><span class="badge text-bg-light">3 d. 22 h. 33 min.</span></span>
				</div>
				<hr>
			</div>
			<div class="py-2">
				<div class="qela-awards orden me-3">
					<span class="number">+4</span>
					<span class="qela-badge small">
						<span class="badge">Vote weight</span>
						<img src="img/icons/orden-red.svg" alt="orden-red">
					</span>
				</div>
				<div class="qela-awards red">
					<span class="number">+2</span>
					<span class="qela-badge small">
						<span class="badge">Fundraising</span>
					</span>
				</div>
			</div>
		</div>
	</a>
	<!-- Cards quest Default Accent -->
	<h3>Cards quest Default Accent</h3>
	<a href="#" class="card qela-card accent">
		<div class="card-body">
			<div class="qela-ibg mb-2 qela-img_16x9">
				<img class="rounded-1" src="img/card-3.jpg" alt="">
			</div>
			<div>
				<div class="d-flex gap-3 mb-3">
					<p class="h6 qela-clamp">
						Share info on the benefits of medical cannabis benefits of benefits
						of cannabis benefits cannabis benefitsShare info on the benefits of
						medical cannabis benefits of benefits of cannabis benefits cannabis
						benefitsShare info on the benefits of medical cannabis benefits of
						benefits of cannabis benefits cannabis benefitsShare info on the
						benefits of medical cannabis benefits of benefits of cannabis
						benefits cannabis benefits
					</p>
				</div>
			</div>
			<div>
				<div class="qela-time">
					<div class="ic-clock"><span>Time left</span></div>
					<span class="qela-badge small">
						<span class="badge text-bg-primary">3 d. 22 h. 33 min.</span>
					</span>
				</div>
				<hr />
			</div>
			<div>
				<div class="qela-time">
					<div class="ic-people"><span>User limit</span></div>
					<div class="ic-"><button type="button" class="btn ic-refresh"></button>
						<span>102 / 200</span>
					</div>
				</div>
				<hr>
			</div>
			<div>
				<div class="qela-time">
					<div class="ic-success-2"><span>Completed times</span></div>
					<div class="ic-">
						<button type="button" class="btn ic-refresh"></button>
						<span>1 / 10</span>
					</div>
				</div>
				<hr>
			</div>
			<div>
				<div class="qela-time">
					<div class="ic-clock"><span>Next try</span></div><span class="qela-badge small"><span class="badge text-bg-light">3 d. 22 h. 33 min.</span></span>
				</div>
				<hr>
			</div>
			<div class="py-2">
				<div class="qela-awards orden me-3">
					<span class="number">+4</span>
					<span class="qela-badge small">
						<span class="badge">Vote weight</span>
						<img src="img/icons/orden-red.svg" alt="orden-red">
					</span>
				</div>
				<div class="qela-awards red">
					<span class="number">+2</span>
					<span class="qela-badge small">
						<span class="badge">Fundraising</span>
					</span>
				</div>
			</div>
			<div class="qela-action">
				<span>Well done!</span>
				<img src="img/icons/success-ic.svg" width="32" height="32" alt="success" />
			</div>
		</div>
	</a>
	<!-- Cards quest Default mini -->
	<h3>Cards quest Default mini</h3>
	<a href="#" class="card qela-card">
		<div class="card-body">
			<div>
				<div class="d-flex align-items-start gap-3 mb-3">
					<div><img class="rounded-1" src="img/card-3.jpg" width="70" height="70" alt=""></div>
					<p class="h6 qela-clamp"> Share info on the benefits of medical cannabis benefits of benefits of cannabis benefits cannabis benefitsShare info on the benefits of medical cannabis benefits of benefits of cannabis benefits cannabis benefitsShare info on the benefits of medical cannabis benefits of benefits of cannabis benefits cannabis benefitsShare info on the benefits of medical cannabis benefits of benefits of cannabis benefits cannabis benefits </p>
				</div>
			</div>
			<div>
				<div class="qela-time">
					<div class="ic-clock"><span>Time left</span></div>
					<span class="qela-badge small">
						<span class="badge text-bg-primary">3 d. 22 h. 33 min.</span>
					</span>
				</div>
				<hr />
			</div>
			<div>
				<div class="qela-time">
					<div class="ic-people"><span>User limit</span></div>
					<div class="ic-"><button type="button" class="btn ic-refresh"></button>
						<span>102 / 200</span>
					</div>
				</div>
				<hr>
			</div>
			<div>
				<div class="qela-time">
					<div class="ic-success-2"><span>Completed times</span></div>
					<div class="ic-">
						<button type="button" class="btn ic-refresh"></button>
						<span>1 / 10</span>
					</div>
				</div>
				<hr>
			</div>
			<div>
				<div class="qela-time">
					<div class="ic-clock"><span>Next try</span></div><span class="qela-badge small"><span class="badge text-bg-light">3 d. 22 h. 33 min.</span></span>
				</div>
				<hr>
			</div>
			<div class="py-2">
				<div class="qela-awards orden me-3">
					<span class="number">+4</span>
					<span class="qela-badge small">
						<span class="badge">Vote weight</span>
						<img src="img/icons/orden-red.svg" alt="orden-red">
					</span>
				</div>
				<div class="qela-awards red">
					<span class="number">+2</span>
					<span class="qela-badge small">
						<span class="badge">Fundraising</span>
					</span>
				</div>
			</div>
		</div>
	</a>
	<!-- Cards quest Default mini  Accent-->
	<h3>Cards quest Default mini Accent</h3>
	<a href="#" class="card qela-card accent">
		<div class="card-body">
			<div>
				<div class="d-flex align-items-start gap-3 mb-3">
					<div><img class="rounded-1" src="img/card-3.jpg" width="70" height="70" alt=""></div>
					<p class="h6 qela-clamp"> Share info on the benefits of medical cannabis benefits of benefits of cannabis benefits cannabis benefitsShare info on the benefits of medical cannabis benefits of benefits of cannabis benefits cannabis benefitsShare info on the benefits of medical cannabis benefits of benefits of cannabis benefits cannabis benefitsShare info on the benefits of medical cannabis benefits of benefits of cannabis benefits cannabis benefits </p>
				</div>
			</div>
			<div>
				<div class="qela-time">
					<div class="ic-clock"><span>Time left</span></div>
					<span class="qela-badge small">
						<span class="badge text-bg-primary">3 d. 22 h. 33 min.</span>
					</span>
				</div>
				<hr />
			</div>
			<div>
				<div class="qela-time">
					<div class="ic-people"><span>User limit</span></div>
					<div class="ic-"><button type="button" class="btn ic-refresh"></button>
						<span>102 / 200</span>
					</div>
				</div>
				<hr>
			</div>
			<div>
				<div class="qela-time">
					<div class="ic-success-2"><span>Completed times</span></div>
					<div class="ic-">
						<button type="button" class="btn ic-refresh"></button>
						<span>1 / 10</span>
					</div>
				</div>
				<hr>
			</div>
			<div>
				<div class="qela-time">
					<div class="ic-clock"><span>Next try</span></div><span class="qela-badge small"><span class="badge text-bg-light">3 d. 22 h. 33 min.</span></span>
				</div>
				<hr>
			</div>
			<div class="py-2">
				<div class="qela-awards orden me-3">
					<span class="number">+4</span>
					<span class="qela-badge small">
						<span class="badge">Vote weight</span>
						<img src="img/icons/orden-red.svg" alt="orden-red">
					</span>
				</div>
				<div class="qela-awards red">
					<span class="number">+2</span>
					<span class="qela-badge small">
						<span class="badge">Fundraising</span>
					</span>
				</div>
			</div>
			<div class="qela-action">
				<span>Well done!</span>
				<img src="img/icons/success-ic.svg" width="32" height="32" alt="success" />
			</div>
		</div>
	</a>
	<!-- Cards quest Default mini time is out-->
	<h3>Cards quest Default mini time is out</h3>
	<a href="#" class="card qela-card is-out">
		<div class="card-body">
			<div>
				<div class="d-flex align-items-start gap-3 mb-3">
					<div><img class="rounded-1" src="img/card-3.jpg" width="70" height="70" alt=""></div>
					<p class="h6 qela-clamp"> Share info on the benefits of medical cannabis benefits of benefits of cannabis benefits cannabis benefitsShare info on the benefits of medical cannabis benefits of benefits of cannabis benefits cannabis benefitsShare info on the benefits of medical cannabis benefits of benefits of cannabis benefits cannabis benefitsShare info on the benefits of medical cannabis benefits of benefits of cannabis benefits cannabis benefits </p>
				</div>
			</div>
			<div>
				<div class="qela-time justify-content-center"><span class="qela-badge small"><span class="badge text-bg-info">Finished</span></span></div>
				<hr>
			</div>
			<div>
				<div class="qela-time">
					<div class="ic-people"><span>User limit</span></div>
					<div class="ic-"><button type="button" class="btn ic-refresh"></button>
						<span>102 / 200</span>
					</div>
				</div>
				<hr>
			</div>
			<div>
				<div class="qela-time">
					<div class="ic-success-2"><span>Completed times</span></div>
					<div class="ic-">
						<button type="button" class="btn ic-refresh"></button>
						<span>1 / 10</span>
					</div>
				</div>
				<hr>
			</div>
			<div>
				<div class="qela-time">
					<div class="ic-clock"><span>Next try</span></div><span class="qela-badge small"><span class="badge text-bg-light">3 d. 22 h. 33 min.</span></span>
				</div>
				<hr>
			</div>
			<div class="py-2">
				<div class="qela-awards orden me-3">
					<span class="number">+4</span>
					<span class="qela-badge small">
						<span class="badge">Vote weight</span>
						<img src="img/icons/orden-red.svg" alt="orden-red">
					</span>
				</div>
				<div class="qela-awards red">
					<span class="number">+2</span>
					<span class="qela-badge small">
						<span class="badge">Fundraising</span>
					</span>
				</div>
			</div>
		</div>
	</a>
	<!-- Cards quest Default mini time is out Accent-->
	<h3>Cards quest Default mini time is out Accent</h3>
	<a href="#" class="card qela-card is-out accent">
		<div class="card-body">
			<div>
				<div class="d-flex align-items-start gap-3 mb-3">
					<div><img class="rounded-1" src="img/card-3.jpg" width="70" height="70" alt=""></div>
					<p class="h6 qela-clamp"> Share info on the benefits of medical cannabis benefits of benefits of cannabis benefits cannabis benefitsShare info on the benefits of medical cannabis benefits of benefits of cannabis benefits cannabis benefitsShare info on the benefits of medical cannabis benefits of benefits of cannabis benefits cannabis benefitsShare info on the benefits of medical cannabis benefits of benefits of cannabis benefits cannabis benefits </p>
				</div>
			</div>
			<div>
				<div class="qela-time justify-content-center"><span class="qela-badge small"><span class="badge text-bg-info">Finished</span></span></div>
				<hr>
			</div>
			<div>
				<div class="qela-time">
					<div class="ic-people"><span>User limit</span></div>
					<div class="ic-"><button type="button" class="btn ic-refresh"></button>
						<span>102 / 200</span>
					</div>
				</div>
				<hr>
			</div>
			<div>
				<div class="qela-time">
					<div class="ic-success-2"><span>Completed times</span></div>
					<div class="ic-">
						<button type="button" class="btn ic-refresh"></button>
						<span>1 / 10</span>
					</div>
				</div>
				<hr>
			</div>
			<div>
				<div class="qela-time">
					<div class="ic-clock"><span>Next try</span></div><span class="qela-badge small"><span class="badge text-bg-light">3 d. 22 h. 33 min.</span></span>
				</div>
				<hr>
			</div>
			<div class="py-2">
				<div class="qela-awards orden me-3">
					<span class="number">+4</span>
					<span class="qela-badge small">
						<span class="badge">Vote weight</span>
						<img src="img/icons/orden-red.svg" alt="orden-red">
					</span>
				</div>
				<div class="qela-awards red">
					<span class="number">+2</span>
					<span class="qela-badge small">
						<span class="badge">Fundraising</span>
					</span>
				</div>
			</div>
		</div>
	</a>
	<!-- Cards quest empty -->
	<h3>Cards quest empty</h3>
	<a href="#" class="card qela-card text-bg-info mini">
		<div class="card-body d-flex flex-column gap-3">
			<img src="img/icons/smile-info.svg" alt="smile-ifo" width="39" height="39" />
			<p class="text-info m-0">
				<small>You don't have any quests in progress</small>
			</p>
			<button type="button" class="btn btn-secondary btn-sm w-50">
				Take on quest
			</button>
		</div>
	</a>
	<a href="#" class="card qela-card text-bg-info mini">
		<div class="card-body d-flex flex-column gap-3">
			<button type="button" class="btn btn-secondary btn-sm w-50">
				Take on quest
			</button>
		</div>
	</a>
	<!-- Cards quest Carousel -->
	<h3>Cards quest Carousel</h3>
	<div id="carousel" class="carousel slide" data-bs-touch="true">
		<div class="carousel-inner pt-3 pb-4">
			<div class="carousel-item active">
				<a href="#" class="card qela-card">
					<div class="card-body">
						<div>
							<div class="d-flex align-items-start gap-3 mb-3">
								<div><img class="rounded-1" src="img/card-3.jpg" width="70" height="70" alt=""></div>
								<p class="h6 qela-clamp"> Share info on the benefits of medical cannabis benefits of benefits of cannabis benefits cannabis benefitsShare info on the benefits of medical cannabis benefits of benefits of cannabis benefits cannabis benefitsShare info on the benefits of medical cannabis benefits of benefits of cannabis benefits cannabis benefitsShare info on the benefits of medical cannabis benefits of benefits of cannabis benefits cannabis benefits </p>
							</div>
						</div>
						<div>
							<div class="qela-time">
								<div class="ic-clock"><span>Time left</span></div>
								<span class="qela-badge small">
									<span class="badge text-bg-primary">3 d. 22 h. 33 min.</span>
								</span>
							</div>
							<hr />
						</div>
						<div>
							<div class="qela-time">
								<div class="ic-people"><span>User limit</span></div>
								<div class="ic-"><button type="button" class="btn ic-refresh"></button>
									<span>102 / 200</span>
								</div>
							</div>
							<hr>
						</div>
						<div>
							<div class="qela-time">
								<div class="ic-success-2"><span>Completed times</span></div>
								<div class="ic-">
									<button type="button" class="btn ic-refresh"></button>
									<span>1 / 10</span>
								</div>
							</div>
							<hr>
						</div>
						<div>
							<div class="qela-time">
								<div class="ic-clock"><span>Next try</span></div><span class="qela-badge small"><span class="badge text-bg-light">3 d. 22 h. 33 min.</span></span>
							</div>
							<hr>
						</div>
						<div class="py-2">
							<div class="qela-awards orden me-3">
								<span class="number">+4</span>
								<span class="qela-badge small">
									<span class="badge">Vote weight</span>
									<img src="img/icons/orden-red.svg" alt="orden-red">
								</span>
							</div>
							<div class="qela-awards red">
								<span class="number">+2</span>
								<span class="qela-badge small">
									<span class="badge">Fundraising</span>
								</span>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="carousel-item">
				<a href="#" class="card qela-card">
					<div class="card-body">
						<div>
							<div class="d-flex align-items-start gap-3 mb-3">
								<div><img class="rounded-1" src="img/card-3.jpg" width="70" height="70" alt=""></div>
								<p class="h6 qela-clamp"> Share info on the benefits of medical cannabis benefits of benefits of cannabis benefits cannabis benefitsShare info on the benefits of medical cannabis benefits of benefits of cannabis benefits cannabis benefitsShare info on the benefits of medical cannabis benefits of benefits of cannabis benefits cannabis benefitsShare info on the benefits of medical cannabis benefits of benefits of cannabis benefits cannabis benefits </p>
							</div>
						</div>
						<div>
							<div class="qela-time">
								<div class="ic-clock"><span>Time left</span></div>
								<span class="qela-badge small">
									<span class="badge text-bg-primary">3 d. 22 h. 33 min.</span>
								</span>
							</div>
							<hr />
						</div>
						<div>
							<div class="qela-time">
								<div class="ic-people"><span>User limit</span></div>
								<div class="ic-"><button type="button" class="btn ic-refresh"></button>
									<span>102 / 200</span>
								</div>
							</div>
							<hr>
						</div>
						<div>
							<div class="qela-time">
								<div class="ic-success-2"><span>Completed times</span></div>
								<div class="ic-">
									<button type="button" class="btn ic-refresh"></button>
									<span>1 / 10</span>
								</div>
							</div>
							<hr>
						</div>
						<div>
							<div class="qela-time">
								<div class="ic-clock"><span>Next try</span></div><span class="qela-badge small"><span class="badge text-bg-light">3 d. 22 h. 33 min.</span></span>
							</div>
							<hr>
						</div>
						<div class="py-2">
							<div class="qela-awards orden me-3">
								<span class="number">+4</span>
								<span class="qela-badge small">
									<span class="badge">Vote weight</span>
									<img src="img/icons/orden-red.svg" alt="orden-red">
								</span>
							</div>
							<div class="qela-awards red">
								<span class="number">+2</span>
								<span class="qela-badge small">
									<span class="badge">Fundraising</span>
								</span>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="carousel-item">
				<a href="#" class="card qela-card text-bg-info">
					<div class="card-body d-flex flex-column gap-3 align-items-center">
						<img src="img/icons/smile-info.svg" alt="smile-ifo" width="39" height="39" />
						<p class="text-info m-0">
							<small>You don't have any quests in progress</small>
						</p>
						<button type="button" class="btn btn-secondary btn-sm w-50">
							Take on quest
						</button>
					</div>
				</a>
			</div>
		</div>
		<div class="d-flex justify-content-end gap-4 mb-5">
			<button type="button" class="btn btn-link text-secondary btn-sm ic-chevron-left p-2" data-bs-target="#carousel" data-bs-slide="prev">
				<span class="visually-hidden">Previous</span>
			</button>
			<button type="button" class="btn btn-link text-secondary btn-sm ic-chevron-right p-2" data-bs-target="#carousel" data-bs-slide="next">
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</div>
	<!--User limit markers/preview -->
	<h3>User limit markers/preview</h3>
	<div>
		<div class="qela-limit">
			<div class="d-flex align-items-center gap-1 qela-fs7">
				<span class="ic-people fs-6"></span>
				<span>User limit:</span>
			</div>
			<div class="d-flex align-items-center gap-1 qela-fs7">
				<span>102 / 200</span>
			</div>
		</div>
		<div class="qela-limit reached">
			<div class="d-flex align-items-center gap-1 qela-fs7">
				<span class="ic-people fs-6"></span>
				<span>User limit:</span>
			</div>
			<div class="d-flex align-items-center gap-1 qela-fs7">
				<span>102 / 200</span>
			</div>
		</div>
		<div class="qela-limit p-3 pt-0">
			<div class="d-flex align-items-center gap-1">
				<span>User limit:</span>
			</div>
			<div class="d-flex align-items-center gap-1">
				<span>102 / 200</span>
			</div>
		</div>
		<div class="qela-limit p-3 pt-0 reached">
			<div class="d-flex align-items-center gap-1">
				<span>User limit:</span>
			</div>
			<div class="d-flex align-items-center gap-1">
				<span>102 / 200</span>
			</div>
		</div>
	</div>
</section>