<section class="d-grid gap-3">
	<h2 class="h1 mt-4">Quest-page</h2>
	<!-- Category quest-page -->
	<h3>Category quest-page</h3>
	<p class="mb-2 qela-fs7 opacity-75">Online</p>
	<p class="mb-2 d-flex align-items-center gap-1 qela-fs7 opacity-75">
		<span class="ic-mark fs-6"></span> 213 Derrick Street, Boston, MA 02130 USA
	</p>
	<p class="mb-2 qela-fs7 opacity-75">In App</p>
	<!-- Awards page -->
	<h3>Awards page</h3>
	<div class="qela-awards-list">
		<div class="qela-awards red">
			<span class="number">+0.15</span>
			<span class="qela-badge small">
				<span class="badge">Endurance</span>
			</span>
		</div>
	</div>
	<div class="qela-awards-list">
		<div>
			<img src="img/icons/orden-red.svg" width="32" height="32" alt="orden-red" />
			<span class="fs-5">+3</span>
		</div>
	</div>
	<div>
		<img src="img/icons/medal.svg" width="40" height="48" alt="medal" />
	</div>
	<!-- Awards-list page -->
	<h3>Awards-list page</h3>
	<div class="qela-awards-list">
		<div class="justify-content-between align-content-center w-100">
			<p class="h6 me-2 fw-bold"><span class="opacity-75">Awards</span></p>
			<button type="button" class="btn btn-link btn-sm text-secondary ic-right ic-share-2">
				Share
			</button>
		</div>
		<div>
			<img src="img/icons/orden-red.svg" width="32" height="32" alt="orden-red" />
			<span class="fs-5">+3</span>
		</div>
		<div class="qela-awards red">
			<span class="number">+0.15</span>
			<span class="qela-badge small">
				<span class="badge">Endurance</span>
			</span>
		</div>
	</div>
	<!-- Quest-description -->
	<h3>Quest-description</h3>
	<div>
		<p class="h6 me-2 mb-2 fw-bold">
			<span class="opacity-75">Description</span>
		</p>
		<p class="qela-clamp mb-0" style="--clamp-line:7">
			On Thursday, August 28, at 14:00 there will be a meeting of supporters of
			medical cannabis legalization, we will get to know each other and talk.
			Only together we can win! There, Alina Priymak, the head of the "Veterans
			for Medcanabis" organization, will give a lecture. Also, a well-known
			businessman Richard Branson will take the word. On Thursday, August 28, at
			14:00 there will be a meeting of supporters of medical cannabis
			legalization, we will get to know each other and talk. Only together we
			can win! There, Alina Priymak, the head of the "Veterans for Medcanabis"
			organization, will give a lecture. Also, a well-known businessman Richard
			Branson will take the word.
		</p>
		<button type="button" class="btn btn-link text-info btn-sm ic-right ic-chevron-right ms-auto">
			More
		</button>
	</div>
	<!-- Quest-coments -->
	<h3>Quest-coments</h3>
	<a href="#" class="d-flex align-items-center gap-2 text-black text-decoration-none">
		<i class="ic-message-circle"></i>
		<small class="text-info-800 text-decoration-underline">Comments (4)</small>
	</a>
	<!-- Time-&-markers quest-page -->
	<h3>Time-&-markers quest-page</h3>
	<div class="pt-2">
		<span class="qela-badge small"><span>Time left</span><span class="badge text-bg-light">3 d. 22 h. 33 min.</span></span>
	</div>
	<div class="d-flex align-items-center gap-3 pt-2">
		<div class="d-flex align-items-center gap-1 qela-fs7 opacity-75">
			<span class="ic-calendar fs-6"></span><span>28 August 2021</span>
		</div>
		<div class="d-flex align-items-center gap-1 qela-fs7 opacity-75">
			<span class="ic-clock fs-6"></span><span>14:00</span>
		</div>
	</div>
	<div class="d-flex align-items-center pt-2 qela-fs7 gap-2 opacity-75">
		<div class="d-flex align-items-center gap-1">
			<span class="ic-calendar fs-6"></span><span>28 August 2021</span><span class="ms-1">14:00</span>
		</div>
		<span>-</span>
		<div class="d-flex align-items-center gap-1">
			<span class="ic-calendar fs-6"></span><span>28 August 2021</span><span class="ms-1">14:00</span>
		</div>
	</div>
	<div class="d-flex align-items-center gap-3 pt-2">
		<div class="d-flex align-items-center gap-1 qela-fs7 opacity-75">
			<span class="ic-calendar fs-6"></span><span>28 August 2021</span>
		</div>
		<div class="d-flex align-items-center gap-1 qela-fs7 opacity-75">
			<span class="ic-clock fs-6"></span><span>14:00 - 16:00</span>
		</div>
	</div>
	<div class="d-flex align-items-center gap-3 pt-2">
		<span class="qela-badge small"><span class="badge text-bg-info">Finished</span></span>
	</div>
	<!-- Time-left -->
	<h3>Time-left</h3>
	<div class="d-flex justify-content-center position-relative">
		<div class="opacity-50 position-absolute start-0 ms-3">
			<small>Time left:</small>
		</div>
		<div class="d-flex gap-1">
			<div class="text-center">
				<div class="h2">02</div>
				<div class="opacity-50 lh-1"><small>Days</small></div>
			</div>
			<div class="h2">:</div>
			<div class="text-center">
				<div class="h2">00</div>
				<div class="opacity-50 lh-1"><small>Hour</small></div>
			</div>
			<div class="h2">:</div>
			<div class="text-center">
				<div class="h2">46</div>
				<div class="opacity-50 lh-1"><small>Min</small></div>
			</div>
			<div class="h2">:</div>
			<div class="text-center">
				<div class="h2">12</div>
				<div class="opacity-50 lh-1"><small>Sec</small></div>
			</div>
		</div>
	</div>
</section>