<section class="d-grid gap-3">
	<h2 class="h1">Special-ic</h2>
	<div class="d-flex gap-4">
		<img src="img/icons/success-ic-yellow.svg" alt="success" width="24" height="24">
		<img src="img/icons/warning.svg" alt="warning" width="24" height="24">
		<img src="img/icons/danger.svg" alt="danger" width="24" height="24">
		<img src="img/icons/smile.svg" alt="smile" width="24" height="24">
		<img src="img/icons/loading.svg" alt="loading" width="24" height="24">
		<img src="img/icons/continue-primary.svg" alt="continue" width="24" height="24">
	</div>
	<div class="d-flex gap-4">
		<img src="img/icons/success-ic-yellow.svg" alt="success" width="39" height="39">
		<img src="img/icons/warning.svg" alt="warning" width="39" height="39">
		<img src="img/icons/danger.svg" alt="danger" width="39" height="39">
		<img src="img/icons/smile.svg" alt="smile" width="39" height="39">
		<img src="img/icons/loading.svg" alt="loading" width="39" height="39">
		<img src="img/icons/continue-primary.svg" alt="continue" width="39" height="39">
	</div>
	<div class="d-flex gap-2">
		<img src="img/icons/success-ic-yellow.svg" alt="success" width="60" height="60">
		<img src="img/icons/warning.svg" alt="warning" width="60" height="60">
		<img src="img/icons/danger.svg" alt="danger" width="60" height="60">
		<img src="img/icons/smile.svg" alt="smile" width="60" height="60">
		<img src="img/icons/loading.svg" alt="loading" width="60" height="60">
		<img src="img/icons/continue-primary.svg" alt="continue" width="60" height="60">
	</div>
	<div class="d-flex gap-4">
		<img src="img/icons/success-ic.svg" alt="success" width="24" height="24">
		<img src="img/icons/warning-secondary.svg" alt="warning" width="24" height="24">
		<img src="img/icons/danger-secondary.svg" alt="danger" width="24" height="24">
		<img src="img/icons/smile-secondary.svg" alt="smile" width="24" height="24">
		<img src="img/icons/loading-secondary.svg" alt="loading" width="24" height="24">
		<img src="img/icons/continue-secondary.svg" alt="continue" width="24" height="24">
	</div>
	<div class="d-flex gap-4">
		<img src="img/icons/success-ic.svg" alt="success" width="39" height="39">
		<img src="img/icons/warning-secondary.svg" alt="warning" width="39" height="39">
		<img src="img/icons/danger-secondary.svg" alt="danger" width="39" height="39">
		<img src="img/icons/smile-secondary.svg" alt="smile" width="39" height="39">
		<img src="img/icons/loading-secondary.svg" alt="loading" width="39" height="39">
		<img src="img/icons/continue-secondary.svg" alt="continue" width="39" height="39">
	</div>
	<div class="d-flex gap-2">
		<img src="img/icons/success-ic.svg" alt="success" width="60" height="60">
		<img src="img/icons/warning-secondary.svg" alt="warning" width="60" height="60">
		<img src="img/icons/danger-secondary.svg" alt="danger" width="60" height="60">
		<img src="img/icons/smile-secondary.svg" alt="smile" width="60" height="60">
		<img src="img/icons/loading-secondary.svg" alt="loading" width="60" height="60">
		<img src="img/icons/continue-secondary.svg" alt="continue" width="60" height="60">
	</div>
	<div class="d-flex gap-2">
		<img src="img/icons/smile-info.svg" alt="smile-ifo" width="39" height="39">
	</div>
	<div class="d-flex gap-2">
		<img src="img/icons/smile-info.svg" alt="smile-ifo" width="60" height="60">
	</div>
	<div class="d-inline-flex gap-2 flex-wrap">
		<img src="img/icons/fb.svg" width="38" height="38" alt="#">
		<img src="img/icons/twitter.svg" width="38" height="38" alt="#">
		<img src="img/icons/inst.svg" width="38" height="38" alt="#">
		<img src="img/icons/link.svg" width="38" height="38" alt="#">
		<img src="img/icons/twitter-new.svg" width="38" height="38" alt="#">
	</div>
	<div class="d-inline-flex gap-2 flex-wrap">
		<img src="img/icons/fb-circle.svg" width="38" height="38" alt="#">
		<img src="img/icons/twitter-circle.svg" width="38" height="38" alt="#">
		<img src="img/icons/inst-circle.svg" width="38" height="38" alt="#">
		<img src="img/icons/link-circle.svg" width="38" height="38" alt="#">
		<img src="img/icons/twitter-new-circle.svg" width="38" height="38" alt="#">
	</div>
</section>