<section class="d-grid gap-3">
	<h2 class="h1 mt-4">Tabs</h2>
	<h3>Tab-bar</h3>
	<ul class="nav nav-pills nav-fill qela-nav">
		<li class="nav-item">
			<a class="nav-link" href="#">
				<i class="ic-home icon"></i>
				<i class="ic-home-filled icon-filled"></i>
				Home
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">
				<i class="ic-user icon"></i>
				<i class="ic-user-filled icon-filled"></i>
				Profile
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">
				<i class="ic-diamond icon"></i>
				<i class="ic-diamond-filled icon-filled"></i>
				Quests
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">
				<i class="ic-voting icon"></i>
				<i class="ic-voting-filled icon-filled"></i>
				Voting
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" href="#">
				<!-- <i class="ic-qela icon"></i>
				<i class="ic-qela-filled icon-filled"></i> -->
				<span class="qela-avatar qela-ibg" style="--img-size: 28px;">
					<img src="img/type-logo.svg" alt="#">
				</span>
				Organization
			</a>
		</li>
	</ul>
	<!-- ====== -->
	<h3>Tabs</h3>
	<ul class="nav nav-pills nav-fill qela-tab">
		<li class="nav-item">
			<button type="button" class="nav-link active" aria-current="page">General</button>
		</li>
		<li class="nav-item">
			<button type="button" class="nav-link">Local</button>
		</li>
		<li class="nav-item">
			<button type="button" class="nav-link">History</button>
		</li>
	</ul>
</section>