<section class="d-grid gap-3">
	<h2 class="h1 mt-4">Talents-badges</h2>
	<h3>Talents</h3>
	<!-- red -->
	<div class="qela-range red">
		<div class="color"><span></span><span></span><span></span><span></span></div>
		<div class="form-label">
			<div class="d-flex gap-2 align-items-center"><span class="fs-2 fw-bold opacity-75 text-decoration-underline">F</span><span>Fundraising</span><span>2.34</span></div>
			<div class="ic-chevron-right"></div>
		</div>
		<input type="range" value="22" class="form-range" min="0" max="100" step="1">
	</div>
	<!-- violet -->
	<div class="qela-range violet">
		<div class="color"><span></span><span></span><span></span><span></span></div>
		<div class="form-label">
			<div class="d-flex gap-2 align-items-center"><span class="fs-2 fw-bold opacity-75 text-decoration-underline">R</span><span>Recruiting</span><span>2.34</span></div>
			<div class="ic-chevron-right"></div>
		</div>
		<input type="range" value="22" class="form-range" min="0" max="100" step="1">
	</div>
	<!-- green -->
	<div class="qela-range green">
		<div class="color"><span></span><span></span><span></span><span></span></div>
		<div class="form-label">
			<div class="d-flex gap-2 align-items-center"><span class="fs-2 fw-bold opacity-75 text-decoration-underline">E</span><span>Endurance</span><span>4.12</span></div>
			<div class="ic-chevron-right"></div>
		</div>
		<input type="range" value="42" class="form-range" min="0" max="100" step="1">
	</div>
	<!-- orange -->
	<div class="qela-range orange">
		<div class="color"><span></span><span></span><span></span><span></span></div>
		<div class="form-label">
			<div class="d-flex gap-2 align-items-center"><span class="fs-2 fw-bold opacity-75 text-decoration-underline">E</span><span>Endurance</span><span>2.34</span></div>
			<div class="ic-chevron-right"></div>
		</div>
		<input type="range" value="22" class="form-range" min="0" max="100" step="1">
	</div>
	<!-- lightgreenn -->
	<div class="qela-range lightgreen">
		<div class="color"><span></span><span></span><span></span><span></span></div>
		<div class="form-label">
			<div class="d-flex gap-2 align-items-center"><span class="fs-2 fw-bold opacity-75 text-decoration-underline">D</span><span>Determination</span><span>4.12</span></div>
			<div class="ic-chevron-right"></div>
		</div>
		<input type="range" value="42" class="form-range" min="0" max="100" step="1">
	</div>
	<!-- lightblue -->
	<div class="qela-range lightblue">
		<div class="color"><span></span><span></span><span></span><span></span></div>
		<div class="form-label">
			<div class="d-flex gap-2 align-items-center"><span class="fs-2 fw-bold opacity-75 text-decoration-underline">O</span><span>Originality</span><span>4.12</span></div>
			<div class="ic-chevron-right"></div>
		</div>
		<input type="range" value="42" class="form-range" min="0" max="100" step="1">
	</div>
	<!-- blue -->
	<div class="qela-range blue">
		<div class="color"><span></span><span></span><span></span><span></span></div>
		<div class="form-label">
			<div class="d-flex gap-2 align-items-center"><span class="fs-2 fw-bold opacity-75 text-decoration-underline">M</span><span>Management</span><span>4.12</span></div>
			<div class="ic-chevron-right"></div>
		</div>
		<input type="range" value="42" class="form-range" min="0" max="100" step="1">
	</div>
	<!-- pink -->
	<div class="qela-range pink">
		<div class="color"><span></span><span></span><span></span><span></span></div>
		<div class="form-label">
			<div class="d-flex gap-2 align-items-center"><span class="fs-2 fw-bold opacity-75"><span class="text-decoration-underline">S</span></span><span>Savvy</span><span>6.12</span></div>
			<div class="ic-chevron-right"></div>
		</div>
		<input type="range" value="62" class="form-range" min="0" max="100" step="1">
	</div>
	<!-- red disabled -->
	<div class="qela-range red">
		<div class="color"><span></span><span></span><span></span><span></span></div>
		<div class="form-label">
			<div class="d-flex gap-2 align-items-center"><span class="fs-2 fw-bold opacity-75 text-decoration-underline">F</span><span>Fundraising</span><span>2.34</span></div>
			<div class="ic-chevron-right"></div>
		</div>
		<input type="range" value="22" class="form-range" min="0" max="100" step="1" disabled>
	</div>
	<!-- =============== -->
	<h3>Badges</h3>
	<div class="d-flex gap-3 py-2 align-items-center flex-wrap">
		<div class="qela-awards red">
			<span class="number">+2</span>
			<span class="qela-badge small">
				<span class="badge">Fundraising</span>
			</span>
		</div>
		<div class="qela-awards violet">
			<span class="number">+2</span>
			<span class="qela-badge small">
				<span class="badge">Recruiting</span>
			</span>
		</div>
		<div class="qela-awards green">
			<span class="number">+2</span>
			<span class="qela-badge small">
				<span class="badge">Endurance</span>
			</span>
		</div>
		<div class="qela-awards orange">
			<span class="number">+1</span>
			<span class="qela-badge small">
				<span class="badge">Eloquence</span>
			</span>
		</div>
		<div class="qela-awards lightgreen">
			<span class="number">+200</span>
			<span class="qela-badge small">
				<span class="badge">Determination</span>
			</span>
		</div>
		<div class="qela-awards lightblue">
			<span class="number">+1</span><span class="qela-badge small">
				<span class="badge">Originality</span>
			</span>
		</div>
		<div class="qela-awards blue">
			<span class="number">+1</span>
			<span class="qela-badge small">
				<span class="badge">Management</span>
			</span>
		</div>
		<div class="qela-awards pink">
			<span class="number">+1</span>
			<span class="qela-badge small">
				<span class="badge">Savvy</span>
			</span>
		</div>
		<!-- ==== -->
		<div class="qela-awards orden">
			<span class="number">+4</span>
			<span class="qela-badge small">
				<span class="badge">Vote weight</span>
				<img src="img/icons/orden-red.svg" alt="orden-red" />
			</span>
		</div>
		<!-- ===== -->
		<div class="qela-voice">
			<div class="body-voice">
				<img src="img/icons/orden-red.svg" width="18" height="18" alt="coin">
				<small>105</small>
			</div>
		</div>
	</div>
	<div class="d-flex gap-3 py-2 align-items-center flex-wrap">
		<div class="qela-awards red light-type">
			<span class="qela-badge small">
				<span class="badge">Fundraising</span>
			</span>
		</div>
		<div class="qela-awards violet light-type">
			<span class="qela-badge small">
				<span class="badge">Recruiting</span>
			</span>
		</div>
		<div class="qela-awards green light-type">
			<span class="qela-badge small">
				<span class="badge">Endurance</span>
			</span>
		</div>
		<div class="qela-awards orange light-type">
			<span class="qela-badge small">
				<span class="badge">Eloquence</span>
			</span>
		</div>
		<div class="qela-awards lightgreen light-type">
			<span class="qela-badge small">
				<span class="badge">Determination</span>
			</span>
		</div>
		<div class="qela-awards lightblue light-type">
			<span class="qela-badge small">
				<span class="badge">Originality</span>
			</span>
		</div>
		<div class="qela-awards blue light-type">
			<span class="qela-badge small">
				<span class="badge">Management</span>
			</span>
		</div>
		<div class="qela-awards pink light-type">
			<span class="qela-badge small">
				<span class="badge">Savvy</span>
			</span>
		</div>
	</div>
</section>