<section class="d-grid gap-3">
	<h2 class="h1 mt-4">Talents-badges</h2>
	<!-- =============== -->
	<h3>Badges</h3>
	<div class="d-flex gap-3 py-2 align-items-center flex-wrap">
		<div class="qela-awards" style="--ql-talent-color: #921c14; --ql-talent-bg: #ffcccc; --ql-talent-border-color: #ffcccc;">
			<span class="number">+2</span>
			<span class="qela-badge badge small"><span>Fundraising</span></span>
		</div>
		<!-- ==== -->
		<div class="qela-awards orden">
			<span class="number">+4</span>
			<span class="qela-badge badge small">
				<span>Vote weight</span>
				<img src="img/icons/orden-red.svg" alt="orden-red" />
			</span>
		</div>
		<!-- ===== -->
		<div class="qela-voice">
			<div class="body-voice">
				<img src="img/icons/orden-red.svg" alt="orden-red" />
				<small>105</small>
			</div>
		</div>
	</div>
	<h4> Badges awards large variant</h4>
	<div class="d-flex gap-3 py-2 align-items-center flex-wrap">
		<a href="#" class="badge qela-badge-talent fw-semibold px-2 text-start" style="--ql-talent-color: #921c14; --ql-talent-bg: #ffcccc; --ql-talent-border-color: #d92525;">
			<span class="d-flex gap-2" style="min-width: 160px;">
				<i class="ic-achievement-filled"></i>
				<span class="flex-grow-1">2</span>
				<span class="ic-send"></span>
			</span>
			<span>Fundraising</span>
		</a>
	</div>
	<h4> Badges awards icon variant</h4>
	<div class="qela-preview" style="--ql-talent-color: #d92525; --ql-talent-bg: #ffcccc;">
		<i class="ic-achievement-filled"></i>
	</div>
</section>