<section class="d-grid gap-3">
	<h2 class="h1 mt-4">Talents-badges</h2>
	<!-- =============== -->
	<h3>Badges</h3>
	<div class="d-flex gap-3 py-2 align-items-center flex-wrap">
		<div class="qela-awards" style="--ql-talent-color: #921c14; --ql-talent-bg: #ffcccc; --ql-talent-border-color: #ffcccc;">
			<span class="number">+2</span>
			<span class="qela-badge badge small"><span>Fundraising</span></span>
		</div>
		<!-- ==== -->
		<div class="qela-awards orden">
			<span class="number">+4</span>
			<span class="qela-badge badge small">
				<span>Vote weight</span>
				<img src="img/icons/orden-red.svg" alt="orden-red" />
			</span>
		</div>
		<!-- ===== -->
		<div class="qela-voice">
			<div class="body-voice">
				<img src="img/icons/orden-red.svg" alt="orden-red" />
				<small>105</small>
			</div>
		</div>
	</div>
</section>