<section class="mt-4 mb-4">
	<h2 class="h1 mt4">Typography</h2>
	<!-- Typography display -->
	<h3 class="mt-3 mb-3">Typography display</h3>
	<div>
		<h2 class="display-1">Display 1</h2>
		<h2 class="display-2">Display 2</h2>
		<h2 class="display-3">Display 3</h2>
		<h2 class="display-4">Display 4</h2>
		<h2 class="display-5">Display 5</h2>
		<h2 class="display-6">Display 6</h2>
		<p>The eighth requirement. Raise the healthcare system's focus on the epidemic well-being of the LGBTQ+ communities, mental, sexual and reproductive health, and expand stable state and municipal funding for quality public health services for all key groups of population.</p>
		<p>The eighth requirement. Raise the healthcare system's focus on.</p>
		<p><b>The eighth requirement. Raise the healthcare system's focus on the epidemic well-being of the LGBTQ+ communities, mental, sexual and reproductive health, and expand stable state and municipal funding for quality public health services for all key groups of population.</b></p>
		<p><b>The eighth requirement. Raise the healthcare system's focus on.</b></p>
		<p><a href="#">The eighth requirement. Raise the healthcare system's focus on the epidemic well-being of the LGBTQ+ communities, mental, sexual and reproductive health, and expand stable state and municipal funding for quality public health services for all key groups of population.</a></p>
		<p><a href="#">The eighth requirement. Raise the healthcare system's focus on.</a></p>
		<ul>
			<li>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed praesentium laborum qui exercitationem voluptatum nisi, earum consequuntur nam culpa, obcaecati ducimus debitis rerum at repellendus iure maiores? Omnis, mollitia architecto?</p>
			</li>
			<li>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed praesentium laborum qui exercitationem voluptatum nisi, earum consequuntur nam culpa, obcaecati ducimus debitis rerum at repellendus iure maiores? Omnis, mollitia architecto?</p>
			</li>
		</ul>
		<ol>
			<li>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed praesentium laborum qui exercitationem voluptatum nisi, earum consequuntur nam culpa, obcaecati ducimus debitis rerum at repellendus iure maiores? Omnis, mollitia architecto?</p>
			</li>
			<li>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed praesentium laborum qui exercitationem voluptatum nisi, earum consequuntur nam culpa, obcaecati ducimus debitis rerum at repellendus iure maiores? Omnis, mollitia architecto?</p>
			</li>
		</ol>
		<img class="w-100 mb-3 img-thumbnail" src="img/img-display.jpg" alt="">
	</div>
	<h3 class="mt-3 mb-3">Typography headling</h3>
	<div>
		<h1>Heading 1</h1>
		<h2>Heading 2</h2>
		<h3>Heading 3</h3>
		<h4>Heading 4</h4>
		<h5>Heading 5</h5>
		<h6>Heading 6</h6>
		<p>The eighth requirement. Raise the healthcare system's focus on the epidemic well-being of the LGBTQ+ communities, mental, sexual and reproductive health, and expand stable state and municipal funding for quality public health services for all key groups of population.</p>
		<p>The eighth requirement. Raise the healthcare system's focus on.</p>
		<p><b>The eighth requirement. Raise the healthcare system's focus on the epidemic well-being of the LGBTQ+ communities, mental, sexual and reproductive health, and expand stable state and municipal funding for quality public health services for all key groups of population.</b></p>
		<p><b>The eighth requirement. Raise the healthcare system's focus on.</b></p>
		<p><a href="#">The eighth requirement. Raise the healthcare system's focus on the epidemic well-being of the LGBTQ+ communities, mental, sexual and reproductive health, and expand stable state and municipal funding for quality public health services for all key groups of population.</a></p>
		<p><a href="#">The eighth requirement. Raise the healthcare system's focus on.</a></p>
		<ul>
			<li>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed praesentium laborum qui exercitationem voluptatum nisi, earum consequuntur nam culpa, obcaecati ducimus debitis rerum at repellendus iure maiores? Omnis, mollitia architecto?</p>
			</li>
			<li>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed praesentium laborum qui exercitationem voluptatum nisi, earum consequuntur nam culpa, obcaecati ducimus debitis rerum at repellendus iure maiores? Omnis, mollitia architecto?</p>
			</li>
		</ul>
		<ol>
			<li>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed praesentium laborum qui exercitationem voluptatum nisi, earum consequuntur nam culpa, obcaecati ducimus debitis rerum at repellendus iure maiores? Omnis, mollitia architecto?</p>
			</li>
			<li>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed praesentium laborum qui exercitationem voluptatum nisi, earum consequuntur nam culpa, obcaecati ducimus debitis rerum at repellendus iure maiores? Omnis, mollitia architecto?</p>
			</li>
		</ol>
		<img class="w-100 mb-3 img-thumbnail" src="img/img-display.jpg" alt="">
		<!-- small content -->
		<p><small>The eighth requirement. Raise the healthcare system's focus on the epidemic well-being of the LGBTQ+ communities, mental, sexual and reproductive health, and expand stable state and municipal funding for quality public health services for all key groups of population.</small></p>
		<p><small>The eighth requirement. Raise the healthcare system's focus on.</small></p>
		<p><b><small>The eighth requirement. Raise the healthcare system's focus on the epidemic well-being of the LGBTQ+ communities, mental, sexual and reproductive health, and expand stable state and municipal funding for quality public health services for all key groups of population.</small></b></p>
		<p><b><small>The eighth requirement. Raise the healthcare system's focus on.</small></b></p>
		<p><a href="#"><small>The eighth requirement. Raise the healthcare system's focus on the epidemic well-being of the LGBTQ+ communities, mental, sexual and reproductive health, and expand stable state and municipal funding for quality public health services for all key groups of population.</small></a></p>
		<p><a href="#"><small>The eighth requirement. Raise the healthcare system's focus on.</small></a></p>
		<ul>
			<li>
				<p><small>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed praesentium laborum qui exercitationem voluptatum nisi, earum consequuntur nam culpa, obcaecati ducimus debitis rerum at repellendus iure maiores? Omnis, mollitia architecto?</small></p>
			</li>
			<li>
				<p><small>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed praesentium laborum qui exercitationem voluptatum nisi, earum consequuntur nam culpa, obcaecati ducimus debitis rerum at repellendus iure maiores? Omnis, mollitia architecto?</small></p>
			</li>
		</ul>
		<ol>
			<li>
				<p><small>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed praesentium laborum qui exercitationem voluptatum nisi, earum consequuntur nam culpa, obcaecati ducimus debitis rerum at repellendus iure maiores? Omnis, mollitia architecto?</small></p>
			</li>
			<li>
				<p><small>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed praesentium laborum qui exercitationem voluptatum nisi, earum consequuntur nam culpa, obcaecati ducimus debitis rerum at repellendus iure maiores? Omnis, mollitia architecto?</small></p>
			</li>
		</ol>
	</div>
</section>