<section class="d-grid  gap-3">
	<h2 class="h1 mt-4">Voting</h2>
	<!-- cards -->
	<h3>Cards voting</h3>
	<div class="card qela-card">
		<div class="card-body">
			<h5 class="h6 card-title">Regarding support for the Eighth Requirement of the Equality March 2021 Manifesto </h5>
			<span class="qela-badge small"><span>Time left</span><span class="badge text-bg-primary">3 d. 22 h. 33 min.</span></span>
			<span class="qela-badge small"><span>Fx</span><span class="badge text-bg-secondary">1=1</span></span>
			<span class="qela-badge small"><span class="badge text-bg-secondary">Voted</span></span>
		</div>
	</div>
	<div class="card qela-card">
		<div class="card-body">
			<h5 class="h6 card-title">Regarding support for the Eighth Requirement of the Equality March 2021 Manifesto </h5>
			<span class="qela-badge small"><span class="badge text-bg-info">Finished</span></span>
			<span class="qela-badge small"><span>Fx</span><span class="badge text-bg-secondary">1=1</span></span>
			<span class="qela-badge small"><span class="badge text-bg-secondary">Voted</span></span>
		</div>
	</div>
	<!-- Voting info card -->
	<h3>Voting info card</h3>
	<div>
		<span class="qela-badge small"><span class="badge text-bg-info">Finished</span></span>
		<span class="qela-badge small"><span>Fx</span><span class="badge text-bg-secondary">1=1</span></span>
		<span class="qela-badge small"><span class="badge text-bg-secondary">Voted</span></span>
	</div>
	<div>
		<span class="qela-badge small">Time left<span class="badge text-bg-primary">3 d. 22 h. 33 min.</span></span>
		<span class="qela-badge small"><span>Fx</span><span class="badge text-bg-secondary">1=1</span></span>
		<span class="qela-badge small"><span class="badge text-bg-secondary">Voted</span></span>
	</div>
	<!-- voting info page -->
	<h3>Voting info page</h3>
	<div>
		<span class="qela-badge"><span class="badge text-bg-info">Finished</span></span>
		<span class="qela-badge"><span>Fx</span><span class="badge text-bg-secondary rounded-3">1=1</span></span>
		<span class="qela-badge"><span class="badge text-bg-secondary rounded-3">Voted</span></span>
	</div>
	<div>
		<span class="qela-badge">Time left<span class="badge text-bg-primary">3 d. 22 h. 33 min.</span></span>
		<span class="qela-badge"><span>Fx</span><span class="badge text-bg-secondary rounded-3">1=1</span></span>
		<span class="qela-badge"><span class="badge text-bg-secondary rounded-3">Voted</span></span>
	</div>
	<!-- time -->
	<h3>Time</h3>
	<!-- small -->
	<div>
		<span class="qela-badge small"><span>Time left</span><span class="badge text-bg-primary">3 d. 22 h. 33 min.</span></span>
		<span class="qela-badge small"><span class="badge text-bg-primary">3 d. 22 h. 33 min.</span></span>
		<span class="qela-badge small"><span class="badge text-bg-light">3 d. 22 h. 33 min.</span></span>
		<span class="qela-badge small"><span class="badge text-bg-info">Finished</span></span>
	</div>
	<!-- big -->
	<div>
		<span class="qela-badge"><span>Time left</span><span class="badge text-bg-primary">3 d. 22 h. 33 min.</span></span>
		<span class="qela-badge"><span class="badge text-bg-primary">3 d. 22 h. 33 min.</span></span>
		<span class="qela-badge"><span class="badge text-bg-light">3 d. 22 h. 33 min.</span></span>
		<span class="qela-badge"><span class="badge text-bg-info">Finished</span></span>
	</div>
	<!-- Formula -->
	<h3>Formula</h3>
	<!-- small -->
	<div>
		<span class="qela-badge small"><span>Fx</span><span class="badge text-bg-secondary">1=1</span></span>
		<span class="qela-badge small"><span class="badge text-bg-secondary">1=1</span></span>
		<span class="qela-badge small"><span class="badge text-bg-secondary">Qela</span></span>
		<span class="qela-badge small"><span class="badge text-bg-secondary">Voted</span></span>
	</div>
	<!-- big -->
	<div>
		<span class="qela-badge"><span>Fx</span><span class="badge text-bg-secondary rounded-3">1=1</span></span>
		<span class="qela-badge"><span class="badge text-bg-secondary rounded-3">1=1</span></span>
		<span class="qela-badge"><span class="badge text-bg-secondary rounded-3">Qela</span></span>
		<span class="qela-badge"><span class="badge text-bg-secondary rounded-3">Voted</span></span>
	</div>
	<!-- Decision -->
	<h3>Decision</h3>
	<div class="qela-decision">
		<p>The eighth requirement. Raise the healthcare system's focus on the epidemic well-being of the LGBTQ+ communities, mental, sexual and reproductive health, and expand stable state and municipal funding for quality public health services for all key groups of population.</p>
		<p>The eighth requirement. Raise the healthcare system's focus on.</p>
		<hr class="mb-3 mt-2">
		<img src="img/ok-ic.svg" alt="">
	</div>
</section>