.multiselect {
	cursor: pointer;
}

.multiselect--active {
	.multiselect__tags {
		border-color: var(--bs-secondary);
		border-bottom-color: var(--bs-white);

		@media (any-hover: hover) {
			&:hover {
				border-color: var(--bs-secondary);
				border-bottom-color: var(--bs-white);
			}
		}
	}
}

.multiselect__tags {
	padding: 0px 42px 0 16px;
	display: flex;
	align-items: center;
	border-radius: 8px;
	border: 1px solid var(--bs-info);

	@media (any-hover: hover) {
		&:hover {
			border-color: var(--bs-secondary);
		}
	}
}

.multiselect__tags-wrap {
	margin: 3.5px 0px 2px -12px;
	display: flex;
	flex-wrap: wrap;
}

.multiselect__tag {
	padding: 6px 28px 6px 6px;
	border-radius: 6px;
	margin-right: 2px;
	margin-bottom: 2px;
	color: var(--bs-black);
	line-height: 120%;
	background: var(--bs-ql-secondary-300);
}

.multiselect__tag-icon {
	top: 2px;
	right: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	padding: 4px;
	border-radius: 4px;
	background-color: var(--bs-ql-secondary-300);

	@media (any-hover: hover) {
		&:hover {
			background-color: var(--bs-ql-secondary-400);

			&::after {
				color: var(--bs-black);
			}
		}
	}

	&::after {
		content: "\e906";
		font-family: "icons";
		font-size: 16px;
		color: var(--bs-ql-info-600);
	}
}

.multiselect__select {
	width: 40px;
	height: 40px;
	right: 0;
	top: 0;
	padding: 0;

	&:before {
		content: "\e903";
		font-family: "icons";
		font-size: 16px;
		color: #bababa;
		position: absolute;
		top: 50%;
		right: auto;
		left: 50%;
		margin-top: 0;
		transform: translate(-50%, -50%);
		border: none;
	}
}

.multiselect__input {
}

.multiselect__placeholder {
	color: var(--bs-ql-info-600);
	margin-bottom: 0px;
	padding-top: 0px;
}

.multiselect__content-wrapper {
	border-color: var(--bs-secondary);
	border-top-color: transparent;
	border-radius: 0 0 8px 8px;
}

.multiselect__option--highlight {
	background: var(--bs-white);
	color: var(--bs-black);
}

.multiselect__option {
	color: var(--bs-black);
	line-height: 17px;
	padding: 12px 12px 12px 16px;

	&::after {
		content: "";
		display: none;
	}
}

.multiselect__option--selected {
	background: var(--bs-ql-secondary-200);
	color: var(--bs-black);
	font-weight: 400;

	&.multiselect__option--highlight {
		background: var(--bs-ql-secondary-200);
		color: var(--bs-black);
		font-weight: 400;
	}
}

.multiselect__single {
	margin: 0;
}

.invalid {
	.multiselect--active {
		.multiselect__tags {
			border-color: $danger-200;
			border-bottom-color: var(--bs-white);

			@media (any-hover: hover) {
				&:hover {
					border-color: $danger-200;
					border-bottom-color: var(--bs-white);
				}
			}
		}
	}

	.multiselect__tags {
		border: 1px solid $danger-200;

		@media (any-hover: hover) {
			&:hover {
				border-color: $danger-200;
			}
		}
	}

	.multiselect__content-wrapper {
		border-color: $danger-200;
		border-top-color: transparent;
	}

	& ~ .form-error {
		display: block;
	}
}
