<!DOCTYPE html>
<html lang="ua">

	{% set title = "Img-overlay" %}
	{% include "_head.njk" %}

	<body>
		{% include "components/_aside-layouts.njk" %}
		<main class="qela-img qela-ibg">
			<!-- img-overlay -->
			<img class="img-fluid" src="img/Overlay.jpg" alt="">
		</main>
		<!-- =========================== -->
		{% include "_js.njk" %}
	</body>

</html>