<!DOCTYPE html>
<html lang="ua">
	{% set links = {
		indexCss: '<link rel="stylesheet" href="filesIndex/index.css">'
	} %}
	{% set title = "Components" %}
	{% include "_head.njk" %}
	<body class="theme--strichka">
		<script src="filesIndex/indexhead.js"></script>
		<div id="app" v-cloak>
			<header class="p-1 h-auto ">
				<div class="container">
					<div class="row g-1 align-items-center">
						<div class="col-auto">
							<a class="navbar-brand d-inline-flex" href="https://qela-admin.a2v10.com/" target="_blank">
								<img src="img/logo-sm.svg" alt="Logo" width="57" height="40"/>
							</a>
						</div>
						<div class="col">
							<div class="p-2">
								<input type="search" class="form-control border p-2" id="search-nav" placeholder="Search component"/>
							</div>
						</div>
						<div class="col-auto">
							<a href="#" id="toggle-bg" class="btn btn-info ico ic-circle --btn"></a>
						</div>
						<div class="col-auto">
							<a href="https://andreywebcoder.github.io/Qela-bootstrap/Qela/" class="btn btn-info ico --btn">
								<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M3 7C3 5.34315 4.34315 4 6 4H34C35.6569 4 37 5.34315 37 7V27C37 28.6569 35.6569 30 34 30H6C4.34315 30 3 28.6569 3 27V7ZM6 6C5.44771 6 5 6.44772 5 7V27C5 27.5523 5.44772 28 6 28H34C34.5523 28 35 27.5523 35 27V7C35 6.44772 34.5523 6 34 6H6Z" fill="#000000"/>
									<path fill-rule="evenodd" clip-rule="evenodd" d="M25 34V30H27V34H25Z" fill="#000000"/>
									<path fill-rule="evenodd" clip-rule="evenodd" d="M14 34V30H16V34H14Z" fill="#000000"/>
									<path fill-rule="evenodd" clip-rule="evenodd" d="M34 35C34 35.5523 33.5523 36 33 36H7C6.44772 36 6 35.5523 6 35C6 34.4477 6.44772 34 7 34H33C33.5523 34 34 34.4477 34 35Z" fill="#000000"/>
								</svg>
							</a>
						</div>
						<div class="col-auto">
							<button class="btn --burger">
								<span></span>
								<span></span>
								<span></span>
							</button>
						</div>
					</div>
				</div>
			</header>
			<main class="qela-body">
				<!-- Навигация (якоря)-->
				<aside class="fixed-top --aside">
					<nav class="ps-3">
						<h4 class=" my-2">Components</h4>
						<ul class="d-flex flex-column gap-1 ps-0 --elastic">
							{% set links = ['buttons','checkbox-radiobutton','alert','breadcrambs','campaign','coming-soon','dialogs','empty-space','icons','links','lists', 'logos', 'nav','cards-news','popups','profile','progress','quest-card','quest-page','quest-conditions-page','organisation','page-status','special-ic', 'subtitles','tabs','talents-badges','text-fields','typography','video','voting','places','accordion','chat','avatars','activity-stat','shop', 'dropdown'] %}
							{% for link in links %}
								<li>
									<a class="--link" href="#">{{link}}</a>
								</li>
							{% endfor %}
						</ul>
						<h4 class="my-3">Layouts</h4>
						<ul class="d-flex flex-column gap-2 ps-0 --elastic">
							{% set links2 = [
								{
									text: 'discussions',
									href: 'discussions'
								}, {
									text: 'img',
									href: 'img'
								}, {
									text: 'header-fix',
									href: 'layout-top'
								},{
									text: 'layout-default',
									href: 'layout'
								},{
									text: 'header-footer-fix',
									href: 'layout1'
								},{
									text: 'header-footer-fix(tabs)',
									href: 'layout2'
								},{
									text: 'header-footer-fix(user)',
									href: 'layout3'
								},{
									text: 'header-footer-fix(back)',
									href: 'layout4'
								},{
									text: 'layout-symple',
									href: 'symple'
								},{
									text: 'leaderboard',
									href: 'leaderboard'
								},{
									text: 'leaderboard-filters',
									href: 'leaderboard-filters'
								},{
									text: 'success',
									href: 'success1'
								},{
									text: 'success-btn bottom',
									href: 'success2'
								},{
									text: 'success-vote',
									href: 'success3'
								},{
									text: 'success-list bottom',
									href: 'success4'
								},{
									text: 'success-telent',
									href: 'success5'
								},{
									text: 'chat',
									href: 'chat'
								},{
									text: 'chat-reply-mess',
									href: 'chat-reply-mess'
								},{
									text: 'referral',
									href: 'referral'
								},{
									text: 'referral-info',
									href: 'referral-info'
								},{
									text: 'error',
									href: 'error'
								},{
									text: 'shop',
									href: 'shop'
								},{
									text: 'shop-grid',
									href: 'shop-grid'
								},{
									text: 'shop-empty',
									href: 'shop-empty'
								},{
									text: 'shop-category',
									href: 'shop-category'
								},{
									text: 'shop-checkout',
									href: 'shop-checkout'
								},{
									text: 'shop-form',
									href: 'shop-inputs'
								},{
									text: 'shop-order',
									href: 'shop-order'
								},{
									text: 'shop-success',
									href: 'shop-success'
								}
							] %}
							{% for link in links2 %}
								<li>
									<a class="--link" href="https://andreywebcoder.github.io/Qela-mob/Qela-mob/{{link.href}}">{{link.text}}</a>
								</li>
							{% endfor %}
						</ul>
					</nav>

				</aside>
				<!-- Навигация (якоря) -->
				<div style="max-width: 576px; width: 100%;" class="mx-auto px-3">
					<div class="mt-3 pb-3 d-flex flex-column gap-3">
						{% include "html/components/_buttons.njk" %}
						{% include "html/components/_check-radio.njk" %}
						{% include "html/components/_accordion.njk" %}
						{% include "html/components/_alert.njk" %}
						{% include "html/components/_avatars.njk" %}
						{% include "html/components/_breadcrambs.njk" %}
						{% include "html/components/_campaign.njk" %}
						{% include "html/components/_news.njk" %}
						{% include "html/components/_chat.njk" %}
						{% include "html/components/_coming-soon.njk" %}
						{% include "html/components/_dialog.njk" %}
						{% include "html/components/_dropdown.njk" %}
						{% include "html/components/_empty.njk" %}
						{% include "html/components/_icons.njk" %}
						{% include "html/components/_items.njk" %}
						{% include "html/components/_links.njk" %}
						{% include "html/components/_lists.njk" %}
						{% include "html/components/_logo.njk" %}
						{% include "html/components/_nav.njk" %}
						{% include "html/components/_popup.njk" %}
						{% include "html/components/_places.njk" %}
						{% include "html/components/_profile.njk" %}
						{% include "html/components/_progress.njk" %}
						{% include "html/components/_quest1.njk" %}
						{% include "html/components/_quest2.njk" %}
						{% include "html/components/_quest3.njk" %}
						{% include "html/components/_quest4.njk" %}
						{% include "html/components/_quest5.njk" %}
						{% include "html/components/_special-ic.njk" %}
						{% include "html/components/_shop.njk" %}
						{% include "html/components/_subtitles.njk" %}
						{% include "html/components/_tabs.njk" %}
						{% include "html/components/_talents.njk" %}
						{% include "html/components/_text-fields.njk" %}
						{% include "html/components/_typography.njk" %}
						{% include "html/components/_video.njk" %}
						{% include "html/components/_voting.njk" %}
					</div>
				</div>
			</main>
		</div>
		<script src="https://unpkg.com/vue@3.2.47/dist/vue.global.js" type="text/javascript"></script>
		<script type="text/javascript" src="https://www.unpkg.com/vue-multiselect@3.0.0-beta.1/dist/vue-multiselect.js"></script>
		<script src="https://unpkg.com/@vuepic/vue-datepicker@latest"></script>
		<script type="text/javascript">
			let app = Vue.createApp({
				components: {
					"v-date-picker": VueDatePicker,
					"v-multi-select": VueMultiselect.default
				},
				data() {
					return {
						// date: [new Date(), new Date()],
						date: new Date(),
						value1: "",
						value2: "",
						value3: "",
						value4: "",
						options: [
							"Пункт 1",
							"Пункт 2",
							"Пункт 3",
							"Пункт 4",
							"Пункт 1",
							"Пункт 2sades",
							"Пункт 3sd",
							"Пункт 4sd"
						]
					};
				},
				methods: {
					click() {
						alert(1);
						this.message += " clicked!";
					}
				}
			});
			// console.dir(app);
			app.mount("#app");
		</script>
		<script src="filesIndex/index.js"></script>
		{% include "_js.njk" %}
	</body>

</html>