<!DOCTYPE html>
<html lang="ua">

	{% set title = "Shop" %}
	{% include "_head.njk" %}

	<body>
		{% set title = "Магазин" %}
		{% include "html/components/_aside-layouts.njk" %}
		<main class="qela-fullscreen">
			<div class="qela-top bg-white mb-0">
				{% set type = 'logoLeft' %}
				{% include "html/includes/nav/_navbar.njk" %}
			</div>
			<!--content-->
			<div class="flex-grow-1">
				<div class="d-flex py-2 gap-3">
					<h2 class="fw-bold fs-6 flex-grow-1">🔥Топ-пропозиції</h2>
					<button type="button" class="btn btn-link text-secondary-700 btn-sm">Дивитися всі</button>
				</div>
				<div class="d-flex gap-2 qela-cards-inner pb-3">
					{% set cardImgs = [
						{imgSrc:"shop-img.png",imgAlt:"Зображення 1"}, 
						{imgSrc:"shop-img-2.jpg",imgAlt:"Зображення 2"}, 
						{imgSrc:"shop-img-3.jpg",imgAlt:"Зображення 3"},
						{imgSrc:"shop-img-4.jpg",imgAlt:"Зображення 4"},
						{imgSrc:"shop-img-2.jpg",imgAlt:"Зображення 5"}, 
						{imgSrc:"shop-img-3.jpg",imgAlt:"Зображення 6"}
					]%}
					{% for img in cardImgs %}
						{% include "html/includes/cards/_card-shop.njk" %}
					{% endfor %}
				</div>
				<div class="d-flex py-2 gap-3">
					<h2 class="fw-bold fs-6 flex-grow-1">🪖 Сувеніри від військових 🇺🇦</h2>
					<button type="button" class="btn btn-link text-secondary-700 btn-sm">Дивитися всі</button>
				</div>
				<div class="d-flex gap-2 qela-cards-inner pb-3">
					{% set cardImgs = [
						{imgSrc:"shop-img.png",imgAlt:"Зображення 1"}, 
						{imgSrc:"shop-img-2.jpg",imgAlt:"Зображення 2"}, 
						{imgSrc:"shop-img-3.jpg",imgAlt:"Зображення 3"},
						{imgSrc:"shop-img-4.jpg",imgAlt:"Зображення 4"},
						{imgSrc:"shop-img-2.jpg",imgAlt:"Зображення 5"}, 
						{imgSrc:"shop-img-3.jpg",imgAlt:"Зображення 6"}
					]%}
					{% for img in cardImgs %}
						{% include "html/includes/cards/_card-shop.njk" %}
					{% endfor %}
				</div>
			</div>
			<!--content-->
			<div class="qela-bottom bg-white">
				{% set shop = "active" %}
				{% include "html/includes/tab/_tab-bar.njk" %}
			</div>
		</main>
		<!-- =========================== -->
		{% include "_js.njk" %}
	</body>

</html>