<!DOCTYPE html>
<html lang="ua">

	{% set title = "Shop grid" %}
	{% include "_head.njk" %}

	<body>
		{% set title = "🔥Топ-пропозиції" %}
		{% include "html/components/_aside-layouts.njk" %}
		<main class="qela-fullscreen">
			<div class="qela-top bg-white">
				{% set type = 'btnLeft' %}
				{% include "html/includes/nav/_navbar.njk" %}
			</div>
			<!--content-->
			<div class="flex-grow-1">
				<div class="row g-2">
					{% set cardImgs = [
						{imgSrc:"shop-img.png",imgAlt:"Зображення 1"}, 
						{imgSrc:"shop-img-2.jpg",imgAlt:"Зображення 2"}, 
						{imgSrc:"shop-img-3.jpg",imgAlt:"Зображення 3"},
						{imgSrc:"shop-img-4.jpg",imgAlt:"Зображення 4"},
						{imgSrc:"shop-img-2.jpg",imgAlt:"Зображення 5"}, 
						{imgSrc:"shop-img-3.jpg",imgAlt:"Зображення 6"}
					]%}
					{% for img in cardImgs %}
						<div class="col-6">
							{% include "html/includes/cards/_card-shop.njk" %}
						</div>
					{% endfor %}
				</div>
			</div>
			<!--content-->
			<div class="qela-bottom bg-white">
				{% set shop = "active" %}
				{% include "html/includes/tab/_tab-bar.njk" %}
			</div>

		</main>
		<!-- =========================== -->
		{% include "_js.njk" %}
	</body>

</html>