<nav class="navbar bg-white qela-topbar">
	<a class="navbar-brand p-0" href="#">
		<img src="img/logo-strichka.svg">
	</a>
	<a href="#" class="qela-btn-top">
		<div class="ic-add left"></div>
		<div class="text-black right">
			<span>150</span>
			<img src="img/icons/orden-red.svg" alt="#"/>
		</div>
	</a>
	<div class="d-flex gap-3 ms-auto">
		<button type="button" class="btn ic-message-circle">
			<span class="qela-counter">1</span>
		</button>
		<button type="button" class="btn ic-bell">
			<span class="qela-counter">2565</span>
		</button>
	</div>
</nav>