<div class="qela-quantity">
	<div class="text-info-700 fw-semibold text-center mb-1">{{label}}</div>
	<div class="d-flex gap-3">
		<button type="button" class="ic-add btn-ic"></button>
		<input type="number" class="form-control text-center">
		<button type="button" class="ic-minus-circled btn-ic"></button>
	</div>
</div>