.qela-form {
	.form-check {
		&:not(:last-child) {
			margin-right: 16px;
		}
	}
}

.gela-form-name {
	font-weight: 600;
	line-height: 21px;
	color: $black-700;

	.input-group-text {
		border-color: transparent;
	}
}