.qela-form {
	a {
		text-decoration: none;
		font-weight: 500;
		letter-spacing: -0.15px;
	}

	.form-check {
		&:not(:last-child) {
			margin-right: 16px;
		}
	}
}

.gela-form-name {
	font-weight: 600;
	line-height: 21px;
	color: $black-700;

	.input-group-text {
		border-color: transparent;
	}
}