/* Animation bag */
.qela-anim-bag {
	stroke: var(--bs-ql-secondary-500);
	stroke-width: 0px;
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	fill-opacity: 0;
	stroke-linejoin: round;
	stroke-linecap: round;
	paint-order: fill markers stroke;
	transform-origin: center;
	animation: drawBag 1s ease-in-out forwards;
}

@keyframes drawBag {
	0% {
		/* stroke-dashoffset: 1000; */
		fill-opacity: 0;
		transform: scale(0.85);
	}

	25% {
		transform: scale(1.15);
	}

	50% {
		transform: scale(0.85);
	}

	75% {
		transform: scale(1.15);
	}

	100% {
		/* stroke-dashoffset: 0; */
		fill-opacity: 1;
		transform: scale(1);
	}
}

/* 2.Animation check pop */
.qela-anim-check {
	transform-origin: center;
	opacity: 0;
	transform: scale(0);
	animation: popCheck 0.5s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
	animation-delay: 1.1s;
}

@keyframes popCheck {
	0% {
		opacity: 0;
		transform: scale(0.2);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}
