
body,
html {
	scroll-behavior: smooth;
}

.qela-body {
	padding-top: 56px;
	padding-left: 80px;
	display: flex;
	flex-direction: column;
}

.--hide {
	display: none;
}

body,
header {
	transition: background-color 0.2s ease 0s;
}

header {
	height: 56px;
	z-index: 100;
	padding-left: 80px;
	background-color: #fff;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

header .container-fluid {
	height: 100%;
	padding-left: 0;
	padding-right: 0;
}

header .container-fluid > .row {
	--bs-gutter-x: 0.5rem;
	height: 100%;
	position: relative;
}

header .container-fluid > .row [class*="col"] {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

header .container-fluid > .row [class*="col"]:last-child {
	justify-content: end;
}

* ::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

* scrollbar {
	width: 8px;
	height: 8px;
}

* ::-webkit-scrollbar-track {
	background-color: #dee2e6;
	border-radius: 50px;
}

* scrollbar-track {
	background-color: #dee2e6;
	border-radius: 50px;
}

*::-webkit-scrollbar-thumb {
	background-color: #6c757d;
	border: 2px solid #dee2e6;
	height: 20%;
	border-radius: 50px;
}

* scrollbar-thumb {
	background-color: #6c757d;
	border: 2px solid #dee2e6;
	height: 20%;
}

body.night-theme {
	background-color: rgba(0, 0, 0, 0.5);
}

body.night-theme header {
	background-color: rgb(0, 0, 0);
	box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
}

body.night-theme aside.--aside {
	background-color: rgb(0, 0, 0);
	color: #fff;
}

body.night-theme aside.--aside a {
	color: #fff;
}

.night-theme #toggle-bg {
	background-color: rgba(0, 0, 0, 0.5);
}

.night-theme #toggle-bg::before {
	content: "\e95d";
	color: #fff;
}

main.qela-body {
	padding-left: 220px;
	max-width: 100%;
}

.--btn {
	padding: 8px;
}

.--btn::before {
	font-size: 26px !important;
	line-height: 1;
}

.--btn svg {
	width: 26px;
	height: 100%;
}

.night-theme *::-webkit-scrollbar-track,
.night-theme::-webkit-scrollbar-track {
	background-color: #343a40;
}

.night-theme * scrollbar-track,
.night-theme scrollbar-track {
	background-color: #343a40;
}

.night-theme *::-webkit-scrollbar-thumb,
.night-theme::-webkit-scrollbar-thumb {
	background-color: #6c757d;
	border: 2px solid #343a40;
}

.night-theme * scrollbar-thumb,
.night-theme scrollbar-thumb {
	background-color: #6c757d;
	border: 2px solid #343a40;
}

.night-theme .--btn {
	background-color: rgba(0, 0, 0, 0.5);
}

.night-theme .--btn::before {
	color: #fff;
}

.night-theme .--btn path {
	fill: #fff;
}

.night-theme #toggle-bg::before {
	content: "\e95d";
}

.night-theme .--elastic li::before {
	background-color: #9188ff;
}

.night-theme .--elastic li::before {
	background-color: #9188ff;
}

aside.--aside {
	width: 220px;
	height: 100vh;
	z-index: 10;
	padding-top: 65px;
	overflow: auto;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
	transition: background-color 0.2s ease, color 0.2s ease, left 0.3s ease;
}

aside.--aside a {
	color: #000000;
	text-decoration: none;
	font-size: 14px;
}

.btn.--burger {
	display: none;
}

.btn.--burger span {
	width: 100%;
	height: 3px;
	background-color: #ffe000;
}

/* .--elastic {
counter-reset: olcounter;
} */
.--elastic li {
	/* counter-increment: olcounter; */
	list-style: none;
	position: relative;
	padding-left: 25px;
}

.--elastic li::before {
	content: "\e936";
	font-family: 'icons';
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #ffe000;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: inherit;
	font-size: 16px;
	margin-top: 4px;
	line-height: 1;
	transition: background-color 0.2s ease 0s;
}

.--elastic a {
	transition: color 0.2s ease 0s;
}

/* .link--active{
    color: red !important;
} */
section > h2 {
	background-color: rgba(28, 109, 12, 0.7);
	padding: 5px;
}

section > h3 {
	border-bottom: 2px solid rgba(109, 31, 12, 0.7);
	padding: 5px;
}

@media (max-width: 1240px) {
	aside.--aside {
		left: 150%;
	}

	aside.--aside.active {
		left: 0;
	}

	.btn.--burger {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 36px;
		height: 36px;
		gap: 8px;
		padding: 2px;
		margin-left: 4px;
	}

	main.qela-body {
		padding-left: 0;
		padding-right: 0;
	}

	.--btn {
		padding: 5px;
	}
}

@media (max-width: 576px) {
	.--btn {
		padding: 5px;
	}
}
