{% macro inputCheckbox(check) %}
	<div class="form-check{{ check.class if check.class}}">
		<input 
			{% if check.id %}
				id="{{check.id}}" 
			{% endif %}
			{% if check.type != 'checkbox' %} 
				name="{{ check.name }}"
			{% endif %} 
			type="{{check.type}}" 
			class="form-check-input{{' ' + 'invalid' if check.error }}" 
			{{ 'disabled' if check.disabled }} 
			{{ 'checked' if check.checked }}
			{% if check.role %}
				role="{{check.role}}"
			{% endif %}
		>
		{% if check.label %}
			<label class="form-check-label" for="{{check.id}}">{{check.label | safe }}</label>
		{% endif %}
		{% if check.errorText %}
			<span class="form-error">{{check.errorText}}</span>
		{% endif %}
	</div>
{% endmacro %}