.qela-badge {
	display: inline-flex;
	align-items: center;
	gap: 4px;

	&:not(:last-child) {
		margin-right: rem(16);
	}

	&.small {
		font-size: rem(12);
		border-radius: 14px;
		[class^="ic-"],
		[class*="ic-"] {
			&:before {
				font-size: rem(14);
			}
		}

		.badge {
			font-size: rem(12);
			padding: rem(2) rem(4);
		}
	}
}
.qela-list-num {
	font-size: rem(18);
	font-weight: 500;
	padding: rem(4);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 24px;
	min-width: 24px;
	line-height: 1;
	background-color: var(--bs-primary);
	border-radius: 30px;
}
.qela-voice {
	// display: flex;
	// align-items: center;
	// justify-content: center;
	.body-voice {
		background-color: var(--bs-ql-primary-300);
		border-radius: 10px;
		line-height: 1;
		position: relative;
		padding: rem(4) rem(10) rem(4) rem(26);
		img {
			position: absolute;
			left: 4px;
			top: 50%;
			transform: translateY(-50%);
			width: 20px;
			height: 20px;
		}
	}
}
.qela-awards-list {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	padding: 0.5rem 0;
	overflow: auto;
	> div {
		display: flex;
		align-items: center;
	}
}

.qela-awards {
	// max-width: 75px;
	// min-width: 75px;
	position: relative;
	display: inline-block;

	.number {
		color: var(--ql-talent-color);
		line-height: 13px;
		font-size: 0.6875rem;
		font-weight: 700;
		text-align: center;
		position: absolute;
		z-index: 1;
		border-radius: 20px;
		padding: rem(2);
		left: calc(100% - 10px);
		top: -6px;
		min-width: 18px;
		border: 1px solid var(--ql-talent-border-color);
		background-color: var(--bs-white);
	}
	.qela-badge {
		color: var(--ql-talent-color);
		background-color: var(--ql-talent-bg);
		&.small {
			border-radius: 6px;
			font-weight: normal;
			padding: rem(4) rem(8);
			line-height: 14px;
			font-size: rem(12);
		}
	}
	&.orden {
		.number {
			color: var(--bs-ql-primary-900);
		}
		.qela-badge {
			background-color: var(--bs-ql-primary-300);
			padding-left: rem(24);
			.badge {
				color: var(--bs-ql-info-900);
			}
			img {
				position: absolute;
				left: 4px;
				top: 50%;
				z-index: 1;
				transform: translateY(-50%);
				width: 16px;
				height: 16px;
			}
		}
	}
}

.qela-badge-talent {
	color: var(--ql-talent-color);
	background-color: var(--ql-talent-bg);
	border-color: var(--ql-talent-border-color);
	border-radius: rem(8);
	padding: rem(8);
	text-decoration: none;
	i {
		color: var(--ql-talent-border-color);
	}
	&:hover {
		color: var(--ql-talent-color);
	}
}
