// css vars from colors themes
.list-group {
	--bs-list-group-color: var(--bs-black);
	--bs-list-group-bg: var(--bs-white);
	--bs-list-group-border-color: transparent;
	// --bs-list-group-action-color: var(--bs-ql-info-700);
	// --bs-list-group-action-hover-color: var(--bs-ql-info-700);
	// --bs-list-group-action-hover-bg: var(--bs-ql-info-100);
	// --bs-list-group-action-active-color: var(--bs-body-color);
	// --bs-list-group-action-active-bg: var(--bs-ql-info-200);
	// --bs-list-group-disabled-color: var(--bs-ql-info-600);
	// --bs-list-group-disabled-bg: var(--bs-white);
	--bs-list-group-active-color: var(--bs-black);
	--bs-list-group-active-bg: var(--bs-ql-secondary-200);
	--bs-list-group-active-border-color: var(--bs-ql-secondary-400);
}

.qela-description {
	.list-group-item {
		box-shadow: none;
		> button {
			border: none;
			background-color: transparent;
			padding: 0;
			width: 100%;
			text-align: left;
		}
		> a {
			color: var(--bs-list-group-color);
		}
		&.active,
		&.success,
		&.error {
			border: none;
		}

		&:not(:last-child) {
			border-bottom: 1px solid var(--bs-ql-info-300);
		}
		.qela-clamp {
			max-height: unset;
		}
	}
}

.qela-list {
	.list-group-item {
		border-radius: 10px;
		box-shadow: 0px 4px 10px color-mix(in srgb, var(--bs-black), transparent 95%);
	}
}

.qela-condenced {
	.list-group-item + .list-group-item {
		border-top-width: 1px;
	}

	.checkbox-container {
		padding-right: rem(60);
		position: relative;

		&.active {
			span {
				border-color: var(--bs-secondary);
				background-color: var(--bs-secondary);

				&::before {
					opacity: 1;
				}
			}

			&.success {
				span {
					background-color: var(--bs-success);
				}
			}

			&.error {
				span {
					background-color: var(--bs-danger);
				}
			}
		}

		&.success {
			background-color: var(--bs-ql-success-100);
			border-color: var(--bs-ql-success-400);

			span {
				border-color: var(--bs-success);
			}
		}

		&.error {
			background-color: var(--bs-ql-danger-100);
			border-color: var(--bs-ql-danger-300);

			span {
				border-color: var(--bs-danger);
			}
		}

		span {
			position: absolute;
			border: 1px solid var(--bs-black);
			border-radius: 50%;
			width: 1.25em;
			height: 1.25em;
			right: 16px;
			top: 50%;
			transform: translateY(-50%);
			display: flex;
			align-items: center;
			justify-content: center;

			&::before {
				font-size: rem(16);
				opacity: 0;
				color: var(--bs-white);
			}
		}
	}

	.radiobutton-container {
		padding-right: rem(60);
		position: relative;

		img {
			margin-right: 1rem;
		}

		&.active {
			span {
				border-color: var(--bs-secondary);
				background-color: var(--bs-white);
				border-width: 2px;

				&::before {
					opacity: 1;
					color: var(--bs-secondary);
				}
			}

			&.success {
				background-color: var(--bs-ql-success-100);
				border-color: var(--bs-success)-400;

				span {
					border-color: var(--bs-success);

					&::before {
						color: var(--bs-success);
						background-color: var(--bs-success);
					}
				}
			}

			&.error {
				background-color: var(--bs-ql-danger-100);
				border: 1px solid var(--bs-ql-danger-300);

				span {
					border-color: var(--bs-danger);

					&::before {
						color: var(--bs-danger);
						background-color: var(--bs-danger);
					}
				}
			}
		}

		&.success {
			background-color: var(--bs-ql-success-100);
			border-color: var(--bs-success)-400;

			span {
				border-color: var(--bs-success);
			}
		}

		&.error {
			background-color: var(--bs-ql-danger-100);
			border: 1px solid var(--bs-ql-danger-300);

			span {
				border-color: var(--bs-danger);
			}
		}

		&.img-pad {
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
			padding-left: 0.5rem;
		}

		span {
			position: absolute;
			border: 1px solid var(--bs-black);
			border-radius: 50%;
			width: 22px;
			height: 22px;
			right: 16px;
			top: 50%;
			transform: translateY(-50%);
			display: flex;
			align-items: center;
			justify-content: center;

			&::before {
				content: "";
				width: 14px;
				height: 14px;
				border-radius: 50%;
				background-color: var(--bs-secondary);
				opacity: 0;
			}
		}
	}
}

.qela-custom {
	.btn {
		border-radius: 0 10px 10px 0;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: center;
		gap: 8px;
	}
}

.qela-icon {
	width: 30px;
	height: 30px;
	background-color: var(--bs-secondary);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: var(--bs-white);
	border-radius: 7px;

	&::before {
		font-size: rem(18);
	}
}
.qela-notification {
	--bs-list-group-item-padding-x: 1rem;
	--bs-list-group-item-padding-y: 1rem;
	--bs-list-group-border-radius: 0;

	.list-group-item {
		display: inline-flex;
		gap: 1rem;
		position: relative;
		&.new {
			background-color: #f8f9fa;
			.qela-badge {
				display: block !important;
			}
		}
		> div {
			h2,
			small {
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 1;
				text-overflow: ellipsis;
				-o-text-overflow: ellipsis;
				overflow: hidden;
			}
			small {
				-webkit-line-clamp: 2;
				color: var(--bs-ql-info-900);
			}
			&:last-child {
				flex-basis: 48px;
				> div {
					&:first-child {
						color: var(--bs-ql-info-700);
					}
				}
			}
		}
	}
	.qela-badge {
		position: absolute;
		top: -11px;
		right: -3px;
		display: none !important;
	}
}
.qela-preview {
	height: 48px;
	flex-basis: 48px;
	width: 48px;
	border-radius: 8px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--ql-talent-color);
	background-color: var(--ql-talent-bg);
	img {
		width: 100%;
	}
	&.orden {
		background-color: var(--bs-ql-primary-200);
		img {
			width: 32px;
			height: 32px;
		}
	}
}

.qela-list-leaderboard {
	padding-top: rem(8);
	display: flex;
	flex-direction: column;
	gap: rem(8);
	.list-group-item {
		--bs-list-group-border-color: var(--bs-ql-info-100);
		box-shadow: none;
		border-top-width: 1px;
		padding: 0;
		border-radius: 8px;
		&[class*="active--"] {
			position: sticky;
			left: 0;
			z-index: 5;
			> div,
			.accordion-button {
				background-color: var(--bs-ql-secondary-200);
				border: 1px solid var(--bs-secondary);
				&.accordion {
					border: none;
					background-color: transparent;
				}
			}
		}
		&.active--top {
			top: 100px;
		}
		&.active--bottom {
			bottom: 80px;
		}
		&.active {
			> div,
			.accordion-button {
				background-color: var(--bs-list-group-active-bg);
			}
		}
		> div,
		.accordion-button {
			padding: rem(8);
			border-radius: 8px;
			background-color: var(--bs-ql-info-100);
			&.accordion {
				padding: 0;
				background-color: transparent;
			}
		}
		.accordion-button {
			&::after {
				content: "\e903";
				font-family: "icons";
				margin-left: rem(8);
				line-height: 1;
				font-size: 24px;
				color: var(--bs-ql-info-700);
			}
			> div {
				flex-grow: 1;
			}
		}
		.qela-clamp {
			--clamp-line: 2;
			height: auto;
		}
	}
	.qela-voice {
		.body-voice {
			background-color: var(--bs-ql-primary-100);
		}
	}
}
.qela-list-ref {
	.list-group {
		--bs-list-group-border-radius: 12px;
	}
	.list-group-item {
		--bs-list-group-item-padding-y: 0.75rem;
		--bs-list-group-item-padding-x: 1.5rem;
		background-color: var(--bs-ql-secondary-100);
		display: flex;
		align-items: center;
		gap: rem(16);
		&:first-child {
			padding-top: rem(24);
		}
		&:last-child {
			padding-bottom: rem(24);
		}
	}
}
.qela-ic-ref {
	display: inline-block;
	background-color: var(--bs-ql-secondary-300);
	padding: rem(8);
	border-radius: 50%;
	position: relative;
	i {
		color: var(--bs-ql-secondary-700);
	}
	.qela-counter {
		position: absolute;
		bottom: 0;
		right: -8px;
		color: var(--bs-black);
		background-color: var(--bs-primary);
		border: 1px solid var(--bs-ql-secondary-200);
	}
}
