.qela-alert {
	&.alert {
		position: relative;
		i {
			position: absolute;
			left: 1rem;
			top: 1em;
			&.ic-large {
				position: static;

				&::before {
					font-size: 38px;
				}
			}
		}
	}

	.btn-close {
		position: absolute;
		top: 16px;
		right: 16px;
		opacity: 1;
		border-radius: 0;
		padding: 0;
		&:focus {
			box-shadow: none;
		}
	}

	&.alert-danger {
		--bs-alert-bg: #{$danger-100};
		--bs-alert-border-color: #{$danger};
	}

	&.alert-warning {
		--bs-alert-bg: #{$warning-100};
		--bs-alert-border-color: #{$warning};
	}

	&.alert-info {
		--bs-alert-bg: #{$info-100};
		--bs-alert-border-color: #{$info};
	}
	&.alert-success {
		--bs-alert-bg: #{$success-100};
		--bs-alert-border-color: #{$success};
	}
}
