.qela-breadcrumb {
	display: block;

	.breadcrumb-item {
		display: inline;

		&:not(:last-child) {
			margin: 0 rem(12) 0 0;
		}

		&:not(:first-child) {
			a {
				padding-left: rem(20);
			}
		}
	}

	a {
		text-decoration: none;
		position: relative;

		&::before {
			left: 0;
			top: 0.1em;
			font-size: rem(16);
			position: absolute;
		}
	}
}
