.qela-card {
	&.card {
		box-shadow: 0px 4px 10px color-mix(in srgb, var(--bs-black), transparent 95%);
		color: inherit;
		text-decoration: none;
		position: relative;
		&:hover {
			color: inherit;
		}

		&.mini {
			width: 300px;
			min-height: 160px;

			.card-body {
				align-items: center;
				justify-content: center;
			}
		}

		&.text-bg-primary {
			background-color: var(--bs-primary) !important;
		}

		&.text-bg-info {
			background-color: var(--bs-ql-info-300) !important;
		}
		&.is-out {
			background-color: var(--bs-ql-info-200);
		}
		&.accent {
			background-color: var(--bs-ql-primary-200);
			&.is-out {
				background-color: var(--bs-ql-primary-200);
			}
		}
	}
}

.card {
	position: relative;

	.btn-del {
		position: absolute;
		top: 16px;
		right: 16px;
	}
}
.qela-time {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: rem(8) 0;
	font-size: rem(12);
	gap: rem(4);
	> [class*="ic-"] {
		display: flex;
		align-items: center;
		gap: rem(4);
		line-height: 1;
		&:before {
			font-size: rem(16);
		}
		.btn {
			font-size: rem(18);
			line-height: 1;
			background-color: var(--bs-primary);
			padding: rem(2);
			margin-right: rem(4);
		}
	}
}
.qela-action {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: rem(8);
	padding-top: rem(8);

	span {
		font-size: rem(16);
	}

	.btn {
		width: 50%;
	}
}
.qela-cards-inner {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	margin-right: calc(var(--px-main) * -1);
	padding-right: var(--px-main);
	margin-left: calc(var(--px-main) * -1);
	padding-left: var(--px-main);
	&::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none;
	scrollbar-width: none;
	.qela-card-shop {
		flex: 0 0 156px;
	}
}
.qela-card-shop {
	text-decoration: none;
	color: var(--bs-ql-info-900);
	text-align: left;
	width: 100%;
	min-height: 100%;
	flex-direction: column;
	justify-content: start;
	.qela-ibg {
		padding-bottom: 100%;
		img {
			border: 1px solid var(--bs-ql-info-200);
			border-radius: 6px;
		}
	}
	.card-text {
		flex-grow: 1;
	}
	.card-body {
		align-content: end;
	}
	&:hover {
		color: var(--bs-ql-info-900);
		*:not(button) {
			color: inherit;
		}
	}
	&.qela-card-row {
		min-height: unset;
		.qela-ibg {
			flex: 0 0 56px;
			padding-bottom: 56px;
		}
	}
}
.qela-card-order {
	.card-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(8);
		border-bottom: 1px solid var(--bs-ql-info-300);
	}
	.card-body {
		.qela-ibg {
			padding-bottom: rem(32);
			flex: 0 0 32px;
		}
		& > ul {
			li {
				font-size: rem(12);
				padding-top: rem(8);
				padding-bottom: rem(8);
				&:last-child {
					padding-top: rem(4);
					padding-bottom: rem(0);
				}
			}
		}
	}
	.card-text {
		font-size: rem(14);
		font-weight: 500;
	}
	.qela-ibg {
		overflow: hidden;
		border: 1px solid var(--bs-ql-info-200);
		border-radius: 4px;
	}
	li {
		list-style: none;
	}
	&.lg {
		.card-header {
			.qela-ibg {
				padding-bottom: rem(60);
				flex: 0 0 60px;
			}
		}
		.card-body {
			& > ul {
				li {
					font-size: rem(14);
					padding-top: rem(16);
					padding-bottom: rem(16);
					&:last-child {
						padding-top: rem(8);
						padding-bottom: rem(0);
					}
				}
			}
		}
		.card-text {
			font-size: rem(16);
			font-weight: 400;
		}
		.btn-ic {
			transition: transform 0.3s ease 0s;
			&:not(.collapsed) {
				transform: matrix(1, 0, 0, -1, 0, 0);
			}
		}
	}
}
