.qela-chat {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0 rem(-16);
	width: calc(100% + 2rem);
	.qela-chat-badge {
		margin: rem(4) 0 rem(6) 0;
		align-self: center;
	}
	.qela-report-mess {
		position: fixed;
		width: 100%;
		max-width: 576px;
		bottom: -100%;
		left: 50%;
		transform: translateX(-50%);
		z-index: 31;
		transition: bottom 0.3s ease 0s;
		&.show {
			bottom: 0;
		}
	}
}
.qela-chat-btn {
	position: fixed;
	bottom: 64px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 576px;
	z-index: 10;
	text-align: end;
	pointer-events: none;
	.btn-round {
		margin-right: rem(16);
		margin-bottom: rem(8);
		pointer-events: auto;
		&::before {
			color: var(--bs-ql-secondary-700);
		}
	}
}
.qela-chat-mess {
	position: relative;
	align-self: flex-start;
	background-color: var(--bs-white);
	border-radius: 12px;
	padding: rem(8);
	margin: rem(2) rem(24) 0 rem(42);
	line-height: 130%;
	display: inline-grid;
	gap: rem(2);
	font-size: rem(16);
	&.report {
		position: relative;
		z-index: 31;
	}
	&.my-mess {
		margin: rem(2) rem(8) 0 rem(24);
		align-self: flex-end;
		align-items: end;
		background-color: var(--bs-ql-secondary-300);
		.qela-chat-reply {
			background-color: var(--bs-white);
		}
	}
	.qela-avatar {
		position: absolute;
		right: calc(100% + 8px);
		bottom: 0;
	}
}

.qela-chat-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	align-items: center;
	gap: rem(8);
	font-size: rem(16);
}
.qela-text-blue-600 {
	color: #2a6bb5;
}
.qela-chat-like {
	background-color: var(--bs-white);
	border: 1px solid var(--bs-ql-info-200);
	display: inline-flex;
	gap: rem(4);
	border-radius: 20px;
	padding: rem(1) rem(7);
	.btn {
		color: var(--bs-ql-info-700);
		padding: 0;
		border-radius: 0;
		font-size: rem(12);
		align-items: center;
		line-height: 1;
		gap: rem(2);
		&:not(:first-child) {
			padding-left: rem(4);
			border-left: 1px solid var(--bs-ql-info-300);
		}
		&.current {
			i {
				&:first-child {
					display: none;
				}
				&:nth-child(2) {
					display: block;
					color: var(--bs-ql-secondary-700);
				}
			}
		}
		&:active {
			border-color: transparent !important;
			color: var(--bs-ql-info-700) !important;
		}
		i {
			&:nth-child(2) {
				display: none;
			}
			&::before {
				font-size: rem(16);
			}
		}
	}
}
.qela-chat-time {
	font-size: rem(10);
	margin-left: auto;
	color: var(--bs-ql-info-700);
}
.qela-chat-reply {
	font-size: rem(12);
	padding: rem(2) rem(2) rem(2) rem(5);
	border-left: 3px solid var(--bs-info);
	background-color: var(--bs-ql-info-100);
	border-radius: 4px;
	flex-grow: 1;
}
.qela-chat-input {
	position: relative;
	/* Для WebKit-браузеров */
	::-webkit-scrollbar {
		width: 0;
	}
	/* Для Firefox */
	scrollbar {
		width: 0;
	}
	.btn {
		padding: rem(3);
		border-radius: 50%;
		position: absolute;
		right: 4px;
		bottom: 4px;
		background-color: var(--bs-ql-primary-600);
		&::before {
			font-size: rem(32);
		}
	}
	.form-control {
		padding-top: rem(13);
		padding-bottom: rem(13);
		padding-right: rem(48);
		box-shadow: none;
		border-color: var(--bs-info);
		border-radius: 30px;
		box-sizing: border-box;
		word-break: break-all;
		resize: none;
		line-height: 140%;
		overflow-y: hidden;
		min-height: unset;
		&:focus {
			border-color: var(--bs-secondary);
		}
	}
}
.qela-chat-badge {
	color: var(--bs-black);
	font-size: rem(12);
	padding: rem(6) rem(12);
	border-radius: 20px;
	background-color: var(--bs-ql-info-200);
}
.qela-pinned-mess {
	font-size: rem(14);
	padding: rem(4) rem(16);
	display: grid;
	gap: 2px;
	border-bottom: 1px solid var(--bs-ql-info-300);
}
.qela-report-mess {
	background: var(--bs-white);
	padding: rem(16);
	border-radius: 8px 8px 0 0;
	display: grid;
	gap: rem(16);
	position: fixed;
	width: 100%;
	max-width: 576px;
	bottom: -100%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 31;
	transition: bottom 0.25s ease 0s;
	&.show {
		bottom: 0;
	}
	.list-group {
		--bs-list-group-border-radius: 8px;
		--bs-list-group-item-padding-x: 0;
		--bs-list-group-item-padding-y: 0.75rem;
		padding: 0 rem(12);
		background-color: var(--bs-ql-info-100);
	}
	.list-group-item {
		background-color: transparent;
		&:not(:last-child) {
			border-bottom-color: var(--bs-ql-info-300);
		}
		border-radius: 0;
	}
}
.qela-chat-overlay,
.qela-report-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
}
.qela-chat-overlay {
	background-color: color-mix(in srgb, var(--bs-black), transparent 60%);
	backdrop-filter: blur(12px);
	top: 0;
	z-index: 21;
}
.qela-report-overlay {
	background-color: color-mix(in srgb, var(--bs-black), transparent 90%);
	bottom: 0;
	z-index: 21;
	opacity: 0;
	overflow: hidden;
	pointer-events: none;
	transition:
		overflow 0.25s ease 0s,
		opacity 0.25s ease 0s;
	&.show {
		opacity: 1;
		overflow: visible;
		pointer-events: auto;
	}
}
