.qela-dropdown {
	.dropdown-menu {
		overflow: hidden;
	}
	.dropdown-item {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: space-between;
		&::before {
			color: $info-700;
		}
		&.danger {
			color: $danger-600;
			&::before {
				color: $danger-600;
			}
		}
	}
}
