.qela-empty {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	/*Для центровки на екране*/
	/*
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
*/
	a {
		text-decoration: none;
	}

	span {
		color: $black;
		opacity: 0.4;

		&::before {
			font-size: 64px;
		}
	}
}