.qela-activity-stat {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: rem(16);
	gap: rem(32);
	border-radius: 8px;
	> div {
		position: relative;
		&:not(:last-child) {
			&::after {
				content: "";
				width: 1px;
				height: calc(100% - 10px);
				background-color: var(--bs-ql-info-300);
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
			}
		}
	}
}
