.qela-map {
	height: 440px;

	.form-control {
		&[type="search"] {
			z-index: 2;
		}
	}
}

.qela-pin {
	display: inline-flex;
	align-items: center;
	flex-direction: column;
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition:
		opacity 0.2s ease 0s,
		visibility 0.2s ease 0s;
	margin-left: -13px;
	transform: translateY(-60px);

	&.secondary {
		.qela-pin__num {
			small {
				border-color: var(--bs-secondary);
			}

			&::after {
				background-color: var(--bs-secondary);
			}
		}

		.qela-pin__dot {
			background-color: var(--bs-secondary);
		}

		.qela-pin__area {
			border: 2px solid var(--bs-secondary);
			background: color-mix(in srgb, var(--bs-secondary), transparent 90%);
		}
	}

	&.success {
		.qela-pin__num {
			small {
				border-color: var(--bs-success);
			}

			&::after {
				background-color: var(--bs-success);
			}
		}

		.qela-pin__dot {
			background-color: var(--bs-success);
		}

		.qela-pin__area {
			border: 2px solid var(--bs-success);
			background: color-mix(in srgb, var(--bs-success), transparent 90%);
		}
	}

	&.danger {
		.qela-pin__num {
			small {
				border-color: var(--bs-danger);
			}

			&::after {
				background-color: var(--bs-danger);
			}
		}

		.qela-pin__dot {
			background-color: var(--bs-danger);
		}

		.qela-pin__area {
			border: 1px solid var(--bs-danger);
			background: color-mix(in srgb, var(--bs-danger), transparent 90%);
		}
	}

	&.active {
		visibility: visible;
		opacity: 1;
		pointer-events: auto;

		.qela-pin__num {
			transform: translateY(0px);
		}

		&.secondary {
			.qela-pin__dot {
				background-color: transparent;
			}
		}

		&.success {
			.qela-pin__dot {
				background-color: transparent;
			}
		}

		&.danger {
			.qela-pin__dot {
				background-color: transparent;
			}
		}

		.qela-pin__area {
			opacity: 1;
		}

		@media (any-hover: hover) {
			&:hover {
				.qela-pin__num {
					transform: translateY(-10px);
				}

				&.secondary {
					.qela-pin__dot {
						background-color: var(--bs-secondary);
					}
				}

				&.success {
					.qela-pin__dot {
						background-color: var(--bs-success);
					}
				}

				&.danger {
					.qela-pin__dot {
						background-color: var(--bs-danger);
					}
				}

				.qela-pin__area {
					opacity: 0;
				}
			}
		}
	}

	&__num {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		z-index: 2;
		transition: transform 0.2s ease 0.1s;
		transform: translateY(-15px);

		small {
			background-color: var(--bs-white);
			display: flex;
			align-items: center;
			justify-content: center;
			width: 36px;
			height: 36px;
			border: 7px solid;
			border-radius: 50%;
		}

		&::after {
			content: "";
			height: 27px;
			width: 3px;
		}
	}

	&__dot {
		width: 9px;
		height: 6px;
		border-radius: 3px;
		position: relative;
		transition: background-color 0.2s ease 0.1s;
		background-color: transparent;
	}

	&__area {
		width: var(--diameter);
		height: var(--diameter);
		border-radius: 50%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: opacity 0.2s ease 0.1s;
		opacity: 0;
	}
}

.qela-line {
	height: 4px;
	width: 100%;
	border: 1px solid var(--bs-white);
}

.qela-distance {
	text-align: center;

	span {
		font-size: rem(14);

		&:first-child {
			color: var(--bs-ql-info-600);
			margin-right: rem(4);
		}
	}
}

.qela-coordinats {
	width: 27px;
	height: 27px;
	border-radius: 50%;
	position: relative;
	background-color: color-mix(in srgb, var(--bs-ql-secondary-700), transparent 50%);

	&.active {
		&::before {
			border-width: 4px;
		}
	}

	&::before {
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 17px;
		height: 17px;
		background-color: var(--bs-ql-secondary-700);
		border: 2px solid var(--bs-white);
		border-radius: 50%;
		z-index: 2;
		transition: border-width 0.3s ease 0s;
	}

	&::after {
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(2px, -50%);
		width: 0px;
		height: 0px;
		z-index: 1;
		border-style: solid;
		border-width: 8.5px 0 8.5px 15px;
		border-color: transparent transparent transparent var(--bs-ql-secondary-700);
	}
}
