.qela-place {
	padding: 0 rem(8) rem(8) rem(8);
	min-height: 250px;
	border-radius: rem(8);
	background-color: $primary-600;
	position: relative;
	&.users--2 {
		.qela-place-inner {
			gap: 1rem;
			@media screen and (max-width: 400px) {
				gap: 0rem;
			}
		}
		.qela-place-card {
			&:nth-child(1) {
				margin-top: 40px;
			}
			&:nth-child(2) {
				margin-top: 68px;
			}
		}
	}
	&.users--3 {
		.qela-place-inner {
			align-items: center;
			height: 100%;
		}
		.qela-place-card {
			&:nth-child(1) {
				margin-top: 0px;
			}
		}
	}
	> div {
		&:first-child {
			position: absolute;
			height: 250px;
			top: 5px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}
.qela-place-inner {
	display: flex;
	gap: 0.5rem;
	align-items: flex-start;
	justify-content: center;
	min-height: 250px;
	@media screen and (max-width: 400px) {
		gap: 0rem;
	}
}
.qela-place-card {
	background-color: $white;
	padding: rem(4) rem(8) rem(14) rem(8);
	border-radius: rem(12);
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: rem(4);
	position: relative;
	border: 2px solid transparent;
	flex: 0 0 102px;
	min-height: 128px;
	font-size: rem(12);
	transition:
		border-color 0.25s ease 0s,
		bbackground-color 0.25s ease 0s;

	&:nth-child(1) {
		order: 2;
		margin-top: 25px;
		z-index: 1;
	}
	&:nth-child(2) {
		order: 1;
		margin-top: 50px;
		@media screen and (max-width: 400px) {
			transform: translateX(17px);
		}
	}
	&:nth-child(3) {
		order: 3;
		margin-top: 66px;
		@media screen and (max-width: 400px) {
			transform: translateX(-17px);
		}
	}
	&.active {
		border-color: $secondary-600;
		background-color: $secondary-200;
	}
	&:not(.collapsed) {
		.qela-avatar-inner {
			&::before {
				transform: $accordion-icon-transform;
			}
		}
	}
	.qela-voice,
	.qela-awards {
		position: absolute;
		left: 4px;
		bottom: calc(100% - 10px);
		z-index: 4;
	}
	.qela-avatar-inner {
		padding: rem(20) 0 rem(10) 0;
		align-self: flex-start;
		&::before {
			order: 1;
			align-self: center;
			line-height: 1;
			transition: $accordion-icon-transition;
		}
	}
}
.qela-place-name {
	line-height: 15.6px;
	text-align: center;
	display: flex;
	align-items: center;
	height: 32px;
	.qela-clamp {
		--clamp-line: 2;
		height: auto;
	}
}
.qela-place-num {
	position: absolute;
	bottom: -23px;
	z-index: 1;
	width: 28px;
	height: 28px;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	color: $primary;
	background-color: $secondary;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 1px solid $primary;
	box-shadow: 0px 0px 0px 2px $secondary;
}
