.qela-progress {
	width: 100%;
	position: relative;
	display: flex;
	height: $progress-height;
	border-radius: $progress-border-radius;
	font-size: $progress-font-size;
	overflow: hidden;

	& > div {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.left {
		width: 100%;
		background: $progress-bar-bg;
		color: var(--bs-white);
	}

	.right {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		background: $progress-bg;
		color: $progress-bar-color;
		clip-path: inset(-1px -1px -1px var(--percent));
	}
}

.qela-progress2 {
	position: relative;

	// overflow: visible;
	.progress-bar {
		overflow: visible;
		clip-path: inset(0 0 0 var(--percent));

		span {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

$dasharray: 327;

.qela-preload {
	position: relative;
	width: 120px;
	height: 120px;

	svg {
		position: relative;
		width: 100%;
		height: 100%;
		transform: rotate(270deg);

		circle {
			fill: none;
			stroke-width: 4;
			stroke: var(--bs-ql-info-700);
			stroke-dasharray: $dasharray;

			&:nth-child(2) {
				stroke-dashoffset: calc($dasharray - ($dasharray * var(--num)) / 100);
				stroke: $yellow;
				stroke-width: 5;
			}
		}
	}
}
