.qela-alert {
	position: relative;
	padding-left: 40px;
	font-size: 14px;
	letter-spacing: 0.2px;

	&.alert {
		span {
			position: absolute;
			left: 16px;
			top: 1em;

			&::before {
				font-size: 16px;
			}
		}

		a {
			text-decoration: none;
			font-size: 14px;
			letter-spacing: 0.2px;
		}
	}

	&.alert-secondary {
		a {
			color: $violet-dark-2;
		}
	}
}