.qela-badge {
	display: inline-flex;
	align-items: center;
	gap: 4px;

	&:not(:last-child) {
		margin-right: 16px;
	}

	.badge {
		&.text-bg-secondary {
			color: $white  !important;
			font-weight: 600;
		}
	}

	&.small {
		font-size: 12px;
		border-radius: 14px;

		[class^="ic-"],
		[class*="ic-"] {

			&:before {
				font-size: 14px;
			}
		}

		.badge {
			font-size: 12px;
			padding: 2px 4px;
		}
	}
}