.qela-breadcrumb {
	display: block;

	.breadcrumb-item {
		display: inline;

		&:not(:last-child) {
			margin: 0px 12px 0px 0px;
		}

		&:not(:first-child) {
			a {
				padding-left: 20px;
			}
		}
	}

	a {
		text-decoration: none;
		position: relative;

		&::before {
			left: 0;
			top: 0.1em;
			font-size: 16px;
			position: absolute;
		}
	}
}