.disable-message {
	padding: 14px 42px;
	background: #E5E3FF;
	border-radius: 10px;

	.text {
		position: relative;
		font-size: 14px;
		line-height: 143%;
		letter-spacing: 0.2px;
		margin: 0px 0px 8px 0px;

		&::before {
			font-size: 16px;
			color: $violet;
			position: absolute;
			left: -26px;
			top: 2px;

		}
	}

	.link-verified {
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.2px;
		color: $violet-dark-2;
		text-decoration: none;
	}
}