.qela-list {
	.list-group-item {
		border-radius: 10px;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
	}
}

.qela-condenced {
	.checkbox-container {
		padding-right: 60px;
		position: relative;

		&.active {
			span {
				border-color: $violet;
				background-color: $violet;

				&::before {
					opacity: 1;
				}
			}
		}

		span {
			position: absolute;
			border: 1px solid $black;
			border-radius: 50%;
			width: 1.25em;
			height: 1.25em;
			right: 16px;
			top: 50%;
			transform: translateY(-50%);
			display: flex;
			align-items: center;
			justify-content: center;

			&::before {
				font-size: 16px;
				opacity: 0;
				color: $white;
			}
		}
	}

	.radiobutton-container {
		padding-right: 60px;
		position: relative;

		img {
			margin-right: 1rem;
		}

		&.active {
			span {
				border-color: $violet;
				background-color: $white;
				border-width: 2px;

				&::before {
					opacity: 1;
					color: $violet;
				}
			}
		}

		&.img-pad {
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
			padding-left: 0.5rem;
		}

		span {
			position: absolute;
			border: 1px solid $black;
			border-radius: 50%;
			width: 22px;
			height: 22px;
			right: 16px;
			top: 50%;
			transform: translateY(-50%);
			display: flex;
			align-items: center;
			justify-content: center;

			&::before {
				content: "";
				width: 14px;
				height: 14px;
				border-radius: 50%;
				background-color: $violet;
				opacity: 0;
			}
		}
	}

}

.qela-description {
	.list-group-item {
		box-shadow: none;

		&.active {
			border: none;
		}

		&:not(:last-child) {
			border-bottom: 1px solid $info;
		}
	}
}

.qela-custom {
	.btn {
		border-radius: 0 10px 10px 0;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: center;
		gap: 8px;
	}
}

.btn-copyed {
	border: none;
	background-color: transparent;

	&[class="ic-"],
	[class*="ic-"] {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		gap: 10px;
		color: $lightgray-3;

		&.filled {
			color: $green;
			display: none;

			&::before {
				color: $green;
			}
		}
	}

	&.success {

		&[class="ic-"],
		[class*="ic-"] {
			display: none;

			&.filled {
				display: flex;
			}
		}
	}
}

.qela-icon {
	width: 30px;
	height: 30px;
	background-color: $secondary;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: $white;
	border-radius: 7px;

	&::before {
		font-size: 18px;
	}
}