.qela-list-group {
	.list-group-item {
		border-radius: 10px;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
		display: flex;
		align-items: center;
		font-size: 17px;
		flex-direction: row-reverse;
		justify-content: space-between;

		&:not(:last-child) {
			margin: 0px 0px 8px 0px;
		}
	}

	.form-check-input[type=checkbox] {
		border-radius: 50%;
	}

	.form-check-input {
		width: 1.25em;
		height: 1.25em;
		margin: 0;
	}

	.form-check-label {
		margin: 0px 25px 0px 0px;
	}
}