.qela-list-group {
	.list-group-item {
		border-radius: 10px;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
		font-size: 17px;
	}

	.checkbox-container {
		padding-right: 60px;
		position: relative;

		&.active {
			span {
				border-color: $violet;
				background-color: $violet;

				&::before {
					opacity: 1;
				}
			}
		}

		span {
			position: absolute;
			border: 1px solid $black;
			border-radius: 50%;
			width: 1.25em;
			height: 1.25em;
			right: 16px;
			top: 50%;
			transform: translateY(-50%);
			display: flex;
			align-items: center;
			justify-content: center;

			&::before {
				font-size: 17px;
				opacity: 0;
				color: $white;
			}
		}
	}
}