.modal-sm {
	width: 270px;
	margin: 0 auto;

	.modal-content {
		background: rgba(242, 242, 242, 0.8);
		backdrop-filter: blur(11px);
	}

	.modal-header {
		padding-top: 16px;
		padding-bottom: 2px;
		padding-right: 16px;

		h1 {
			font-weight: 500;
			font-size: 17px;
			line-height: 129%;
			text-align: center;
			letter-spacing: -0.408px;
			color: $black;
		}
	}

	.modal-body {
		padding-top: 0;

		p {
			margin: 0;
			text-align: center;
			font-size: 13px;
			line-height: 18px;
		}
	}

	.modal-footer {
		padding: 0;
		display: block;
		overflow: hidden;
	}

	.modal-btn {
		font-size: 16px;
		line-height: 138%;
		letter-spacing: -0.408px;
		color: $violet-dark-2;
		display: block;
		width: 100%;
		padding: 10px;
		background-color: transparent;
		border: none;
		border-top: 1px solid rgba(60, 60, 67, 0.36);
	}
}