.qela-item {
	background-color: $white;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
	border-radius: 8px;
	padding: 16px 16px 24px 16px;

	h2 {
		padding-bottom: 16px;
	}

	.body-item {
		display: flex;
	}
}

.time {
	display: flex;
	margin: 0px 16px 0px 0px;

	.label {
		font-size: 12px;
		line-height: 16px;
		color: rgba(0, 0, 0, 0.7);
		margin: 0px 4px 0px 0px;
	}

	.progress {
		border: 1px solid $yellow;
		background-color: white;
	}

	.progress-bar {
		font-size: 10px;
		line-height: 12px;
		color: $black;
		font-size: 400;
		padding: 2px;
		background-color: $yellow;
		overflow: visible;
	}
}

.formula {
	display: flex;
	align-items: center;

	.label {
		font-size: 12px;
		line-height: 16px;
		color: rgba(0, 0, 0, 0.7);
		margin: 0px 4px 0px 0px;
	}

	.value {
		border-radius: 14px;
		color: $white;
		background-color: $violet;
		font-weight: 600;
		font-size: 10px;
		line-height: 100%;
		letter-spacing: -0.05em;
		padding: 2px 4px 4px 4px;
	}
}

.finished {
	margin: 0px 16px 0px 0px;

	.value {
		border-radius: 14px;
		color: $black;
		background-color: $lightgray-2;
		padding: 2px 4px 2px 4px;

		font-size: 10px;
		line-height: 12px;
	}
}