.text-editor {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $dark;
		padding: 16px 0px 12px 0px;
	}

	h1 {
		font-weight: 400;
		font-size: 28px;
		line-height: 33px;
		margin: 0;
		text-align: left;
	}

	h2 {
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
	}

	h3 {
		font-weight: 500;
		font-size: 18px;
		line-height: 110%;
	}

	h4 {
		font-weight: 500;
		font-size: 16px;
		line-height: 110%;
	}

	h5 {
		font-weight: 500;
		font-size: 15px;
		line-height: 110%;
	}

	h6 {
		font-weight: 600;
		font-size: 14px;
		line-height: 110%;
	}

	p {
		font-size: 16px;
		line-height: 130%;
		color: $dark;
		margin-bottom: 24px;
	}

	b {
		font-weight: 600;
	}

	a {
		display: block;
		font-weight: 500;
		font-size: 16px;
		line-height: 130%;
		color: $violet-dark-2;
		margin-bottom: 24px;
	}

	ul,
	ol {
		margin: 0;
		padding: 0;

		li {
			list-style: none;
			position: relative;
			padding: 0px 0px 0px 24px;
			line-height: 130%;
			margin: 0px 0px 16px 0px;
		}
	}

	ul {
		li {
			&::before {
				content: "\e903";
				font-family: 'icons';
				font-size: 14px;
				position: absolute;
				top: 0;
				left: 7px;
				color: $dark;
			}
		}
	}

	>ol {
		counter-reset: li;

		>li {
			&::before {
				counter-increment: li;
				content: "" counters(li, '')'.';
				position: absolute;
				top: 0;
				left: 0;
				font-size: 16px;
				text-align: right;
				color: $dark;
				max-height: 20px;
				width: 20px;
			}
		}
	}

	img {
		display: block;
		width: 100%;
		padding: 0px 0px 24px 0px;
	}

}