<ul class="nav nav-pills nav-fill bg-transparent shadow-none qela-nav">
	<li class="nav-item">
		<a class="nav-link" href="#">
			<i class="ic-home icon"></i>
			<i class="ic-home-filled icon-filled"></i>
						Home
					</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">
			<i class="ic-user icon"></i>
			<i class="ic-user-filled icon-filled"></i>
						Profile
					</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">
			<i class="ic-diamond icon"></i>
			<i class="ic-diamond-filled icon-filled"></i>
						Quests
					</a>
	</li>
	<li class="nav-item">
		<a class="nav-link active" href="#">
			<i class="ic-voting icon"></i>
			<i class="ic-voting-filled icon-filled"></i>
						Voting
					</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">
			<i class="ic-qela icon"></i>
			<i class="ic-qela-filled-28 icon-filled"></i>
						Organization
					</a>
	</li>
</ul>