{# Button components data #}
{% set btnsComponents = [
	{
		button: true,
		type: "primary",
		classes: "",
		text: "Primary",
		disabled: false
	}, {
		button: true,
		type: "primary",
		classes: "",
		text: "Primary disabled",
		disabled: true
	}, {
		button: true,
		type: "secondary",
		classes: "",
		text: "Secondary",
		disabled: false
	}, {
		button: true,
		type: "secondary",
		classes: "",
		text: "Secondary disabled",
		disabled: true
	}, {
		button: true,
		type: "info",
		classes: "",
		text: "Info",
		disabled: false
	}, {
		button: true,
		type: "info",
		classes: "",
		text: "Info disabled",
		disabled: true
	}, {
		button: true,
		type: "light",
		classes: "",
		text: "Light",
		disabled: false
	}, {
		button: true,
		type: "light",
		classes: "",
		text: "Light disabled",
		disabled: true
	}, {
		button: true,
		type: "outline-secondary",
		classes: "",
		text: "Outline-secondary",
		disabled: false
	}, {
		button: true,
		type: "outline-secondary",
		classes: "",
		text: "Outline-secondary disabled",
		disabled: true
	},{
		button: true,
		type: "danger",
		classes: "",
		text: "Danger",
		disabled: false
	}, {
		button: true,
		type: "danger",
		classes: "",
		text: "Danger disabled",
		disabled: true
	},{
		button: true,
		type: "warning",
		classes: "",
		text: "Warning",
		disabled: false
	}, {
		button: true,
		type: "warning",
		classes: "",
		text: "Warning disabled",
		disabled: true
	},{
		button: true,
		type: "success",
		classes: "",
		text: "Success",
		disabled: false
	}, {
		button: true,
		type: "success",
		classes: "",
		text: "Success disabled",
		disabled: true
	}
] %}

{% set btnsIconComponents = [
	{
		button: true,
		type: "primary",
		classes: "ic-right ic-chevron-right",
		text: "Icon right",
		disabled: false
	},
	{
		button: true,
		type: "primary",
		classes: "ic-chevron-left",
		text: "Icon left",
		disabled: false
	},{
		button: true,
		type: "success",
		classes: "ic-check-filled",
		text: "",
		disabled: false
	},{
		button: true,
		type: "success",
		classes: "ic-check-filled",
		text: "",
		disabled: true
	},{
		button: true,
		type: "primary",
		classes: "ic-right ic-chevron-left success",
		text: "Success status",
		disabled: false
	}
] %}

{% set btnsOnlyIconComponents = [
	{
		button: true,
		type: "primary",
		classes: "ic-chevron-left",
		text: "",
		disabled: false
	},{
		button: true,
		type: "primary",
		classes: "btn-sm ic-chevron-right",
		text: "",
		disabled: false
	}
] %}

{% set btnsSizeComponents = [
	{
		button: true,
		type: "primary",
		classes: "",
		text: "Primary lg",
		disabled: false
	},{
		button: true,
		type: "primary",
		classes: "btn-sm",
		text: "Primary sm",
		disabled: false
	}, {
		button: true,
		type: "link",
		classes: "ic-right ic-chevron-right",
		text: "Link secondary whith icon",
		disabled: false
	}, {
		button: true,
		type: "link",
		classes: "btn-sm ic-right ic-chevron-right",
		text: "Link secondary whith icon",
		disabled: false
	}
] %}

{% set btnsLinksComponents = [
	{
		button: true,
		type: "link",
		classes: "",
		text: "Link secondary",
		disabled: false
	}, {
		button: true,
		type: "link",
		classes: "",
		text: "Link secondary disabled",
		disabled: true
	}, {
		button: true,
		type: "link",
		classes: "text-info",
		text: "Link info",
		disabled: false
	}, {
		button: true,
		type: "link",
		classes: "text-info",
		text: "Link info disabled",
		disabled: true
	}, {
		button: true,
		type: "link",
		classes: "ic-chevron-left",
		text: "Link secondary whith icon",
		disabled: false
	}, {
		button: true,
		type: "link",
		classes: "ic-right ic-chevron-right",
		text: "Link secondary whith icon",
		disabled: false
	}
] %}

{% set btnsPayComponents = [
	{
		class: 'apple-white',
		img: 'apple-black.svg',
		alt: 'apple Pay'
	}, {
		class: 'apple-black',
		img: 'apple-white.svg',
		alt: 'apple Pay'
	}, {
		class: 'google-white',
		img: 'google-gray.svg',
		alt: 'google Pay'
	}, {
		class: 'google-black',
		img: 'google-white.svg',
		alt: 'google Pay'
	}
] %}

{% set btnsRoundComponents = {
	class: 'ic-camera-plus'
} %}

{# Button components data #}