{% macro cardCheckout(card) %}
	<div class="card qela-card-shop qela-card-row p-3 d-grig gap-3">
		<div class="d-flex gap-2">
			<div class="qela-ibg">
				<img src="img/shop/{{card.imgSrc}}" alt="{{card.imgAlt}}">
			</div>
			<small class="card-text">{{card.cardText}}</small>
		</div>
		<div class="d-flex gap-2 justify-content-between align-items-center fs-7">
			<div class="d-flex gap-3 align-items-center">
				<button type="button" class="btn-ic ic-add"></button>
				<span>2 шт.</span>
				<button type="button" class="btn-ic ic-minus-circled" disabled></button>
			</div>
			<span>150 балів</span>
		</div>
		<span class="display-7">Доступно 1</span>
	</div>
{% endmacro %}