{% import "html/data/nav-tab/_tabData.njk" as data %}
{% from "html/includes/tab/_tab-bar.njk" import tabBar %}

<!DOCTYPE html>
<html lang="ua">

	{% set title = "Layouts" %}
	{% include "_head.njk" %}

	<body>
		{% include "html/components/_aside-layouts.njk" %}
		<main class="qela-fullscreen ">
			<div class="qela-top bg-white">
				<nav class="navbar bg-transparent qela-navbar">
					<a href="#" class="btn btn-link btn-sm text-black ic-chevron-left start-0 ms-3"></a>
					<span class="h6 text-center">
					Voting
				</span>
				</nav>
			</div>
			<!--content-->
			<div class="flex-grow-1">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate et deserunt dolor dignissimos rerum ut quos sapiente voluptatem ad. Perferendis ab vitae porro deleniti? Obcaecati excepturi unde numquam corrupti tempora.</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate et deserunt dolor dignissimos rerum ut quos sapiente voluptatem ad. Perferendis ab vitae porro deleniti? Obcaecati excepturi unde numquam corrupti tempora.</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate et deserunt dolor dignissimos rerum ut quos sapiente voluptatem ad. Perferendis ab vitae porro deleniti? Obcaecati excepturi unde numquam corrupti tempora.</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate et deserunt dolor dignissimos rerum ut quos sapiente voluptatem ad. Perferendis ab vitae porro deleniti? Obcaecati excepturi unde numquam corrupti tempora.</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate et deserunt dolor dignissimos rerum ut quos sapiente voluptatem ad. Perferendis ab vitae porro deleniti? Obcaecati excepturi unde numquam corrupti tempora.</p>
				<h1>lorem</h1>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate et deserunt dolor dignissimos rerum ut quos sapiente voluptatem ad. Perferendis ab vitae porro deleniti? Obcaecati excepturi unde numquam corrupti tempora.</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate et deserunt dolor dignissimos rerum ut quos sapiente voluptatem ad. Perferendis ab vitae porro deleniti? Obcaecati excepturi unde numquam corrupti tempora.</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate et deserunt dolor dignissimos rerum ut quos sapiente voluptatem ad. Perferendis ab vitae porro deleniti? Obcaecati excepturi unde numquam corrupti tempora.</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate et deserunt dolor dignissimos rerum ut quos sapiente voluptatem ad. Perferendis ab vitae porro deleniti? Obcaecati excepturi unde numquam corrupti tempora.</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate et deserunt dolor dignissimos rerum ut quos sapiente voluptatem ad. Perferendis ab vitae porro deleniti? Obcaecati excepturi unde numquam corrupti tempora.</p>
				<h1>lorem</h1>
				<p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate et deserunt dolor dignissimos rerum ut quos sapiente voluptatem ad. Perferendis ab vitae porro deleniti? Obcaecati excepturi unde numquam corrupti tempora.</p>
				<p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate et deserunt dolor dignissimos rerum ut quos sapiente voluptatem ad. Perferendis ab vitae porro deleniti? Obcaecati excepturi unde numquam corrupti tempora.</p>
				<p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate et deserunt dolor dignissimos rerum ut quos sapiente voluptatem ad. Perferendis ab vitae porro deleniti? Obcaecati excepturi unde numquam corrupti tempora.</p>
				<p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate et deserunt dolor dignissimos rerum ut quos sapiente voluptatem ad. Perferendis ab vitae porro deleniti? Obcaecati excepturi unde numquam corrupti tempora.</p>
				<p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate et deserunt dolor dignissimos rerum ut quos sapiente voluptatem ad. Perferendis ab vitae porro deleniti? Obcaecati excepturi unde numquam corrupti tempora.</p>
				<p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate et deserunt dolor dignissimos rerum ut quos sapiente voluptatem ad. Perferendis ab vitae porro deleniti? Obcaecati excepturi unde numquam corrupti tempora.</p>
				<p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate et deserunt dolor dignissimos rerum ut quos sapiente voluptatem ad. Perferendis ab vitae porro deleniti? Obcaecati excepturi unde numquam corrupti tempora.</p>
				<p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate et deserunt dolor dignissimos rerum ut quos sapiente voluptatem ad. Perferendis ab vitae porro deleniti? Obcaecati excepturi unde numquam corrupti tempora.</p>
			</div>
			<!--content-->
			<div class="qela-bottom bg-white">
				{{tabBar(data.tabBarComponetData, "Головна")}}
			</div>
		</main>
		<!-- =========================== -->
		{% include "_js.njk" %}
	</body>

</html>