{% import "html/data/nav-tab/_tabData.njk" as data %}
{% from "html/includes/tab/_tab-bar.njk" import tabBar %}

<!DOCTYPE html>
<html lang="ua">

	{% set title = "Shop empty" %}
	{% include "_head.njk" %}

	<body>
		{% set title = "Магазин" %}
		{% include "html/components/_aside-layouts.njk" %}
		<main class="qela-fullscreen">
			<div class="qela-top bg-white">
				{% set type = 'logoLeft' %}
				{% include "html/includes/nav/_navbar.njk" %}
			</div>
			<!--content-->
			<div class="flex-grow-1 d-flex">
				<div class="flex-grow-1 d-flex flex-column align-items-center justify-content-center gap-32px">
					<i class="ic-shop text-info-400 ico-240px"></i>
					<div class="fs-2 fw-semibold text-center text-info-800">Ще немає жодного товару</div>
				</div>
			</div>
			<!--content-->
			<div class="qela-bottom bg-white">
				{{tabBar(data.tabBarComponetData, "Магазин")}}
			</div>
		</main>
		<!-- =========================== -->
		{% include "_js.njk" %}
	</body>

</html>