<!DOCTYPE html>
<html lang="ua">

	{% set title = "Error page" %}
	{% include "_head.njk" %}

	<body>
		{% include "html/components/_aside-layouts.njk" %}
		<main class="qela-fullscreen bg-white">
			<!--content-->
			<div class="flex-grow-1 d-flex align-items-center">
				<div class="flex-grow-1">
					<div class="text-center py-5 px-2 mb-4">
						<img src="img/error-en.svg" class="img-fluid" alt="Oooops!">
						<!-- <img src="img/error-ua.svg" class="img-fluid" alt="От халепа!"> -->
						<div class="mt-2 fs-5">Something went wrong</div>
					</div>
					<div class="py-4 px-5">
						<a href="#" class="btn btn-primary">Back</a>
					</div>
				</div>
			</div>
			<!--content-->
		</main>
		<!-- =========================== -->
		{% include "_js.njk" %}
	</body>

</html>