<section class="d-grid gap-3">
	<!-- Alert -->
	<h2 class="h1 mt-4">Alert</h2>
	<div class="alert alert-danger qela-alert fade show" role="alert">
		<div class="d-flex align-items-center gap-3">
			<i class="ic-alert-triangle text-danger"></i>
			<div class="flex-grow-1">Увага! Підписка тільки на місяц</div>
			<div class="d-flex gap-4 align-items-start">
				<a href="#" class="text-danger-700">Підтвердити</a>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>
	</div>

	<div class="alert alert-warning qela-alert fade show" role="alert">
		<div class="d-flex align-items-center gap-3">
			<i class="ic-alert-triangle text-warning-500"></i>
			<div class="flex-grow-1">Увага! Підписка тільки на місяць</div>
			<div class="d-flex gap-4 align-items-start">
				<a href="#" class="text-warning-800">Підтвердити</a>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>
	</div>

	<div class="alert alert-info qela-alert fade show" role="alert">
		<div class="d-flex align-items-center gap-3">
			<i class="ic-error-warning-fill text-info"></i>
			<div class="flex-grow-1">Увага! Підписка тільки на місяць</div>
			<div class="d-flex gap-4 align-items-start">
				<a href="#" class="text-info-700">Підтвердити</a>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>
	</div>


	<div class="alert alert-success qela-alert fade show" role="alert">
		<div class="d-flex align-items-center gap-3">
			<i class="ic-check-filled text-success-700"></i>
			<div class="flex-grow-1">Увага! Підписка тільки на місяць</div>
			<div class="d-flex gap-4 align-items-start">
				<a href="#" class="text-success-800">Підтвердити</a>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>
	</div>

	<div class="alert alert-secondary qela-alert p-3" role="alert">
		<div class="d-flex flex-column align-items-center gap-2">
			<i class="ic-success ic-large text-secondary"></i>
			<div class="mb-2">Увага! Підписка тільки на місяць</div>
			<a href="#">Підтвердити</a>
		</div>
	</div>
</section>