{% from "html/includes/ui/_avatar.njk" import avatar %}
{% import "html/data/ui/_avatarData.njk" as data %}
<!-- Avatars  -->
<section class="d-grid gap-3">
	<h2 class="h1 mt-4">Avatars</h2>
	<!-- Avatars 100 -->
	<h4>Avatars 100</h4>
	<div class="d-inline-flex gap-2 flex-wrap">
		{% for item in data.avatarsXlComponent %}
			{{ avatar(item) }}
		{% endfor %}
	</div>
	<!-- Avatars 70 -->
	<h4>Avatars 70</h4>
	<div class="d-inline-flex gap-2 flex-wrap">
		{% for item in data.avatarsLgComponent %}
			{{ avatar(item) }}
		{% endfor %}
	</div>
	<!-- Avatars 40 -->
	<h4>Avatars 40</h4>

	<div class="d-inline-flex gap-2 flex-wrap">
		{% for item in data.avatarsMdComponent %}
			{{ avatar(item) }}
		{% endfor %}
	</div>
	<!-- Avatars 30-->
	<h4>Avatars 30</h4>
	<div class="d-inline-flex gap-2 flex-wrap">
		{% for item in data.avatarsSmComponent %}
			{{ avatar(item) }}
		{% endfor %}
	</div>
	<!-- Avatars 30 Users-->
	<h4>Avatars 30 (Users)</h4>
	<div class="d-flex align-items-center">
		<div class="qela-avatar-inner">
			{% for item in data.avatarsSmComponent %}
				{{ avatar(item) }}
			{% endfor %}
		</div>
		<span class="text-info-900 ms-2">120</span>
	</div>

</section>