<!-- FIX Avatars  -->
<section class="d-grid gap-3">
	<h2 class="h1 mt-4">Avatars</h2>
	<!-- FIX Avatars 100-->
	<h4>Avatars 100</h4>
	<div class="d-inline-flex gap-2 flex-wrap">
		<a href="#" class="qela-avatar qela-ibg online" style="--img-size: 100px">
			<img src="img/avatar.jpg" alt="#" />
		</a>
		<a href="#" class="qela-avatar qela-ibg" style="--img-size: 100px"> J </a>
		<a href="#" class="qela-avatar qela-ibg" style="--img-size: 100px">
			<img src="img/type-logo.svg" alt="#" />
		</a>
		<a href="#" class="qela-avatar" style="--img-size: 100px">
			<span class="ic-img-plus text-info-500"></span>
		</a>
	</div>
	<!-- FIX Avatars 70-->
	<h4>Avatars 70</h4>
	<div class="d-inline-flex gap-2 flex-wrap">
		<a href="#" class="qela-avatar qela-ibg" style="--img-size: 70px">
			<img class="border-0" src="img/avatar.jpg" alt="#" />
		</a>
		<a href="#" class="qela-avatar qela-ibg" style="--img-size: 70px"> J </a>
		<a href="#" class="qela-avatar qela-ibg" style="--img-size: 70px">
			<img src="img/type-logo.svg" alt="#" />
		</a>
	</div>
	<!-- FIX Avatars 40-->
	<h4>Avatars 40</h4>
	<div class="d-inline-flex gap-2 flex-wrap">
		<a href="#" class="qela-avatar qela-ibg border-1 online-sm" style="--img-size: 40px">
			<img src="img/avatar.jpg" alt="#" />
		</a>
		<a href="#" class="qela-avatar qela-ibg fs-6" style="--img-size: 40px">
			<small>J</small>
		</a>
		<a href="#" class="qela-avatar qela-ibg" style="--img-size: 40px">
			<img src="img/type-logo.svg" alt="#" />
		</a>
	</div>
	<!-- FIX Avatars 30-->
	<h4>Avatars 30</h4>
	<div class="d-inline-flex gap-2 flex-wrap">
		<a href="#" class="qela-avatar qela-ibg" style="--img-size: 30px">
			<img src="img/avatar.jpg" alt="#" />
		</a>
		<a href="#" class="qela-avatar qela-ibg fs-6" style="--img-size: 30px">
			<small><small>J</small></small>
		</a>
		<a href="#" class="qela-avatar qela-ibg" style="--img-size: 30px">
			<img src="img/type-logo.svg" alt="#" />
		</a>
	</div>
	<!-- FIX Avatars 30 Users-->
	<h4>Avatars 30 (Users)</h4>
	<div class="d-flex align-items-center">
		<div class="qela-avatar-inner">
			<a href="#" class="qela-avatar qela-ibg" style="--img-size: 30px">
				<img class="border-1" src="img/avatar.jpg" alt="#" />
			</a>
			<a href="#" class="qela-avatar qela-ibg fs-6" style="--img-size: 30px">
				<small><small>J</small></small>
			</a>
			<a href="#" class="qela-avatar qela-ibg" style="--img-size: 30px">
				<img class="border-1" src="img/type-logo.svg" alt="#" />
			</a>
		</div>
		<span class="text-info-900 ms-2">120</span>
	</div>

</section>