<section class="d-grid gap-3">
    <!-- Breadcrambs -->
    <h2 class="h1 mt-4" id="h3Btn1">Breadcrambs</h2>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb qela-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Medical cannabis must be legal!</a></li>
            <li class="breadcrumb-item"><a href="#" class="ic-chevron-left">Pass the bill on medical cannabis medical
                    cannabis</a></li>
        </ol>
    </nav>
</section>