<section class="position-relative d-grid gap-3">
  <!-- Popups -->
  <h2 class="h1 mt-4">Popups</h2>
  <h3>Popup options</h3>
  <button
    type="button"
    class="btn btn-primary w-100 mt-2 mb-4"
    data-bs-toggle="modal"
    data-bs-target="#modal1"
  >
    <strong>click (modal)</strong>
  </button>
  <h3>Popup-sheet</h3>
  <button
    class="btn btn-primary"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasBottom"
    aria-controls="offcanvasBottom"
  >
    Toggle bottom offcanvas
  </button>
  <h3>Popup title-options</h3>
  <button
    type="button"
    class="btn btn-primary w-100 mt-2 mb-4"
    data-bs-toggle="modal"
    data-bs-target="#modal3"
  >
    <strong>click (modal)</strong>
  </button>
  <h3>Popup title-options + icon svg</h3>
  <button
    type="button"
    class="btn btn-primary w-100 mt-2 mb-4"
    data-bs-toggle="modal"
    data-bs-target="#modal4"
  >
    <strong>click (modal)</strong>
  </button>

  <!-- Popup title-options -->
  <div
    class="modal fade"
    id="modal1"
    tabindex="-1"
    aria-labelledby="modal1Label"
    aria-modal="true"
    role="dialog"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content bg-transparent position-absolute fixed-bottom">
        <div class="modal-body p-0 mb-3">
          <ul class="list-group qela-description">
            <li class="list-group-item">
              <a href="#" class="d-flex justify-content-center gap-3">
                <div class="d-flex gap-2 lh-0">Remove current photo</div>
              </a>
            </li>
            <li class="list-group-item">
              <a href="#" class="d-flex justify-content-center gap-3">
                <div class="d-flex gap-2 lh-0">Take photo</div>
              </a>
            </li>
            <li class="list-group-item">
              <a href="#" class="d-flex justify-content-center gap-3">
                <div class="d-flex gap-2 lh-0">Choose from gallery</div>
              </a>
            </li>
          </ul>
        </div>
        <div class="modal-footer p-0">
          <button
            type="button"
            class="btn btn-light w-100 fw-normal"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Popup-sheet -->
  <div
    class="offcanvas offcanvas-bottom qela-offcanvas"
    tabindex="-1"
    id="offcanvasBottom"
    aria-labelledby="offcanvasBottomLabel"
  >
    <div class="offcanvas-header p-0 d-block">
      <nav class="navbar bg-transparent qela-navbar">
        <a href="#" class="btn-back ic-chevron"></a>
        <span class="h6 text-center"> Campaigns </span>
        <button
          type="button"
          class="btn btn-link btn-sm text-secondary"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        >
          Cancel
        </button>
      </nav>
    </div>
    <div class="offcanvas-body">
      <h5 class="h1 mb-3">Вимоги до фото</h5>
      <p>Селфі з першою сторінкою паспорта чи ID карткою</p>
      <ol>
        <li>
          <p>Фото має бути чітким та при хорошому освітленні</p>
        </li>
        <li>
          <p>Фото має бути чітким та при хорошому освітленні</p>
        </li>
        <li>
          <p>
            Фото має бути чітким та при хорошому освітленні Написи та позначення
            на. Вашому паспорті повинні добре зчитуватись на фото
          </p>
        </li>
        <li>
          <p>Фото має бути чітким та при хорошому освітленні</p>
        </li>
      </ol>
    </div>
  </div>
  <!-- Popup title-options -->
  <div
    class="modal fade"
    id="modal3"
    tabindex="-1"
    aria-labelledby="modal1Label"
    aria-modal="true"
    role="dialog"
  >
    <div class="modal-dialog modal-sm modal-dialog-centered qela-modal">
      <div class="modal-content">
        <div class="modal-header pb-1">
          <h5 class="modal-title text-center" id="modal1Label">
            Voting available for verified users only
          </h5>
        </div>
        <div class="modal-body pt-0">
          <p class="m-0 text-center">Get verified and to get access</p>
        </div>
        <div class="modal-footer p-0">
          <button type="button" class="btn btn-link w-100 text-secondary">
            Get verified
          </button>
          <button
            type="button"
            class="btn btn-link w-100 text-secondary"
            data-bs-dismiss="modal"
          >
            Next time
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Popup title-options + icon -->
  <div
    class="modal fade"
    id="modal4"
    tabindex="-1"
    aria-labelledby="modal1Label"
    aria-modal="true"
    role="dialog"
  >
    <div class="modal-dialog modal-sm modal-dialog-centered qela-modal">
      <div class="modal-content">
        <div class="modal-header pb-1 flex-column">
          <img
            class="mb-3 pt-3"
            width="60"
            src="img/icons/success-ic.svg"
            alt=""
          />
          <h5 class="modal-title text-center" id="modal1Label">
            Voting available for verified users only
          </h5>
        </div>
        <div class="modal-body pt-0">
          <p class="m-0 text-center">Get verified and to get access</p>
        </div>
        <div class="modal-footer p-0">
          <button type="button" class="btn btn-link w-100 text-secondary">
            Get verified
          </button>
          <button
            type="button"
            class="btn btn-link w-100 text-secondary"
            data-bs-dismiss="modal"
          >
            Next time
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
