<section class="d-grid gap-3">
	<h2 class="h1 mt-4">Page-status</h2>
	<!-- Step name item -->
	<h3>Step name item</h3>
	<div>
		<span class="p-2 qela-step position-relative">
			take the quiz
			<span class="qela-badge small"><span class="badge text-bg-secondary">you are here</span></span>
		</span>
		<span class="p-2 qela-step current position-relative">
			take the quiz
			<span class="qela-badge small"><span class="badge text-bg-secondary">you are here</span></span>
		</span>
		<span class="p-2 qela-step disabled position-relative">
			take the quiz
			<span class="qela-badge small"><span class="badge text-bg-secondary">you are here</span></span>
		</span>
	</div>
	<!-- Steps -->
	<h3>Steps</h3>
	<div class="d-inline-flex flex-wrap gap-1 pb-2">
		<span class="p-2 qela-step position-relative">
			watch video
			<span class="qela-badge small"><span class="badge text-bg-secondary">you are here</span></span>
		</span>
		<span class="p-2 qela-step current position-relative">
			take the quiz
			<span class="qela-badge small"><span class="badge text-bg-secondary">you are here</span></span>
		</span>
		<span class="p-2 qela-step disabled position-relative">
			share achievement
			<span class="qela-badge small"><span class="badge text-bg-secondary">you are here</span></span>
		</span>
		<span class="p-2 qela-step disabled position-relative">
			send screenshot
			<span class="qela-badge small"><span class="badge text-bg-secondary">you are here</span></span>
		</span>
	</div>
	<!-- Action block status info -->
	<h3>Action block status info</h3>
	<!-- state = Failed with chance -->
	<div class="d-flex justify-content-center align-items-center flex-column gap-2 pb-2 px-3">
		<img src="img/icons/warning-secondary.svg" width="24" height="24" alt="success">
		<span class="fs-5">Screenshot wasn't accepted</span>
	</div>
	<!-- state = getting-verified -->
	<div class="d-flex justify-content-center align-items-center flex-column gap-2 pb-2 px-3">
		<img src="img/icons/loading-secondary.svg" width="24" height="24" alt="success">
		<span class="fs-5">Checking screenshot</span>
	</div>
	<!-- state = failed-final -->
	<div class="d-flex justify-content-center align-items-center flex-column gap-2 pb-2 px-3">
		<img src="img/icons/danger-secondary.svg" width="24" height="24" alt="success">
		<span class="fs-5">Quest failed</span>
	</div>
	<!-- state = success -->
	<div class="d-flex justify-content-center align-items-center flex-column gap-2 pb-2 px-3">
		<img src="img/icons/success-ic.svg" width="24" height="24" alt="success">
		<span class="fs-5">You have successfully finished the quest</span>
	</div>
</section>