<section class="d-grid gap-3">
	<!-- Components shop -->
	<h2 class="h1 mt-4">Shop</h2>
	<h3>Card-shop</h3>
	<!-- Card shop -->
	<div class="d-flex gap-2 qela-cards-inner pb-3">
		{% set cardImgs = [
			{imgSrc:"shop-img.png",imgAlt:"Зображення 1",status:true}, 
			{imgSrc:"shop-img-2.jpg",imgAlt:"Зображення 2",status:false} 
		]%}
		{% for img in cardImgs %}
			{% include "html/includes/cards/_card-shop.njk" %}
		{% endfor %}
	</div>
	<h3>Card checkout</h3>
	{% set cardContent = {imgSrc:"shop-img.png",imgAlt:"Зображення 1", cardText:"Колекційна футболка від гурту ТНМК з автографом Колекційна футболка від гурту ТНМК з автографом"}%}
	{% from "html/includes/cards/_card-shop-checkout.njk" import cardCheckout %}
	{{cardCheckout(cardContent)}}
	<h3>Shop footers</h3>
	{% set footerType = "shop"%}
	{# {% set borderClass = "qela-footer-shadow"%} #}
	{% set counter = true %}
	{% set footerBtns = [
		{class: "btn-primary", text:"Купити"}
	]%}
	{% include "html/includes/nav/_footer.njk" %}
	{# ====================== #}
	{% set footerType = "shop"%}
	{# {% set borderClass = "qela-footer-shadow"%} #}
	{% set counter = false %}
	{% set footerBtns = [
		{class: "btn-primary", text:"Купити"}
	]%}
	{% include "html/includes/nav/_footer.njk" %}
	{% set footerType = "shop"%}
	{# {% set borderClass = "qela-footer-shadow"%} #}
	{% set counter = false %}
	{% set limit = true %}
	{% set footerBtns = [
		{class: "btn-primary", text:"Купити"}
	]%}
	{% include "html/includes/nav/_footer.njk" %}
	{# ====================== #}
	{% set footerType = "shop"%}
	{% set list = "true"%}
	{# {% set borderClass = "qela-footer-shadow"%} #}
	{% set footerBtns = [
		{class: "btn-primary", text:"Підтвердити"}
	]%}
	{% include "html/includes/nav/_footer.njk" %}
	{# ====================== #}
</section>