<section class="d-grid gap-3">
	<!-- Components shop -->
	<h2 class="h1 mt-4">Shop</h2>
	<h3>Card-shop</h3>
	<!-- Card shop -->
	<div class="d-flex gap-2 qela-cards-inner pb-3">
		{% set cardImgs = [
			{imgSrc:"shop-img.png",imgAlt:"Зображення 1",status:true}, 
			{imgSrc:"shop-img-2.jpg",imgAlt:"Зображення 2",status:false} 
		]%}
		{% for img in cardImgs %}
			{% include "html/includes/cards/_card-shop.njk" %}
		{% endfor %}
	</div>
	<h3>Card checkout</h3>
	{% set cardContent = {imgSrc:"shop-img.png",imgAlt:"Зображення 1", cardText:"Колекційна футболка від гурту ТНМК з автографом Колекційна футболка від гурту ТНМК з автографом"}%}
	{% from "html/includes/cards/_card-shop-checkout.njk" import cardCheckout %}
	{{cardCheckout(cardContent)}}
	{# ====================== #}
	<h3>Card order</h3>
	{% set cardOrders = [
		{
			title: "Продовжити оформлення",
			text: "Колекційна футболка від гурту ТНМК з автографом",
			itemContent: [
				{
					label: "Дата створення:",
					text: "15.12.2025"
				}, {
					label: "Тип:",
					text: "Фізичний",
					ic: 'ic-box'
				}, {
					label: "Статус",
					status:true
				}
			]
		},
		{	type:'lg',
			text: "Колекційна футболка від гурту ТНМК з автографом",
			itemContent: [
				{
					label: "Номер замовлення:",
					text: "0123456789"
				},{
					label: "Дата створення:",
					text: "15.12.2025"
				},{
					label: "Кількість:",
					text: "1"
				},{
					label: "Ціна (бали)::",
					text: "75"
				},
				{
					label: "Тип:",
					text: "Фізичний",
					ic: 'ic-box'
				}, {
					label: "Статус",
					status:true
				}
			]
		}
	] %}
	{% for card in cardOrders %}
		{% include "html/includes/cards/_card-shop-order.njk" %}
	{% endfor %}
	{# ====================== #}
	<h3>Shop list order</h3>
	{% set listItems = [
		{
			ic: "ic-user1", 
			title: "Одержувач", 
			itemContent: [
				{ label: "Імʼя:", text: "Ostap Kovalchuk" },
				{ label: "Номер телефону:", text: "+4915210923822" },
				{ label: "Електронна пошта:", text: "ostap@mail.com" },
				{ invalid:"Будь ласка заповніть всі необхідні поля" }
			] 
		}
	] %}
	{% for item in listItems %}
		{% include "html/includes/lists/_list-item.njk" %}
	{% endfor %}
	{# ====================== #}
	<h3>Shop footers</h3>
	{% set footerType = "shop"%}
	{# {% set borderClass = "qela-footer-shadow"%} #}
	{% set counter = true %}
	{% set footerBtns = [
		{class: "btn-primary", text:"Купити"}
	]%}
	{% include "html/includes/nav/_footer.njk" %}
	{# ====================== #}
	{% set footerType = "shop"%}
	{# {% set borderClass = "qela-footer-shadow"%} #}
	{% set counter = false %}
	{% set footerBtns = [
		{class: "btn-primary", text:"Купити"}
	]%}
	{% include "html/includes/nav/_footer.njk" %}
	{% set footerType = "shop"%}
	{# {% set borderClass = "qela-footer-shadow"%} #}
	{% set counter = false %}
	{% set limit = true %}
	{% set footerBtns = [
		{class: "btn-primary", text:"Купити"}
	]%}
	{% include "html/includes/nav/_footer.njk" %}
	{# ====================== #}
	{% set footerType = "shop"%}
	{% set list = "true"%}
	{# {% set borderClass = "qela-footer-shadow"%} #}
	{% set footerBtns = [
		{class: "btn-primary", text:"Підтвердити"}
	]%}
	{% include "html/includes/nav/_footer.njk" %}
	{# ====================== #}
	<h3>Shop card status tag</h3>
	<div class="d-flex flex-wrap gap-2">
		{% set statutsItems = [
		{
			text: 'Нове',
			ic: 'star-nofilled',
			color: 'info-900',
			bg: 'info-200'
		},
		{
			text: 'В роботі',
			ic: 'clock',
			color: 'warning-800',
			bg: 'warning-100'
		},
		{
			text: 'Відправлено',
			ic: 'send1',
			color: 'secondary',
			bg: 'secondary-200'
		},
		{
			text: 'Отримано',
			ic: 'success',
			color: 'success-800',
			bg: 'success-200'
		},
		{
			text: 'Скасовано',
			ic: 'stop',
			color: 'danger-800',
			bg: 'danger-200'
		}
	] %}
		{% from "html/includes/status/_status.njk" import statusTag %}
		{% for tag in statutsItems %}
			{{statusTag(tag)}}
		{% endfor %}
	</div>
	{# ====================== #}
</section>